@CHARSET "UTF-8";
.ui-jqgrid{border:0;font-family:NanumGothic;margin:0 20px 0 0;}
.ui-jqgrid .ui-state-default{background:#fff;}
.ui-jqgrid .ui-jqgrid-view{font-size:12px;}
.ui-jqgrid .ui-jqgrid-hdiv{border:0;}
.ui-jqgrid .ui-jqgrid-hbox{border:0;}
.ui-jqgrid .ui-jqgrid-htable{border-top:1px solid #eb3342;}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column-header,.ui-jqgrid .ui-jqgrid-htable th.ui-th-column{background:#fafafa;color:#666;font-family:NanumGothicBold;padding:5px 2px 4px;border:0;border-left:1px solid #d1d1d1;border-bottom:1px solid #b4b4b4;}
.ui-jqgrid .ui-jqgrid-htable thead th:first-child{border-left:0 !important;}
tr.ui-jqgrid-labels.jqg-second-row-header th[colspan] {border-bottom: 1px solid #d1d1d1;}
tr.ui-jqgrid-labels.jqg-third-row-header th:first-child{border-left: 1px solid #d1d1d1 !important;}
/* .ui-jqgrid .ui-jqgrid-htable thead th:last-child{padding-right:3px;} */
.ui-jqgrid .ui-jqgrid-htable thead th div{height:auto;white-space:normal;word-break:break-all;}
.ui-jqgrid .ui-jqgrid-btable{border:0;}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow{border:0;}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td{padding:4px 4px;border:0;border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;white-space:normal;word-break:break-all;}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td:first-child{border-left:0;}
/* .ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td:last-child{padding-right:5px;} */
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td a{text-decoration:underline;color:#118be0;}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td.txtcut{white-space:nowrap;overflow: hidden;text-overflow:ellipsis;}
.ui-jqgrid .ui-state-hover{background:#d1d1d1;}
.ui-jqgrid .ui-state-highlight{background:#e2e3ff;}
.ui-jqgrid .ui-jqgrid-pager{margin:10px 0 20px !important;border:0;font-size:12px;}
.ui-jqgrid .loading{border:0 !important}

/*footer*/
.ui-jqgrid-sdiv .ui-jqgrid-hbox {border-top:1px solid #d1d1d1 !important;}
.ui-jqgrid tr.footrow-ltr td:first-child{border-left:0 !important;}
.ui-jqgrid tr.footrow-ltr td {background:#fafafa;color:#194e92;font-family:NanumGothicBold;padding:5px 2px 4px;border:0;border-left:1px solid #d1d1d1;border-bottom:1px solid #b4b4b4;}

/*리스트 말줄임 css*/
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td.txtcut{white-space:nowrap;  overflow: hidden;  text-overflow:ellipsis;}
/*
.ui-jqgrid{border:0;font-family:NanumGothic;margin:20px 20px 0 0;}
.ui-jqgrid .ui-state-default{background:#fff;border:0;}
.ui-jqgrid .ui-jqgrid-view{font-size:12px;}
.ui-jqgrid .ui-jqgrid-hdiv{}
.ui-jqgrid .ui-jqgrid-htable{border-top:1px solid #eb3342;border-right:0;}
.ui-jqgrid .ui-jqgrid-htable thead th.ui-th-column{background:#fafafa;color:#666;font-family:NanumGothicBold;border:0;border-left:1px solid #d1d1d1;border-bottom:1px solid #b4b4b4;padding:6px 0;}
.ui-jqgrid .ui-jqgrid-htable thead th:first-child{border-left:0 !important;}
.ui-jqgrid .ui-jqgrid-htable thead th,.ui-jqgrid .ui-jqgrid-btable tbody td{}
.ui-jqgrid .ui-jqgrid-resize{height:auto !important;}
-- .ui-jqgrid .ui-jqgrid-htable thead th div{white-space:normal;word-wrap:break-word;padding:11px 0 12px;}
.ui-jqgrid .ui-jqgrid-htable thead th div{padding:6px 0 6px;}
.ui-jqgrid .ui-jqgrid-btable tbody{}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow{border:0;}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td{padding:1px 5px 1px;border:0;border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;padding:6px 4px;}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td:first-child{border-left:0;}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td a{text-decoration:underline;color:#118be0;}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td.txtcut{white-space:nowrap;overflow: hidden;text-overflow:ellipsis;}
.ui-jqgrid .ui-state-hover{background:#d1d1d1;}
.ui-jqgrid .ui-state-highlight{background:#e2e3ff;}
.ui-jqgrid tr.jqgrow td {white-space:normal;word-wrap:break-word;}
.ui-jqgrid .ui-jqgrid-pager{margin:10px 0 20px !important;}
.ui-jqgrid .ui-jqgrid-htable th div{height : auto;}
*/

/*custom */
.ui-jqgrid table { border-collapse:separate !important;}
.ui-jqgrid .ui-jqgrid-hbox{border:0; background:#fafafa;}