@CHARSET "UTF-8";
#layout_wrap{ }
/* #layout_header{position:relative;height:114px;padding:0 !important;text-align:left;background:url(../images/common/menu_top_bg.jpg) repeat-x 0 0;min-width:1300px;} */
#layout_header{position:relative;height:38px;padding:0 !important;text-align:left;background:#fff;min-width:1245px;}
#layout_container{_display:block;position:relative; margin: 0 auto;}
#layout_container:after{display:block;clear:both;content:''}
/* #layout_content_wrap{background:url(../image/layout/bg_snb.gif) repeat-y left 114px;} */
#layout_snb{position:relative;float:left;width:200px;margin-right:-200px}
/* #layout_content{margin:0 40px 0 200px;padding:20px 20px 40px 20px;min-width:800px; min-height:500px;} */
#layout_footer{width:100%;}
.ly_body{background: #f5f5f5;overflow: auto;  min-width: 1280px;}
.layout_bg{    position: absolute; top: 38px; height: 40px; background: #194e92; width: 100%; border-bottom: 2px solid #144078;}
.ly_wrap{background: #f5f5f5;}
.ly_header {}
/* .ly_container { width: 1245px; min-width:1245px; padding: 0 20px;} */
.ly_container {min-width:1245px;padding: 0 20px;}
/* Layout Header */
.layout_header_top_carousel{_display:inline-block;width:100%;margin: 0 auto; width:100%;position:relative;min-width:1200px;height:38px;}
.layout_header_top_carousel:after{display:block;clear:both;content:''}
/* .layout_header_top_logo{display:inline-block;width:192px;margin:20px 60px 7px 20px;} */
/* .layout_header_top_logo a{background:url(../image/cmn/logo.png) no-repeat 0 0;width:192px;height:36px;display:block;text-indent: -999em;overflow: hidden;} */
.layout_header_top_logo{display:inline-block;width:244px;margin:6px 20px 4px 20px;font-size:14px;}
.layout_header_top_logo_center {position: absolute; width: 155px; height: 30px;    left: 43%; top:4px;background:url(../image/cmn/sys_logo.png) no-repeat;}
/* .layout_header_top_logo a{width:244px;height:45px;display:block;} */
.layout_header_top_mode{width:260px;padding:0 0 0 155px;color:#f00;display:inline-block;font-size:48px;line-height:1;font-family:NanumGothicBold;}
.layout_header_top_info{display:inline-block;min-width:200px;float:right;margin:8px 30px 0 0;}
.layout_header_top_info_menu li{float:left;padding:0 0px;color:#000;font-weight:bold !important;margin-left:-1px;}
.layout_header_top_info_menu li a{border:1px solid #194e92; color:#194e92; background:#fff; padding:3px 7px;display:block;text-decoration:none; font-size:11px;}
.layout_header_top_info_menu li a:hover{background: rgba(25, 78, 146, 0.1);color:#153b6c;font-weight:bold !important}
.layout_header_top_info_menu li.logout a{border:1px solid #194e92; color:#fff; background:#194e92; }
.layout_header_top_info_menu li.logout a:hover{border:1px solid #153b6c; color:#fff; background:#153b6c; }
.layout_header_top_info_menu li.userinfo { padding:3px 7px; color:#5c5a5b;font-size: 11px; }
.layout_header_top_info_menu li.userinfo span {font-weight: bold; color:#194e92 ; padding:0 5px 0 0;}
.layout_header_top_info_menu li.timeinfo {padding:3px 7px; color:#5c5a5b;font-size: 11px;}
.layout_header_bottom_carousel{}
.layout_header_bottom_lnb{display:inline-block;}
.layout_header_bottom_lnb li{float:left;margin-right:5px;font-size:13px;}
.layout_header_bottom_lnb li a{display:block;font-family:NanumGothicBold;width:122px;height:24px;padding:10px 0 0;text-align:center;font-size:13px;color:#fff;text-decoration:none;}
.layout_header_bottom_lnb li.on{background:url(../image/layout/bg_lnb.png) no-repeat 0 0; margin:0 0 10 0;}
.layout_header_bottom_info{display:inline-block;color:#fff;float:right;margin:20px 40px 0 0;}
.layout_header_bottom_info li{float:left;padding:0 2px;color:#000;font-weight:bold !important;margin-left:20px;}
.layout_header_bottom_info li a{color:#eee;background:#666;padding:1px 7px;display:block;text-decoration:none;}
.layout_header_bottom_info li a:hover{background:#8f8f8f;color:#000;font-weight:bold !important;}
.layout_header_bottom_info li span{color:#000;font-weight:bold !important;font-family:NanumGothicBold;}
/* .layout_header_menu .layout_header_menu_ses_reset{border:0;background:#aaa;} */

/* Layout Snb */
.layout_snb{padding:28px 10px 0 20px;}
.layout_snb li{padding:0;margin:0}
.layout_snb li a{color:#666;padding:10px;display:block;width:148px;font-size:13px;border-bottom:1px solid #eee;text-decoration:none;}
.layout_snb li a:hover,.layout_snb ul li a:focus{background:#929292;color:#fff;font-family:NanumGothicBold;}
.layout_snb li a.on{background:#929292;color:#fff;font-family:NanumGothicBold;}
.layout_snb li ol{padding:5px 0 10px 5px;}
.layout_snb li ol li a{padding:1px 0 1px 15px;font-size:90%;font-weight:normal;color:#777;text-decoration:none;display:block;}
.layout_snb li ol li a:hover,.layout_snb ul li ol li a:focus{color:#444;font-family:NanumGothicBold;}
.layout_snb li ol li a.on{color:#0088cf;font-family:NanumGothicBold;}

/* Layout Footer */
div#footer {

bottom: 0;
left: 0;
right: 0;
color: #5c5a5b;

}
#layout_footer address{margin:9px;color:#999;text-align:center;}

/*location info*/

.loc_info {position: absolute; right: 0; top:5px;}
.loc_info span { float: right; padding: 0 9px 0 14px;color: #9a9a9a; background:url(../image/cmn/locbg.png) no-repeat 0 2px;}
.loc_info span:last-child{color: #194e92;background:url(../image/cmn/ico-home.png) no-repeat; text-indent: -100000px; opacity:0.5; }
.loc_info span:FIRST-CHILD {color: #194e92}
/* Layout login */
.login_wrap {display: block;position: relative;width: 1000px; margin: 20px auto; /* background:#eef1f6; */ }
.slide_wrap {display: block;position: relative; float:left; width:590px; height: 480px; background:url(../image/layout/login_bg1.png)no-repeat 50% 50%;  }
.login_wrap h1 { background:url(../image/layout/login_ci2.png) no-repeat;width: 280px; height: 39px; text-indent: -9999px; margin: 80px 0 5px}
.login_content {display: block;position: absolute;float:right; width:410px;height:100%; top:0; right:0; background:#eef1f6 }
.login_box {border:6px solid #184b8d; width: 100%; height: 480px; overflow: hidden; }
.login_content h1.sys_ci {background:url(../image/layout/login_ci.png)no-repeat 50% 50%; background-size: 45%; margin: 40px auto 0; height: 30px; }
.login_content p {font-size: 23px; /* font-weight: bold; */    line-height: 27px;    margin: 40px auto 20px;    text-align: center;    letter-spacing: -0.5px;    background: #194e92;
    width: 300px;    color: #fff;    padding: 20px 0;    border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.4) 2px 0px 10px 0px;}


.login_form {width: 300px;height:250px; margin:30px auto 0;  border:1px solid #fff; background: #fff; padding: 20px 10px;border-radius: 5px;}
.login_form div{ padding: 0 ; margin: 0 0 7px; font-size: 14px; color: #5b5b5b}
.login_form div span{ font-weight: bold; display: inline-block;line-height: 38px; min-width: 60px; text-align: right;margin-right:10px; font-size: 12px;}
.login_form div input {height: 39px; width: calc(100% - 80px); line-height: 38px; border: 1px solid #d2d2d2; padding: 0 10px 0;color: #5b5b5b ; font-size: 12px;}
.login_form div input.login_btn {margin: 5px 0 18px; width: 270px;   background: #194e92;    border: 0;    height: 56px;    line-height: 56px;    color: #fff;    font-weight: bold;
    font-size: 18px; cursor: pointer;}
.login_form div input.login_btn:HOVER {background: #153b6c;}
.login_form div input.id_chk { width: 26px; height: 26px; border: 1px solid #194e92 !important; border-radius: 0;background:#ffffff; float: left;}
.login_form div.chk span {float: left;    color: #565656;    height: 24px;    line-height: 24px;    padding: 0 0 0 5px;    font-size: 12px;}

.login_box.logout {background:url(../image/layout/logout.png)no-repeat 0 0;width: 100%; height: 460px;}
.login_wrap h1.sys_ci.logout {text-indent:0;padding-left:240px;  }
.login_wrap h1.sys_ci.logout span{line-height: 45px; text-decoration: none; display: inline-block;color: #444}
.logout_btn {display: block; margin:260px auto 0; height: 40px; line-height: 40px; width: 200px; text-align: center;color: #fff !important;background: #194e92;text-decoration: none !important; }
.logout_btn:hover{background:#143c6e;}
/* mobile custom */
.m_body{background: #f5f5f5;overflow: auto;}
.m_wrap{background: #f5f5f5;}
.m_header {}
.m_container {padding: 0 20px;}
