@charset "utf-8";

/**** Base style ****/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button,header,footer{margin:0;padding:0;}
body,input,select,textarea,header,footer{color:#4f4f4f;font-family:'Malgun Gothic','맑은고딕',dotum,'dutom',sans-serif;font-size:14px;}
body{background:#fff;-webkit-text-size-adjust:none;}
img,fieldset,button,iframe{border:0;}
img,input,select,textarea,button{vertical-align:middle;}
ul,ol,li{list-style:none;}
address,em,i{}
h1,h2,h3,h4,h5 {font-size:1em;}
hr{display:none;}
a{color:#4f4f4f;text-decoration:none;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
input:focus{outline:none;}
input{vertical-align:middle;}
input[type="text"]{padding:3px; -webkit-appearance:none;-webkit-border-radius:0; border:1px solid #c4c4c4; border-radius:3px;font-size:1.2em; color: #444;}
textarea {padding:3px; -webkit-appearance:none;-webkit-border-radius:0; border:1px solid #c4c4c4; border-radius:3px;}
input[type="checkbox"]{margin-top:-2px; background-color:#fff;-webkit-appearance:checkbox; }
input[type="radio"]{margin-top:-2px;}
button,label { cursor: pointer; font-family:'Malgun Gothic','맑은고딕',dotum,'dutom',sans-serif;}
button { background: none; display: inline-block;}
table { border-collapse: collapse; width: 100%;}
header,footer{display:block;}
/*header {z-index: 999;}*/
#header {z-index: 2;}
.txt_hidden {display:none;}
.img_full {width:100%;}

/* layout */
#wrap {position:relative; min-width: 320px;}
#header .head_area {position:relative; height:64px; border-bottom:0px solid #194e92; background: #fff; overflow:hidden;}
#header .head_area h1.logo { width: 230px; height:44px; line-height:44px; margin:10px auto; background:url('../image/mobile/common/h_logo.png') no-repeat 0 50%; background-size:30%; }
#header .head_area h1.logo a {display: inline-block; padding-left: 85px; text-decoration: none;font-weight: bold; font-size: 1.4em;    color: #313131; letter-spacing:-2px; }
#header .head_area .top_allmenu {position:absolute; left:10px; top:20px; width:25px; height:25px; background:#fff url('../image/mobile/common/btn_m_menu.png') no-repeat 0 0; background-size:100%; border:0;}
#header .head_area .top_alarm {position:absolute; right:15px; top:20px; width:25px; height:25px; background:#fff url('../image/mobile/common/btn_alarm.png') no-repeat 0 0; background-size:100%; border:0;}
#header .head_area .top_alarm_count {position:absolute; right:-6px; top:-5px; width:16px; height:16px; background: #1c589d; border: 2px solid #fff; border-radius:10px; text-align: center;line-height: 16px;color: #fff; font-size: 0.9em}
/*#header .title_area{position:relative;height: 35px; line-height:35px;background :#1c589d;margin-bottom:5px }*/
/*#header .title_area a.layout_back {position:absolute; left:10px; top:7px; width:22px; height:22px; background: url('../image/mobile/common/ico_layoutback.png') no-repeat 0 0; background-size:50%; border:0;}*/
/*#header .title_area h2 {background: transparent;color: #fff; text-align: center;}*/

header .title_area{position:relative;height: 52px; line-height:52px;background :#1c589d;margin-bottom:0px }
header .title_area a.layout_back {position:absolute; left:15px; top:15px; width:22px; height:22px; background: url('../image/mobile/common/ico_layoutback.png') no-repeat 0 0; background-size:50%; border:0; z-index: 9}
header .title_area h2 {background: transparent;color: #fff; text-align: center;font-size:1.3em;}


#header .head_area h1.logo a {display:block; height:100%;}
#header .head_area h1.title {width:100%; text-align:center; font-size:18px; line-height:37px; color:#ed2000; font-weight:bold;}
#header .head_area h1.title .user_shelf_more {color:#ed2000;}
#header .head_area .btn_top_search {position:absolute; left:10px; top:5px; width:44px; height:28px; background:url('../image/mobile/common/btn/btn_search.gif') no-repeat 0 0; background-size:100% 100%;}
#header .search_area {display:none; padding:5px 10px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), to(#e9e9e9)); border-bottom:1px solid #ddd;}
#header .search_area.on {display:block;}
#header .search_area .search_box {position:relative; width:100%;overflow:hidden;}
#header .search_area .search_box .text_box {position:relative; margin-right:60px; height:30px;  border:1px solid #bbbbbb; border-radius:5px 0 0 5px; border-right:0;  background:#fff;  box-shadow: inset  3px 3px 3px 0 #ececec;}
#header .search_area .search_box .type_text {width:85%; padding:3px 5px;border:0; background:none;}
#header .search_area .search_box .btn_text_del {position:absolute; right:6px; top:5px; width:21px; height:21px; background:url('../image/mobile/common/ico_img.png') no-repeat 0 -19px}
#header .search_area .btn_search {position:absolute; right:0; top:0; width:60px; height:32px; border:1px solid #d12814; border-radius:0 5px 5px 0; background:#ef4c38; font-size:1.1em; color:#fff; line-height:auto;  text-shadow:1px 1px 1px #d73424}

button.btn_srch.m_srch {width: 100% !important; height:36px; line-height: 32px;font-size: 1.2em; font-weight: bold; border-radius:4px;}
.m_srch_toggle { position: absolute;    top: -31px;    right: 10px;    height: 23px;    padding: 2px 5px 2px;    border: 1px solid #ccc;background:#fff;
    color: #1c589d;    font-size: 12px;    line-height: 16px;}
.sr_off{display:none; float:right;margin-left:5px; width:15px; height:15px; background:url('../image/mobile/common/ico_toggle.png') repeat-x 0 4px;}
.sr_on{display:none;float:right;margin-left:5px; width:15px;height:15px; background:url('../image/mobile/common/ico_toggle.png') repeat-x 0px -23px;}
.m_srch_toggle.on .sr_on {display:inline-block;}
.m_srch_toggle.off .sr_off{display:inline-block;}

.srch_box {margin-bottom:0px;}

/* gnb*/
#header .nav_area .main_nav {width:100%; overflow:hidden; background:url('../image/mobile/common/bg_red.png') repeat-x 0 0;}
#header .nav_area .main_nav li {float:left;width:25%;}
#header .nav_area .main_nav a {display:block; padding:13px 0; font-size:0.9em; text-align:center; background:url('../image/mobile/common/bg_red.png') repeat-x 0 0; background-size:auto 100%;  border-right:1px solid #9a1500; color:#fff; text-shadow:1px 1px 1px #000}
#header .nav_area .main_nav li:last-child a {border:0;}
#header .nav_area .main_nav a:active, .nav_area .main_nav a.active { background:url('../image/mobile/common/bg_red_on.png') repeat 0 0}
#header .nav_area .main_nav li.on a { background:url('../image/mobile/common/bg_red_on.png') repeat 0 0}
/* fulldown navigation */
#header .nav_area .sub_nav_list {position:relative; width:100%; border-top:1px solid #9a1500;  border-bottom:1px solid #9a1500;}
#header .nav_area .sub_nav_list ul {height:27px; padding-right:24px; border-left:1px solid #9a1500; overflow:hidden; background:#ea3720;}
#header .nav_area .sub_nav_list ul li {float:left; width:25%; text-align:center; }
#header .nav_area .sub_nav_list ul li a {display:block; height:27px; line-height:25px; font-size:0.92em; background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e83119), to(#c00d02)); border-right:1px solid #9a1500; border-bottom:1px solid #9a1500; color:#fff; text-shadow:1px 1px 1px #000}
#header .nav_area .sub_nav_list ul li.on a {background:#a82413;}
#header .nav_area .sub_nav_list ul li.on a:active, #header .nav_area .sub_nav_list ul li.on a.active  {background:#a82413;}
#header .nav_area .sub_nav_list .btn_full {position:absolute; right:0; top:0; width:23px; height:27px; border-right:1px solid #9a1500; background:#ea3720; }
#header .nav_area .sub_nav_list .btn_full span {display:block; width:11px; height:6px; font-size:0; line-height:0; margin:0 auto; text-indent:-9999px; background:url('../image/mobile/common/bul/bul_menu_full.png') no-repeat 0 bottom}
#header .nav_area .sub_nav_list.on ul {height:55px;}
#header .nav_area .sub_nav_list.on .btn_full {height:55px}
#header .nav_area .sub_nav_list.on .btn_full span {background:url('../image/mobile/common/bul/bul_menu_full.png') no-repeat 0 0}
/* 내서재 내정보 */
#header .user_shelf_area {display:none; position:relative; padding:10px; font-size:0.92em; background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#dedede));}
#header .user_shelf_area.on {display:block;}
#header .user_shelf_area .item_img {float:left; width:62px; height:72px;}
#header .user_shelf_area .item_img img {width:62px;  height:62px;}
#header .user_shelf_area .item_info {padding:5px 0 10px 72px;}
#header .user_shelf_area .item_info strong {}
#header .user_shelf_area table {clear:both; border:1px solid #d7d7d7; text-align:center;}
#header .user_shelf_area table th {border:1px solid #d7d7d7; background:#efefef; font-weight:normal;}
#header .user_shelf_area table td {border:1px solid #d7d7d7; background:#fff}
#header .user_shelf_area .item_friend_add {position:absolute; right:10px; top:15px; font-size:0.8em;}
/**/
#pop_area .now_pop_book {padding:10px 0; width:100%; font-size:0.9em; overflow:hidden; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0d0d0), to(#f1f1f1));}
#pop_area .now_pop_book h4 {position:relative; float:left; width:115px; text-align:center; font-weight:bold; color:#5b4733;}
#pop_area .now_pop_book h4 span {position:absolute; right:0; top:1px; display:inline-block; width:1px; height:13px; margin-left:10px; background:#aaa; }
#pop_area .now_pop_book p {padding:0 0 0 130px;}


#body {padding:10px 0 0;}
#body .content {padding:0 10px;}
#footer {width:100%; padding-bottom:10px; border-top:1px solid #ed2000; background:#f1f1f1; font-size:0.85em;}
#footer .foot_link_1 {padding:6px 0; text-align:center; color:#b7b7b7;  background:#e1e1e1; border-bottom:1px solid #d7d7d7;}
#footer .foot_link_1 a {display:inline-block; padding:0 10px; color:#555555;}
#footer .foot_link_1 .btn_top {padding:0 5px; font-size:0.9em; line-height:25px; background:#fff; border:1px solid #b7b7b7; border-radius:3px;}
#footer .foot_link_1 .btn_top span {display:inline-block; width:7px; height:9px; background:url('../image/mobile/common/ico_img.png') no-repeat 0 0}
#footer .foot_link_2 {width:320px; margin:10px auto 0; overflow:hidden;}
#footer .foot_link_2 li {float:left; width:25%; padding-bottom:3px;}
#footer .foot_link_2 a {display:block; width:85%; margin:0 auto;  line-height:31px; text-align:center; border:1px solid #c2c2c2; border-radius:3px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), to(#e2e2e2)); box-shadow: 2px 2px 2px #e5e5e5; color:#7d7d7d;}
#footer .foot_link_3 {padding:16px 0; text-align:center; color:#c2c2c2;}
#footer .foot_link_3 a {display:inline-block; margin:0 7px; color:#7d7d7d}
#footer .foot_copy {text-align:center; font-size:0.8em; color:#999}

/* common */
.t_ivory {color:#ae914f !important;}
.t_orange {color:#ea402a !important;}
.t_gray {color:#4f4f4f !important;}
.t_blue {color:#087dc2 !important;}
.t_black {color:#070707 !important;}
.t_green {color:#628679 !important;}
.s_txt {font-size:0.92em !important;}
.s_txt_2 {font-size:0.86em !important;}
.s_txt_3 {font-size:0.79em !important;}
.l_txt {font-size:1.1em;}
.n_txt {font-weight:normal !important;}
.f_left {float:left;}
.f_right {float:right;}

.mb_5 {margin-bottom:5px !important;}
.t_center {text-align:center !important;}
.t_right {text-align:right !important;}
.t_left {text-align:left !important;}

.box_a_st {margin:0 10px 35px}
.box_b_st {margin:0 10px;}

/* 공통아이콘 */
.ico_circle {display:inline-block; width:2px; height:2px; background:url('../image/mobile/common/ico_img.png') no-repeat 0 -141px;}

 /* 공통버튼 */
.btn_group {padding-bottom:35px; text-align:center;}
.btn.fixed {padding:0; width:100px; }
.btn {display:inline-block; padding:0 6px; line-height:24px; font-weight:bold; font-size:0.92em; border-radius:5px;}
.btn.type_s {line-height:20px; padding:0 5px; font-size:0.92em;}
.btn.type_s_2 {line-height:20px; padding:0 5px; font-size:0.86em; font-weight:normal;}

.btn.btn_a_st {color:#fff; background:url('../image/mobile/common/btn/bg_black.png') repeat-x 0 0; background-size:100% 100%; border:1px solid #363636; }
.btn.btn_b_st {color:#fff; background:url('../image/mobile/common/btn/bg_red.png') repeat-x 0 0; background-size:100% 100%; border:1px solid #ca1b00; }
.btn.btn_c_st {color:#4f4f4f; background:url('../image/mobile/common/btn/bg_gray.png') repeat-x 0 0; background-size:100% 100%; border:1px solid #959595;}
.btn.btn_d_st {color:#7d7d7d; background:#fff; background-size:100% 100%; border:1px solid #b7b7b7;}
.btn.btn_s_st {color:#7d7d7d; background:#fff; background-size:100% 100%; border:1px solid #b7b7b7; font-weight:normal; font-size:12px;}


/* 공통 아이콘 */
.ico {display:inline-block; font-size:0; line-height:0; vertical-align:middle; text-indent:-9999px;}
.ico.ico_point { width: 24px; height: 14px; background: url(../image/mobile/common/ico/ico_point.gif) no-repeat;}
.ico.ico_coupon { width: 24px; height: 14px; background: url(../image/mobile/common/ico/ico_coupon.gif) no-repeat;}
.ico.ico_facebook {width:22px; height:22px; background: url(../image/mobile/common/ico/ico_facebook.png) no-repeat; background-size:100% 100% }
.ico.ico_twitter {width:22px; height:22px; background: url(../image/mobile/common/ico/ico_twitter.png) no-repeat; background-size:100% 100% }

/*일반 텍스트 박스 */
.txt_box {padding:0 10px 35px;}
.txt_box_2 {padding:0 0 35px;}

/* 일반 박스 */
.inner_box {padding:0 10px;}

/* 텍스트 리스트 */
.txt_list {padding:0 10px 35px; font-size:12px;}
.txt_list li {padding:0 0 3px 10px; text-indent:-12px; }

/* 책이미지 */
.book_img {position:relative; float:left; padding-bottom:5px; width:62px;}
.book_img .ico_special {position:absolute; left:0; top:0; font-size:0.7em; width:10px; height:10px; overflow:hidden;}
.book_img .ico_special_1 {background:red;}
.book_img .ico_special_2 {background:yellow;}
.book_img .ico_special_3 {background:blue;}
.book_img .ico_os {position:absolute; left:0; top:0; margin:-5px 0 0 -5px; width:23px; height:23px; background-size:100% 100%; font-size:0; line-height:0; text-indent:-9999px; }
.book_img .ico_android {background:url('../image/mobile/common/ico/ico_android.png') no-repeat 0 0}
.book_img .ico_ios {background:url('../image/mobile/common/ico/ico_ios.png') no-repeat 0 0}
.book_img img {display:block; border:1px solid #818181; width:60px; height:87px;}
.book_img .book_img_preview {display:block; width:50px; height:20px; margin:5px auto 0; line-height:20px; font-size:0.72em; border:1px solid #b7b7b7; border-radius:4px; color:#7d7d7d; text-align:center;}
.book_mini_view {width:100%; margin-bottom:5px; overflow:hidden}

/* 사용자 이미지 */
.user_img {display:inline-block; width:63px; height:58px; border:1px solid #7b7b7b; background:url('../image/mobile/common/bg_user.png') no-repeat 0 0; background-size:100%; background-size:100%;}
.user_img img {display:inline-block; width:63px; height:58px;}
.user_name {font-size:0.86em; font-weight:bold;}

/* 책 아이콘 */
div.book_icon {}
div.book_icon span {display:inline-block; width:14px; height:14px; font-size:0; line-height:0; background-size:100% 100%;}
div.book_icon span.ic_red {background:url('../image/mobile/common/ico/ico_book_1.png') no-repeat 0 0}
div.book_icon span.ic_org {background:url('../image/mobile/common/ico/ico_book_2.png') no-repeat 0 0}
div.book_icon span.ic_grn {background:url('../image/mobile/common/ico/ico_book_3.png') no-repeat 0 0; }
div.book_icon span.ic_blu {background:url('../image/mobile/common/ico/ico_book_4.png') no-repeat 0 0; }

/* 적립금 및 쿠폰*/
div.book_coupons {padding:3px 0 0 70px;; font-size:0.8em;}
div.book_coupons span {font-weight:bold;}

/* 책정보 */
.book_info {padding-left:10px; }
.book_info dt {padding:10px 0 8px;display: block;float: none;}
.book_info dt a {color:#000; font-size:15px; font-weight:bold; text-decoration: none;}
.book_info dd {margin-bottom:5px;padding: 2px 0 5px; font-size:1.1em;}
 .book_info dd span {   color: #969696;font-size:0.9em}
.book_detailview {position: relative;      margin: -1px -20px;    padding: 20px;    background: #f5f5f5;    font-size: 13px;
    word-break: break-word;    word-wrap: break-word;    line-height: 1.54;}
.book_info .grid_writer  {font-size:0.786em; color:#c4c4c4}
.book_info .grid_writer span {color:#959595;}
.book_info .grid_writer .btn_friend_add {display:inline-block; width:14px; height:14px; margin-top:-5px; margin-right:5px; background:url('../image/mobile/common/btn/btn_friend_add.png') no-repeat 0 0; background-size:100% 100%; }
.book_info .grid_writer .btn_delete {display:inline-block; width:14px; height:14px; margin-top:-5px; background:url('../image/mobile/common/btn/btn_delete.png') no-repeat 0 0; background-size:100% 100%; }
.book_info .grid_detail {}
.book_info .book_con {padding-bottom:3px; line-height:1.3em;}
.book_info .book_app {padding-bottom:5px; font-size:0.86em; color:#959595;}
.book_info .book_memo {padding:5px 5px 5px 18px;; background:#f8f8f8 url('../image/mobile/common/bul/bul_memo.png') no-repeat 5px 8px; font-size:0.857em; line-height:1.3em;}
.book_info .book_underline {padding:5px; background:#f8f8f8; font-size:0.857em; line-height:1.3em;}
.book_info .book_underline a {color:#6d6e71;}
.book_info .book_last_date {font-size:0.786em;}
.book_info .book_graph {font-size:0.786em; font-weight:bold; color:#1f5eb5;}
.book_info .book_graph span.graph_box {display:inline-block; width:105px; height:7px; margin-right:5px; background:url('../image/mobile/common/bul/bul_graph.png') no-repeat 0 0;  background-size:100% auto ; overflow:hidden;}
.book_info .book_graph span.graph_box strong {float:left; display:inline-block; height:7px;  background:url('../image/mobile/common/bul/bul_graph.png') no-repeat 0 bottom;  background-size:105px auto ; }
.book_info .book_price {font-size:0.9em;}
.book_info .book_price p.icons{padding-top:3px;}
.book_info .book_price span.old { text-decoration: line-through;}
.book_info .book_price span.now { display: inline-block; color: #f1592a; font-size: 1.2em; font-weight: bold;}
.book_info .book_price span.off { font-weight: normal; font-size:0.8em !important;}
.book_info .book_price span.point { display: inline-block; color: #ae904f; font-size:0.9em;}
.book_info .book_price span.coupon { display: inline-block; color: #73958a; margin-left: 5px; font-size:0.9em;}
.book_info .book_price span em { display: inline-block; margin-top:-3px; text-indent: -999px; overflow: hidden; vertical-align: middle; font-size:0; line-height:0;}
.book_info .book_price span.off em { width: 7px; height: 8px; background: url(../image/mobile/common/ico/ico_dis.gif) no-repeat;}
.book_info .book_price span.point em { width: 24px; height: 14px; background: url(../image/mobile/common/ico/ico_point.gif) no-repeat;}
.book_info .book_price span.coupon em { width: 24px; height: 14px; background: url(../image/mobile/common/ico/ico_coupon.gif) no-repeat;}
.book_info .book_btns {padding:5px 0;}
.book_info .book_btns button {margin-right:3px; }
.book_info .book_links {padding:10px 6px; border:1px solid #d7d7d7; background:#f8f8f8; color:#d7d7d7; font-size:0.86em;}
.book_info .book_links a {display:inline-block; margin:0 4px;}

/* 정렬 */
.sort_area {padding:0 10px 5px; border-bottom:1px solid #d7d7d7; text-align:right;}

/* 독서현황 */
.read_status_list {width:100%; font-weight:bold;}
.read_status_list th {padding:8px 10px; text-align:left; border-bottom:1px solid #d7d7d7;}
.read_status_list td {padding:8px 10px; text-align:right; border-bottom:1px solid #d7d7d7; color:#087dc2;}

/* 책리스트 가로형 */
.grid_list_randspace {width:300px; margin:0 auto; padding:10px 0 35px 0; overflow:hidden;}
.grid_list_randspace li {float:left; width:100px; text-align:center; overflow:hidden;}
.grid_list_randspace li a {display:block;}
.grid_list_randspace li .book_img {display:block; margin:0 auto; padding-bottom:5px;}
.grid_list_randspace li .book_title {display:block; color:#070707;  font-size:0.92em;}
.grid_list_randspace li .book_author { font-size:0.86em; color:#c4c4c4}

/* 책리스트 기본 세로형 */
.grid_list {margin:5px 10px;margin-bottom:50px;}
.grid_list li:after {content:" "; display:block; clear:both;}
.grid_list li {padding:12px 10px 5px 10px; border:1px solid #d7d7d7;background: #fff;margin: 5px 0;border-radius: 5px;position: relative;}
.grid_list li:active {background: #eef5ff;box-shadow: #327fd8 0px 0px 0px 3px inset;}
.grid_list li:first-child {padding:5px 10px 0 10px; border:1px solid #d7d7d7;  }
.grid_list li div.book_icon {padding-left:70px;}
.grid_list li .book_summary {clear:both; width:100%; }

.grid_list.line {margin-bottom:35px;margin:0px 0px;}
.grid_list.line li:after {content:" "; display:block; clear:both;}
.grid_list.line li {padding:12px 10px 5px 10px; border:1px solid #d7d7d7;background: #fff;margin: 0px 0;border-radius: 0px}
.grid_list.line li:active {background: #f0f0f0;}
.grid_list.line li:first-child {padding:5px 10px 0 10px; border:1px solid #d7d7d7;  }
.grid_list.line li div.book_icon {padding-left:70px;}
.grid_list.line li .book_summary {clear:both; width:100%; }
/* 책 한개의 아이템 */
.book_box_one {padding:10px 15px 5px; border:1px solid #acacac; border-left:0; border-right:0; background:#f1f1f1;}
.book_box_one:after {content:" "; display:block; clear:both;}
.book_box_one.b_none {border-bottom:0;}
.book_box_one table {}

/* 리뷰 리스트 */
.review_list {padding:0 10px 35px;}
.review_list li {padding:10px 0;}
.review_list .book_info {padding-left:0;}

/* 리뷰 쓰기 */
.review_write {padding:0 10px; font-size:0.86em;}
.review_write p {padding:10px 0 5px; line-height:2em; }
.review_write textarea {dispaly:block; width:99%; height:100px; margin-bottom:10px;}
.review_write .sns {width:100%; margin-bottom:20px; overflow:hidden;}
.review_write .sns input {margin-left:10px;}

/* 북로그 */
.book_log_list {padding-bottom:35px;}
.book_log_list li {padding:10px; border-bottom:1px solid #d7d7d7; font-weight:bold;}
.book_log_list li p {padding-top:10px; font-size:0.86em;}
.book_log_list li p span {color:#959595}

/* 친구리스트 */
.friend_list {width:100%; margin-bottom:20px;}
.friend_list:after {content:" "; display:block; clear:both;}
.friend_list li {float:left; width:25%; height:90px; text-align:center;}
.friend_list li a {}

/* 쿠폰 이미지 */
.coupon_box {display:block; width:103px; height:72px; background:url('../image/mobile/common/bg_coupon.png') no-repeat 0 0; background-size:100% 100%; font-size:0.86em; color:#070707; font-weight:bold; text-align:center;}
.coupon_box a {display:block; width:103px; height:29px; padding-top:43px; }
.coupon_info dt {padding:5px 0; color:#070707; font-weight:bold;}
.coupon_info dd {color:#959595; font-size:0.8em;}
.coupon_info dd.item_btn {padding-top:5px; font-size:1em;}
.get_coupon_list {margin-bottom:35px; }
.get_coupon_list li:after {content:" "; display:block; clear:both;}
.get_coupon_list li {padding:10px 0; border-bottom:1px solid #d7d7d7}
.get_coupon_list li .coupon_box {float:left;}
.get_coupon_list li dl {padding-left:100px;}
.get_coupon_list li:after {content:" "; display:block; clear:both;}

/* 책상세정보 */
.book_detail {padding:0 10px;}
.book_detail .book_info.detail_title {margin:0 -10px 10px -10px; padding:0 10px; border-bottom:1px solid #d7d7d7}
.book_detail .book_info.detail_price {padding:0 0 30px 70px;}
.book_detail .book_info.detail_price .book_price li {padding:4px 0 3px 5px; background:url('../image/mobile/common/bul/bul_circle.gif') no-repeat 0 11px; font-weight:normal;}
.book_detail .book_info.detail_price .book_price li.bg_none {background:none; padding-left:0;}
.book_detail .book_info.detail_price .book_price li.bg_none.fixed_coupon_info {padding:0; margin:0; border:0}
.book_detail .book_info.detail_price .book_price * {font-size:14px; font-weight:bold;}
.book_detail .book_info.detail_price .book_price .point span {font-weight:normal; font-size:11px;}
.book_detail .book_info.detail_price .book_price .btn_get_coupon {line-height:20px; padding:0 4px;font-weight:normal; color:#7d7d7d; border:1px solid #b7b7b7; border-radius:3px; font-size:12px;}
.book_detail .book_info.detail_price:after {content:" "; display:block; clear:both;}
.book_detail .book_use_alert {margin-bottom:35px; border:1px solid #d7d7d7; background:#e5e5e5; border-radius:8px;}
.book_detail .book_use_alert p {padding:10px;  font-size:0.92em;}
.book_detail .book_use_alert p:first-child {background:#efefef;}
.book_detail .book_use_alert .btn_a_st {margin:0 0 10px 10px;}
.book_detail_cont {padding:20px 10px 0; line-height:1.5em; }
.book_detail_cont div.title_box {padding:0;}
.book_detail_cont div.title_box h4 {color:#ae904f;}
.book_detail_cont .item_cont {margin:5px 5px 35px; font-size:0.92em; overflow:hidden;}
.book_detail_cont .item_cont.item_more {height:60px; }
.book_detail_cont .item_cont.item_more.on {height:auto;}
.book_detail_links {border-top:1px solid #d7d7d7; }
.book_detail_links li {border-bottom:1px solid #d7d7d7; background:url('../image/mobile/common/bul/bul_arrow.png') no-repeat 95% center;;}
.book_detail_links li a {display:block; padding:0 27px; height:40px; line-height:40px; background:url('../image/mobile/common/bul/bul_title.png') no-repeat 10px center;}

/*페이징*/
.paging {padding:20px 0;text-align:center;white-space:nowrap;}
.paging a {display:inline-block;width:26px;height:26px;line-height:26px;margin-right:3px;border:1px solid #ddd;background-color:#fff;color:#959595;font-size:0.85em;text-align:center;vertical-align:middle;}
.paging strong {display:inline-block;width:26px;height:26px;line-height:26px;margin-right:3px;border:1px solid #dddddd;background-color:#eaeaea;color:#949494;font-size:0.85em;text-align:center;vertical-align:middle;font-weight:bold;}

/*더보기*/
.paging_more {margin-bottom:0px; background:#e6e7e7;background:-webkit-gradient(linear,0 0,0 100%,from(#eff0f1),to(#e3e5e6));-webkit-box-shadow:inset 0 1px 0 #f5f6f6,inset 0 -1px 0 #a6a6a6; border-top:1px solid #ddd;position: relative;bottom: 0;width: 100% }
.paging_more a, .paging_more button {display:block; width:100%; padding:15px 0; text-align:center;}

/*정액권*/
.fixed_coupon_info {padding:10px; margin-bottom:35px; font-size:0.92em; border:1px solid #d7d7d7; border-radius:8px}
.fixed_coupon_info:after {content:" "; display:block; clear:both;}
.fixed_coupon_info table {margin:5px 0;  font-size:0.92em; font-weight:normal;}
.fixed_coupon_info table td {padding:3px; border:1px solid #ddd;}
.fixed_coupon_info .btn_a_st {margin:10px 0 0; font-size:1.1em;}

/* tab */
.tab_detail {width:100%; height:30px; border-bottom:1px solid #ddd; }
.tab_detail li {float:left; width:25%;}
.tab_detail li a {display:block; padding:5px 0 0; height:24px; margin:0 1px; border:1px solid #dfdfdf; border-radius:4px 4px 0 0; border-bottom:0; text-align:center; background:#f3f3f3; overflow:hidden; font-size:0.92em; color:#959595}
.tab_detail li.on a {background:#fff; height:25px; font-weight:bold; color:#070707}

/*게시판:쓰기*/
.board_write {width:100%; margin-bottom:35px; background:#f1f1f1; border-top:1px solid #acacac;}
.board_write th {padding:10px 3px; border-bottom:1px solid #d7d7d7; text-align:left}
.board_write td {padding:5px 3px; border-bottom:1px solid #d7d7d7;}
.board_write td.type_one {padding:10px 3px;}
.board_write td.type_one h4 {margin-bottom:15px;}
.board_write tr:last-child th, .board_write tr:last-child td {border-bottom:1px solid #acacac;}
.board_write .btn {margin-left:3px;}

/* 게시판 타입 a */
.board_a_type {width:100%; margin-bottom:35px; font-weight:bold; border-bottom:0; border:1px solid #d7d7d7;}
.board_a_type thead th {background:#f1f1f1;}
.board_a_type th {padding:8px 0 8px 7px; text-align:left; border:1px solid #d7d7d7; border-right:0; border-left:0;}
.board_a_type td {padding:8px 7px 8px 0; text-align:right; border:1px solid #d7d7d7; border-right:0; border-left:0;color:#087dc2;}

.board_b_type {width:100%; margin-bottom:35px; background:#f1f1f1;}
.board_b_type th {padding:8px 0 8px 7px; text-align:left; border:1px solid #d7d7d7; border-right:0; border-left:0; }
.board_b_type td {padding:8px 7px 8px 0; border:1px solid #d7d7d7; border-left:0; border-right:0;}

.board_c_type {width:100%; margin-bottom:35px;}
.board_c_type th {padding:8px 0 8px 8px; border:1px solid #d7d7d7; background:#f1f1f1; text-align:left;}
.board_c_type td {padding:8px; border:1px solid #d7d7d7;}

.board_c_type.account td {text-align:right; }

/* 게시판에 들어가는 기타 */
.pay {font-size:14px;}
.pay li {padding-bottom:5px}
.pay li p {padding:2px 0 0 6px; font-size:0.92em;}

.pay_selection li {padding-bottom:5px;}
.pay_selection li input[type="radio"] {margin-right:3px;}
.pay_selection li p {padding:5px 0 0 20px; font-size:0.86em;}

.pay_provision {padding:0 3px;}
.pay_provision div {width:100%; padding-top:5px; overflow:hidden; font-size:12px;}
.pay_provision div .btn {margin-top:-3px; padding:0 3px; font-weight:normal; line-height:18px; }

.coupon_dis li {padding-bottom:17px;}
.coupon_dis li:last-child {padding-bottom:0;}

.total {width:100%; overflow:hidden;}

/* 안내 타입 a */
.notice_a_box {margin:0 10px 35px; padding:10px; border:1px solid #d7d7d7; background:#efefef; border-radius:8px; font-size:0.9em;}
.notice_a_box dt {padding-bottom:5px; font-weight:bold; text-align:left}
.notice_a_box dd {padding:0 0 5px 10px; background:url('../image/mobile/common/bul/bul_circle.png') no-repeat 0 5px}

.notice_b_box {margin:0 0 35px; border:1px solid #d7d7d7; border-radius:8px; background:#e5e5e5;}
.notice_b_box div.item_tit {padding:10px; background:#efefef; font-weight:bold;}
.notice_b_box div.item_con {padding:10px;}


/*선물하기 결제 */
.gift_step {width:100%; margin-top:-10px; height:42px; margin-bottom:10px; overflow:hidden; border-top:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; background:url('../image/mobile/common/bg_step_2.png') repeat; background-size:auto 100% ;}
.gift_step li {float:left; width:36%; height:30px; padding-top:12px;font-size:0.85em; font-weight:bold; background:url('../image/mobile/common/bg_step.png') no-repeat right 0; background-size:auto 100%; color:#898989;}
.gift_step li:last-child {width:28%; background:none;}
.gift_step li span.item_num {display:inline-block; width:19px; height:19px; margin:0 5px; line-height:19px; text-align:center; color:#fff; background:url('../image/mobile/common/ico/bg_step.png') no-repeat 0 0; background-size:100% 100%; font-size:11px;}
.gift_step li:first-child span.item_num {margin-left:15px}
.gift_step li.on {color:#e71f00;}
.gift_step li.on span {color:#fff; background:url('../image/mobile/common/ico/bg_step_on.png') no-repeat 0 0;}

.gift_step.step_2 li {width:55%}
.gift_step.step_2  li:last-child {width:45%;}

.gift_book_info {padding-left:70px; font-size:0.86em;}
.gift_book_info dt {color:#070707}
.gift_book_info dd {padding-bottom:10px; font-weight:normal;}

.txt_point {padding:15px 0 20px; text-align:center; color:#ea402a; font-weight:bold;}

/* 책바구니 */
.cart_select {width:100%; padding:0 0 10px; overflow:hidden;}
.cart_check .book_price {padding-top:10px;}

/* contents */
.title_box {padding:0 10px; border-bottom:1px solid #d7d7d7; }
.title_box:after {content:" "; display:block; clear:both;}
.title_box h4 {float:left; width:auto; padding-bottom:4px;}
.title_box .item_date {float:right; display:block; padding-top:4px; font-size:0.8em; color:#959595;}
.title_box .btn_more {float:right; width:60px; height:22px; font-size:0; line-height:0; text-indent:-9999px; border:1px solid #b7b7b7; border-radius:3px; background:url('../image/mobile/common/btn/btn_more.png') no-repeat 0 0; background-size:100% 100%}
.title_box .btn_box {float:right; margin-top:-2px;}
.title_box .btn_box .btn {}
.title_box.b_none {border:0;}
h4.part_title {padding:0 0 6px 0; color:#070707; font-size:14px;}
h4.part_title span.bul_tit {float:left; width:12px; height:12px; margin:3px 4px 0 0; display:inline-block; background:url('../image/mobile/common/bul/bul_title.png') no-repeat 0 0; background-size:100% 100%;}
h4.part_title_2 {padding:0 10px 7px; font-size:14px}
h4.part_title_3 {padding:0 0 7px; font-size:14px}

/* aside menu*/
.reveal-left-nav {    width: 100%;    position: absolute;    top: 0px;    left: 0px;    z-index: 1;    display: none; background: #f5f6f7;    box-shadow: rgba(0, 0, 0, 0.4) 2px 0px 10px 0px;}
.logwrap{position:relative;  background:#194e92;  height: 50px}
.logtop_right {position: absolute; right: 15px; top:15px; }
.logtop_right .logtop_close{width:22px; height: 23px; background:url('../image/mobile/common/btn_close_lnb2.png') no-repeat 0 0; background-size:100% 100%;text-indent: -9999px;}
.logtop{  }
.logtop a {display:inline-block; padding:15px 0 0 15px; text-decoration: none; color: #fff}
.logtop a .ico_user {position:absolute; top:12px; left:15px; display:inline-block; width:28px; height:28px; background:url('../image/mobile/common/ico_user.png') no-repeat 0px 0px; background-size:100%;}
.logtop a .tx {display:inline-block; padding-left:40px;}
.m_article {}
.m_article h2 {background:#133c7e url('../image/mobile/common/h_logo_m1.png') no-repeat 15px 10px; background-size:15%;color: #fff; height: 40px; line-height:40px ; padding: 0 0 0 70px;}
.m_article .main_menu_area {background-color: #fff }
.m_article .main_menu_area ul {margin: 0px 0 0 0px;    padding-left: 0px;    font-size: 17px;    line-height: 20px;    letter-spacing: -1px;    padding-bottom: 6px;}
.m_article .main_menu_area li{ padding-left: 70px;    border-top: 1px solid #ededed;    color: #222;}
.m_article .main_menu_area li a {    display: block;     position: relative;    padding: 12px;    color: inherit;text-decoration: none;}
.m_article .main_menu_area li.main_menu_tt { margin-left:-85px;background:#f5f6f7;    box-shadow: rgba(237, 237, 237, 1.0) 0px 1px 0px; }
.m_article .main_menu_area li.main_menu_tt a{padding: 8px; text-align: center;font-weight: bold;}
.m_article .main_menu_area li:ACTIVE {background: #f0f0f0;}
.m_article .main_menu_area li a span {position:absolute; top:10px; right:5px;  width:22px; height: 23px; background:url('../image/mobile/common/ico_common.png') no-repeat -28px -64px; opacity:0.5;}
.m_article .main_menu_area li a span.nav_icon {position:absolute; top:7px; left:-48px;  width:48px; height: 32px; border:0px solid #ccc; border-radius:5px; opacity:1;}
.m_article .main_menu_area li a span.nav_icon.car_srch {background: url('../image/mobile/common/car_srch.png')no-repeat 0px 60% ;background-size:100%;}
.m_article .main_menu_area li a span.nav_icon.car_ondo {background: url('../image/mobile/common/car_ondo.png')no-repeat 0px 60% ;background-size:100%;}
.m_article .main_menu_area li a span.nav_icon.car_geton {background: url('../image/mobile/common/car_geton.png')no-repeat 0px 60% ;background-size:100%;}
.m_article .main_menu_area li a span.nav_icon.car_getoff {background: url('../image/mobile/common/car_getoff.png')no-repeat 0px 60% ;background-size:100%;}
.m_article .main_menu_area li a span.nav_icon.car_loc {background: url('../image/mobile/common/car_loc.png')no-repeat 0px 60% ;background-size:100%;}
.m_article .main_menu_area li a span.nav_icon.car_alarm {background: url('../image/mobile/common/btn_alarm.png')no-repeat 5px 60% ;background-size:60%;}
.m_article .main_menu_area li a span.nav_icon.car_path {background: url('../image/mobile/common/car_path.png')no-repeat 5px 60% ;background-size:100%;}
.m_article .main_menu_area li a span.nav_icon.ondo_list {background: url('../image/mobile/common/ondo_list.png')no-repeat 0px 60% ;background-size:100%;}

.lf_setlist {padding: 0px 0px;    background: #fff;  z-index: 9990;}
.lf_set {    font-size: 14px;    line-height: 20px;    color: #47494c;}
.lf_set li {  margin-top: 0px;padding:0 25px;border-top: 1px solid #ededed;  }
.lf_set li:last-child {  border-bottom: 1px solid #ededed;  }
.lf_set li:first-child {    margin-top: 0;}
.lf_set li a {    display: inline-block;    position: relative;    padding:9px 5px;    color: inherit;    vertical-align: top;  text-decoration: none; font-size: 17px}
.lf_set li a span {}
.mcom_aside_lft.sm .sp_lf {    background-image: url(../img/com_v2/sp_lf_sm.png);}
.lf_set li .ico_search {    position: absolute;    left: 0;    top: -1px;    width: 17px;    height: 21px;    background-position: -61px -17px;}

.page_info {height: 25%; box-sizing:border-box;padding:5px 15px; background-color: #fff;border-bottom:2px solid #1c589d;margin:10px 0px 0 0px !important;text-align: center;font-size: 16px; font-weight: bold;}
.page_info .menu_link_btn {height: 50%;background-color: #1c589d; color: #fff; font-size: 16px; margin:15px 10px 0;box-shadow: none}
.menu_link {height: 22%; border:0px solid #ccc; box-sizing:border-box;padding:5px 5px; margin:25px 15px 0 !important;}
.menu_link_btn {height: 100%; border-radius:5px; width: 100%; background-color: #fff;border:1px solid #1c589d; font-size: 20px; color:#1c589d;box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px; font-weight: bold;}
.menu_link_btn.car_srch {background:#fff url('../image/mobile/common/car_srch.png')no-repeat 15% 50% ;background-size:30%;padding-left:20%;}
.menu_link_btn.car_loc {background:#fff url('../image/mobile/common/car_loc.png')no-repeat 15% 50% ;background-size:30%;padding-left:20%;}
.menu_link_btn.car_ondo {background:#fff url('../image/mobile/common/car_ondo.png')no-repeat 15% 50% ;background-size:30%;padding-left:20%;}

.menu_link_btn.car_geton {background:#fff url('../image/mobile/common/car_geton.png')no-repeat 15% 50% ;background-size:30%;padding-left:18%;}
.menu_link_btn.car_getoff {background:#fff url('../image/mobile/common/car_getoff.png')no-repeat  15%  50%;background-size:30%;padding-left:18%;}

.menu_link.h_50p {height: 27%;}
@media screen and (max-width: 400px) {
.ui-dialog { width:320px !important; margin:0 auto; box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;}
}
.main_wrap {margin: 0 0; padding:0 0px;}
.page_info.h_170 {height: 165px; padding: 0 10px;}
.menu_group {height:calc(100% - 175px); margin: 0 0px 0 0px !important;padding:0 10px;}
.menu_group .menu_link {height: 28%;}
.menu_group .menu_link_btn {background-size:20% !important;padding-left:15%;}
.menu_group .menu_link.agent {height: 27%;    margin: 12px 15px 0 !important;}
.menu_group.pop {height: 100%; padding:0; }
.menu_group.pop .menu_link{height: 100%; width: 50%; float: left; margin:0;padding: 0 5px; }
.menu_group.pop .menu_link_btn {padding: 0;}
.menu_group.pop .menu_link_btn.car_srch{background-size:70% !important;padding-top:60%;background-position: 60% 25%}
.menu_group.pop .menu_link_btn.car_loc{background-size:70% !important;padding-top:60%;background-position: 60% 25%}
.menu_group.pop .menu_link_btn.car_ondo{background-size:70% !important;padding-top:60%;background-position: 60% 25%}
.menu_group.pop .menu_link_btn.ico_ondogye{background:#f3f2f8 url('../image/mobile/common/ico_ondogye.png')no-repeat;background-size:30% !important;padding-top:60%;background-position: 50% 25%}

.m_dash {position:relative; float: left; width: 50%;padding:0 0px;height: 65px; box-sizing:border-box;}
.m_dash.left { border-right:1px solid #ddd;background: url('../image/mobile/common/ico_car.png')no-repeat  10%  70%;background-size:35%;}
.m_dash.right {background: url('../image/mobile/common/ico_cargo.png')no-repeat  10%  70%;background-size:33%;}
.page_info table {border-collapse: collapse;border-spacing: 0;border-top: 2px solid #194e92;}
.page_info table th {    background: #eef1f6;border:1px solid #ddd;font-size:0.9em;  }
.page_info table td {background: #fff;border:1px solid #ddd;font-size:0.9em;padding:2px; text-align: center;}
.page_info table th span{font-size:0.8em; font-weight: normal;}
.m_dash h2 {text-align: right;padding-right:10px;color: #1c589d; font-size: 0.95em}
.m_dash .dash_data {    position: absolute;    bottom: 5px;    right: 10px;    padding: 10px 0px 0 0;    text-align: right;}
.m_dash .dash_data span {display: inline-block;    font-size: 26px;    font-family: Malgun Gothic;    font-weight: bold;}
.m_dash .dash_data em {    display: inline-block;    font-size: 12px;    font-weight: normal;    padding-left: 5px;    padding: 20px 0 0 5px;}
.error {color: #de1500}
.menu_group h2 {    position: relative;    height: 30px;    line-height: 30px;    background: #7e88a0; text-align:center;   margin:0 -10px 5px;color: #fff}
.main_map {background:#f3f2f8; border:0px solid #838c95; margin-left:0 !important;height: 100%;}
.now_sel {margin: 0;height: 30px;}
.now_sel.row2 {display:block; margin: 0;height: 60px;}
.now_sel li {float: left;width: 50%;height: 30px;}
.now_sel li select {height: 30px;}
.now_sel li.w100 {width: 100%;clear: both;}
.now_time_wrap {position:absolute; top:60px; left:-5px; height: 100%; width:50px;background: rgba(255,255,255,0.7) }
.now_time {display:block;}
.now_time li{display: block; text-align: center;border-bottom: 1px dotted #ddd;padding:5px 0; font-weight: bold;}
.now_addr {position:absolute; bottom:0; left:0; margin-left:0!important; width:100%; background: #464d5d; color: #fff; padding:15px 15px 15px 55px;background:#464d5d url('../image/mobile/common/car_loc_w.png')no-repeat 10px 45% ;background-size:10%}

.btnarea {margin: 0 !important; padding: 6px 5px; background: #fafafa }
.m_table{border-collapse: collapse; border-spacing: 0; border-top: 1px solid #194e92; border-bottom:1px solid #194e92}
.m_table th {background: #153d70; color:#fff;padding: 12px 2px 12px 5px;line-height: 1.1em; font-size: 1.2em  ;border:1px solid #001a39}
.m_table td  {background: #fff; color:#194e92;padding: 12px 2px 12px 5px;line-height: 1.1em ;font-size: 1.3em ;border:1px solid #001a39; text-align: center;font-weight: bold;}

.m_table.agenttb_no {}
.m_table.agenttb_no th {background: #153d70; color:#fff;padding: 14px 2px 14px 5px;line-height: 1.2em; font-size: 1.3em  ;border:1px solid #001a39}
.m_table.agenttb_no td  {background: #fff; color:#194e92;padding: 14px 2px 14px 5px;line-height: 1.2em ;font-size: 1.3em ;border:1px solid #001a39; text-align: center; font-weight: bold;}

.m_list {border-collapse: collapse; border-spacing: 0; border-top: 1px solid #194e92; border-bottom:1px solid #b4b4b4}
/*.m_list.body {border-collapse: collapse; border-spacing: 0;  border-bottom:1px solid #b4b4b4}*/
.m_list th {background: #e8f1ff; color:#194e92;padding: 12px 2px 12px 5px;line-height: 1.2em; border-bottom:1px solid #b4b4b4;border-right:1px solid #b4b4b4;font-size: 1.3em  }
.m_list th:last-child,.m_list td:last-child  {border-right:0px solid #eee }
.m_list td  {background: #fff; color:#333;font-weight:bold; padding: 12px 2px 12px 5px;border-right:1px solid #b4b4b4;border-bottom:1px solid #b4b4b4;border-top:1px solid #eee;line-height: 1.3em;font-size: 1.3em; text-align: center;  }
.m_chart {background: #fff;;padding:5px;margin: 0px !important;border:1px solid #ddd ;}
/*.temp_list_head {border-top: 1px solid #194e92;}*/
/*.temp_list_head,.temp_list_body {margin: 0 !important;}*/
.agent_no{    display: inline-block;    padding: 0px 8px ;   font-weight: bold;     color: #153d70;font-size:1.2em;}
.agent_name {font-weight: bold;padding-right: 8px ;border-right:1px solid #ddd; border-radius:0px ;color: #1c589d;min-width:140px;font-size:1.2em;  }
.arr_time {font-size: 0.5em;}
#main #divSrch { margin: 0 !important;}
.m_intro { display: block;position: relative;  width:100%; height: 100%; background:url(../image/mobile/common/m_intro.png)no-repeat 50% 0%;background-size: auto;     background-size: contain; }
.login_content { margin: 0 !important;float: none;    width: 100%;}

.login_content {height: 100%;}
.login_wrap {display:block;z-index:-1; background:  #eef1f6;  position: fixed;top:0px;right:15px; left:15px; bottom:0px; border-radius:10px;box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;width: calc(100% - 30px); }
.h1_wrap {width: 300px; margin: 0 auto;position: relative;}
.login_content h1.sys_ci {
	background: url(../image/layout/login_ci.png)no-repeat 0% 0%;
    width: 86px;
    margin: 80px 0 0 0px;
    height: 40px;

}
.login_content p {
    margin: 35px auto 20px;}
.maeil_h {background:url(../image/mobile/common/maeil_h.png)no-repeat 0% 0%; width:172px ;height:42px ; margin: 50px auto;}

.icon_notice {background:url(../image/mobile/common/btn_notice.png)no-repeat 0% 0%; width: 25px; height: 25px; display: inline-block;    background-size: contain; margin-right:28px;}
.icon_pass {background:url(../image/mobile/common/btn_pass.png)no-repeat 0% 0%; width: 25px; height: 25px; display: inline-block;    background-size: contain; margin-right:25px;}
.icon_logout {background:url(../image/mobile/common/btn_logout.png)no-repeat 0% 0%; width: 25px; height: 25px; display: inline-block;    background-size: contain; margin-right:25px;}
.m_container {
    padding: 0 0px;
}
.m_right_btn{position: absolute; right: 8px; bottom:8px;}
.btn_list_rd.m_right { height: auto; background: #1c589d; color: #fff; font-size: 14px;padding:6px 10px; border-radius:5px;}
.btn_list_rd.m_btn { height: 35px; line-height: 35px; font-size: 1.1em; }
.btn_list_rd.m_btn2.cancle_btn { background: #7030a0;    border: 1px solid #491273; color: #fff; }
/* .btn_list_rd.m_btn2.cancle_btn span {background-position: -90px -30px;} */
.btn_list_rd.m_btn2.cancle_btn:ACTIVE{background: #491273; border: 1px solid #e08181; color: #fff;}
/* .btn_list_rd.m_btn2.cancle_btn:ACTIVE span{background-position: -90px -30px;} */
.btn_list_rd.m_btn2 { height: auto; line-height: auto; font-size: 1.1em; padding:6px 20px; border-radius:4px; font-weight: bold;}

.srch_box th { height:30px;line-height:30px;   padding: 0px 4px 5px 20px;    background: url(../image/cmn/blt_1.gif) 10px 15px no-repeat;font-size: 1.2em;font-weight: bold;}
.srch_box th .state-required {
	width: 10px;
    height: 20px;
    display: inline-block;
    background-image: url(./image/state-required.png) !important;
    background-repeat: no-repeat !important;
    background-position: right 8px !important;
    float: right;
}
select {
    font-size:1em;
    height: 30px;
    line-height: 30px;
}
.main_wrap h2.t_center {height: 40px; line-height: 40px; font-size: 1.2em;     background: #e8f1ff; color: #153d70; border-top:1px solid #194e92 }
.data-list-box {border: 1px solid #d2d2d2;    height: 28px;    line-height: 28px;    width: 214px;    padding: 0 5px;    background: #fff;}
.data-list-wrap {position: absolute; margin-top:-30px;   background:#fff;    padding: 0px;    z-index: 1000;    width: 225px;    display: block;border: 1px solid #1c589d; }
.data-list-wrap input  {border:0; border-bottom: 1px solid #1c589d;    height: 30px;    line-height: 30px;padding: 0 5px;    background: #fff;}
.data-list-wrap ul{}
.data-list-wrap ul li {    height: 28px;    line-height: 28px;    border-bottom: 1px dotted #fff;    padding: 0 10px; color: #555}
.data-list-wrap ul li:active {background: #194e92;color: #fff}