<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	Copyright 2010 The myBatis Team

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->

<mapper namespace="main">

	<!-- 로그인/로그아웃 히스토리 등록-->
	<insert id="userHistInsert" parameterType="map">
		INSERT INTO TB_USER_HIST (
			  INSERT_ID
			, USER_ID
			, IP_ADDR
			, LOGIN_GB
			, WEB_MOB_GB
		) VALUES (
			  #{userId}
			, #{userId}
			, #{ipAddr}
			, #{loginGb}
			, #{webMobGb}
		)
	</insert>

	<!-- 최종접속일시 update -->
	<update id="lastConUpdate" parameterType="map">
		UPDATE TB_USER SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{userId}
			, LAST_CON_DT = GETDATE()
		WHERE USER_ID = #{userId}
	</update>

	<!-- 사용자 로그인 -->
	<select id="userView" parameterType="map" resultType="box">
		SELECT
				  A.USER_ID
				, A.USE_YN
				, CASE A.USE_YN	WHEN 'Y' THEN '사용' WHEN 'N' THEN '사용안함' END AS USE_YN_NM
				, A.USER_NM
				, A.AUTH_CD
				, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'AUTH_CD' AND CD = A.AUTH_CD) AS AUTH_NM
				, A.CENTER_CD
				, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) AS CENTER_NM
				, A.AGENT_CD
				, (SELECT AGENT_NM FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD) AS AGENT_NM
				, A.AUTH_CENTER_CD
				, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.AUTH_CENTER_CD) AS AUTH_CENTER_NM
				, A.TEL_NO
				, A.HP_NO
				, A.FAX_NO
				, A.EMAIL
				, A.LAST_CON_DT
				, (SELECT CAR_TID FROM TB_CAR WHERE CAR_ID = A.USER_ID) AS CAR_TID
				, (SELECT RENT_YN FROM TB_CAR WHERE CAR_ID = A.USER_ID) AS RENT_YN
				, (SELECT CAR_NO FROM TB_CAR WHERE CAR_ID = A.USER_ID) AS CAR_NO
				, CASE WHEN (SELECT CAR_ID FROM TB_CAR WHERE CAR_ID = A.USER_ID AND CENTER_CD IS NOT NULL AND USE_YN = 'Y') IS NULL THEN 'N' ELSE 'Y' END AS IS_CAR
		FROM TB_USER A
		WHERE A.USER_ID = #{userId}
		<if test='userPwdBypass == null or userPwdBypass == ""'>
<!-- 			AND A.USER_PWD = SUBSTRING(MASTER.DBO.FN_VARBINTOHEXSTR(HASHBYTES('MD5', CONVERT(VARCHAR(MAX), #{userPwd}))), 3, 32) -->
		</if>
	</select>

	<!-- 사용자 권한 -->
	<select id="authList" parameterType="map" resultType="box">
		SELECT
			  A.AUTH_CD
			, A.MENU_CD
			, A.USE_YN
			, A.SELECT_YN
			, A.INSERT_YN
			, A.UPDATE_YN
			, A.DELETE_YN
			, A.EXCEL_YN
			, B.CD_NM AS MENU_NM
			, B.CD_DESC AS L_MENU
			, B.ETC1 AS L_MENU_URL
			, B.SEQ
			, '/' + B.ETC1 + '/' + B.CD AS URL
		 FROM TB_AUTH A, TB_CD B
		WHERE A.MENU_CD = B.CD
		AND B.GRP_CD = 'MENU_CD'
		AND A.AUTH_CD = #{authCd}
		ORDER BY B.CD_DESC ASC, B.SEQ ASC
	</select>

</mapper>