.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;border: 1px solid transparent;}

/*
.grey {font: normal 13px Arial, sans-serif; line-height: 16px;}
.grey ul.mega-menu, .grey ul.mega-menu, .grey ul.mega-menu li {margin: 0; padding: 0; border: none;}
.grey ul.mega-menu {background: #8998a8 url(./bg_grey.png) repeat-x 0 -80px; width: 100%; height: 40px; border-right: 1px solid #8B949F; border-left: 1px solid #8B949F; position: relative;}
.grey ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 13px; font-weight: bold;}
.grey ul.mega-menu li a {float: left; display: block; color: #fff; padding: 12px 38px 12px 25px; background: url(./bg_grey.png) repeat-x 100% 0; text-shadow: 1px 1px 1px #000; text-decoration: none;}
.grey ul.mega-menu li a.dc-mega {position: relative;}
.grey ul.mega-menu li a .dc-mega-icon {display: block; position: absolute; top: 18px; right: 15px; width: 8px; height: 6px; background: url(./arrow.png) no-repeat 0 0;}
.grey ul.mega-menu li.mega-hover a, .grey ul.mega-menu li a:hover {background-position: 100% -40px; color: #000; text-shadow: none;}
.grey ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.grey ul.mega-menu li .sub-container {position: absolute; background: url(./bg_sub_left.png) no-repeat 0 100%; padding-left: 20px; margin-left: -3px;}
.grey ul.mega-menu li .sub {background: url(./bg_sub.png) no-repeat 100% 100%; padding: 20px 20px 20px 10px;}
.grey ul.mega-menu li .sub-container.mega .sub {padding: 20px 20px 10px 0;}
.grey ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.grey ul.mega-menu li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal;}
.grey ul.mega-menu li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.grey ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.grey ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.grey ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {padding: 5px 5px 5px 15px; margin-bottom: 5px; background: #8A98A9 url(./bg_mega_hdr.png) no-repeat 0 0; text-transform: uppercase; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #333;}
.grey ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #000; text-shadow: none;}
.grey ul.mega-menu .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(./arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
.grey ul.mega-menu .sub li.mega-hdr li a:hover {color: #a32403; background: #efefef url(./arrow_on.png) no-repeat 5px 8px;}
.grey ul.mega-menu .sub ul li {padding-right: 0;}
.grey ul.mega-menu li .sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
.grey ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.grey ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(./arrow_off.png) no-repeat 7px 10px;}
.grey ul.mega-menu li .sub-container.non-mega li a:hover {color: #a32403; background: #efefef url(./arrow_on.png) no-repeat 7px 10px;} */

.grey {font: normal 13px Arial, sans-serif; line-height: 16px;}
.grey ul.mega-menu, .grey ul.mega-menu, .grey ul.mega-menu li {margin: 0; padding: 0; border: none;}
/* .grey ul.mega-menu {background: #194e92; width: 978px;margin:0 auto; height: 40px; border-right: 0px; border-left: 0px; position: relative;} */ /* 메뉴 가운데 정렬*/
.grey ul.mega-menu {background: #194e92; width: 100%;height: 40px; border-right: 0px; border-left: 0px; position: relative;}/*메뉴 좌측 정렬*/
.grey ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 14px; font-weight: bold;}
.grey ul.mega-menu li a {float: left; display: block; color: #fff; padding: 13px 38px 13px 25px; background: #194e92;  text-decoration: none;width: 132.5px;}
.grey ul.mega-menu li a.dc-mega {position: relative;}
.grey ul.mega-menu li a .dc-mega-icon {display: block; position: absolute; top: 18px; right: 15px; width: 8px; height: 6px; background: url(./arrow.png) no-repeat 0 0;}
.grey ul.mega-menu li.mega-hover a, .grey ul.mega-menu li a:hover {background:#144078; color: #fff; text-shadow: none;}
.grey ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.grey ul.mega-menu li .sub-container {position: absolute;top:40px !important; left:0 !important; width:100%; box-sizing: border-box; background: #fff;   border: 1px solid #144078; padding-left: 0px; margin-left: 0px !important;}
.grey ul.mega-menu li .sub { padding: 20px 20px 20px 10px;}
.grey ul.mega-menu li .sub-container.mega .sub {padding: 0;}
.grey ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.grey ul.mega-menu li .sub li {list-style: none; float: none; width: 175px; font-size: 1em; font-weight: normal;}
.grey ul.mega-menu li .sub li.mega-hdr {padding: 10px; float: left;}
.grey ul.mega-menu li .sub li.mega-hdr:hover {}
.grey ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.grey ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.grey ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {display:inline-block; width: 100%; box-sizing: border-box; height:30px !important; line-height:28px; padding:0 0; text-align:center; border:1px solid #194e92;border-radius: 2px; margin-bottom: 0px; background:#fff !important; text-transform: uppercase; font-weight: bold; color: #194e92 !important; }
.grey ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #000; text-shadow: none;}
.grey ul.mega-menu .sub li.mega-hdr li a {padding: 5px 5px 5px 20px; border-radius: 2px; background: url(./arrow_off.png) no-repeat 5px 8px;  box-sizing: border-box;  width: 99%;   font-weight: normal;}
.grey ul.mega-menu .sub li.mega-hdr li a:hover {color: #144078 ; background: #efefef url(./arrow_on.png) no-repeat 5px 8px;}
.grey ul.mega-menu .sub ul li {padding-right: 0;}
.grey ul.mega-menu li .sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
.grey ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.grey ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(./arrow_off.png) no-repeat 7px 10px;}
.grey ul.mega-menu li .sub-container.non-mega li a:hover {color: #a32403; background: #efefef url(./arrow_on.png) no-repeat 7px 10px;}

.grey ul.mega-menu li .sub li.mega-hdr:hover, .grey ul.mega-menu li .sub li.mega-hdr.mega-hover {background:#144078 ;}
.grey ul.mega-menu li .sub li.mega-hdr:hover a, .grey ul.mega-menu li .sub li.mega-hdr.mega-hover a{ color: #fff;}
.grey ul.mega-menu li .sub li.mega-hdr:hover a:hover, .grey ul.mega-menu li .sub li.mega-hdr.mega-hover a:hover{color: #144078 ; background: #efefef url(./arrow_on.png) no-repeat 5px 8px;}

.grey ul.mega-menu li a.sample{width: auto; padding:12px 14px;}
.ui-widget-content {
	border:0;
	background: #fff;
	/* color: #222222; */
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	 border: 0;
	/* 	background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x; */
	 background: #fff;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}

/* .dosubmit, .doaction, .dofile {
	background: #fff;
    border-radius: 0 !important;
    border: 1px solid #194e92;
    color: #194e92 !important;
}
.dosubmit:HOVER, .doaction:HOVER, .dofile:HOVER {
	background: rgba(25, 78, 146, 0.1);
	color: #153b6c !important;
} */

/* mdi- tab  */
.ui-tabs {
    position: relative;
    padding: 0;
    clear: both;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #194e90;
    border-radius: 0;
    background: #f5f5f5;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    margin: 2px 0 0 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #c4ced7;
    border-radius: 0;
    background: #f3f2f8 ;
    font-weight: bold;
    color: #121212;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 2px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	color: #194e92;
	background: #fff ;
	border:1px solid #194e90;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #194e92;
    text-decoration: none;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    padding: 1em 1.4em;
    background: none;
    border: 1px solid #194e92;
    border-top: 0;
    min-height: 650px;
}
.ui-state-active .ui-icon {
    background-image:url(../../image/cmn/button.png);
    border-radius:2px;
   /*  opacity:1; */
}
.ui-state-default .ui-icon {
   background-image:url(../../image/cmn/button.png);
    border-radius:2px;
   /* opacity:0.6; */
}
.ui-icon-close {
    background-position: -87px 4px;
}
.ui-icon-close:hover {
    background:rgba(25, 78, 146, 0.1);
    background-image:url(../../image/cmn/button.png);
    background-position: -87px 4px;
}
.ui-icon-arrowrefresh-1-s {
    background-position: -328px 4px;
}
.ui-icon-arrowrefresh-1-s:hover {
    background:rgba(25, 78, 146, 0.1);
    background-image:url(../../image/cmn/button.png);
    background-position: -328px 4px;
}
/*system pop*/
.ui-dialog .ui-dialog-titlebar {
    background: #194e92;
    border: 0;
    border-radius: 0;
    color:#fff;
}
.ui-dialog {
    background: #fff;
    padding: 0;
    border: 1px solid #999;
    border-radius: 0;
}
/*grid color*/
.ui-jqgrid {
    position: relative;
    margin: 0 0;
}
.ui-jqgrid .ui-jqgrid-htable {
    border-top: 0px solid #194e92;
}
.ui-jqgrid .ui-jqgrid-hbox {
    border-top: 1px solid #194e92;
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column-header, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    background: #fafafa;
    color: #194e92;
    font-family: NanumGothicBold;
    padding: 3px 2px 1px;
   border-bottom:0px solid #b4b4b4;
    line-height: 1.2em;
}
.ui-jqgrid .ui-jqgrid-btable tbody .jqgrow td {
    padding: 2px 4px;
    line-height: 1.0em;
}


.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 21px;
}
.ui-jqgrid .ui-icon-asc {

    background-image: url(../../image/cmn/grd_sort.png);
    background-position: 50% 5px;
}

.ui-jqgrid .ui-icon-desc {
     background-image: url(../../image/cmn/grd_sort.png);
    background-position: 50% -6px;

}
/*table input*/
table.dtl_tbl td input[type=text] {width: calc(100% - 10px)}
/* 달력 CSS */
.ui-datepicker.ui-widget-content,.month-picker.ui-widget-content   {border:1px solid #194e92; padding: 0; box-sizing: border-box;}
.ui-datepicker-header,  .month-picker-header { padding: .2em 0;    background: #fff;margin:0 2px 2px;}
.ui-datepicker-calendar{border-collapse:collapse; border-spacing: 0;}
.ui-datepicker-title {margin: 0 2.3em 1.8em;}
.ui-datepicker table,.month-picker-month-table {
    width: 96%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 auto;
    box-sizing:border-box;
}
.ui-datepicker td, .month-picker-month-table {
    border: 0;
    padding: 0px;
    line-height: 22px;
    border: 1px solid #c4ced7;
    box-sizing:border-box;
}
.ui-datepicker .ui-state-default, .ui-datepicker .ui-state-default,.ui-datepicker .ui-widget-header .ui-state-default {
    border: 1px solid #fafafa;
    border-radius: 0;
    background: #fafafa;
    font-weight: bold;
    color: #48515d;
    text-align: center;
}
.ui-datepicker th {
    padding: .2em .3em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #194e92;
     border: 1px solid #194e92;
}
.date-saturday .ui-state-default {
    color: #082fc0 !important;
}
.date-sunday .ui-state-default {
    color: #ff3c00 !important;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .5;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}
.ui-datepicker .ui-datepicker-buttonpane button{    float: right;
     margin: 0 .2em .4em;
    cursor: pointer;
    width: auto;
    overflow: visible;
    color: #194e92;
    border: 1px solid #194e92;
    display: inline-block;
    white-space: nowrap;
    height: 23px;
    line-height: 20px;
    padding: 0 10px 0;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 2px;
    font-size:11px;
        background: rgba(25, 78, 146, 0.1);

}
.ui-datepicker .ui-datepicker-buttonpane button:hover { color: #fff;   background:  #194e92 !important;}
.ui-datepicker {    width: 16em;}
.ui-datepicker select.ui-datepicker-year {    width: 40%;}
.ui-datepicker select.ui-datepicker-month {    width: 35%;}
.ui-datepicker >.ui-state-hover,.ui-datepicker > .ui-widget-content .ui-state-hover,.ui-datepicker > .ui-widget-header .ui-state-hover, .ui-state-focus,.ui-datepicker > .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.month-picker >.ui-state-hover,.month-picker > .ui-widget-content .ui-state-hover,.month-picker > .ui-widget-header .ui-state-hover, .ui-state-focus, .month-picker > .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
    border: 1px solid #79b7e7;
    background: transparent;
    font-weight: bold;
    color: #1d5987;
}
.month-picker-month-table .ui-button {    width: 4.2em;     margin: 0;}
.month-picker-year-table .month-picker-title .ui-button .ui-button-text {color: #194e92;}
.ui-datepicker .ui-state-default.ui-state-hover,.month-picker .ui-state-default.ui-state-hover {
	border: 1px solid #194e92;
    background: #fff !important;
}

.ui-jqgrid .ui-jqgrid-pager {
    height: 28px;
}

.ui-jqgrid .ui-pg-table td {

    line-height: 22px;
}