<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mset">

	<!-- 공지사항 검색조건 -->
	<sql id="noticeSrch">
		<where>
			AND A.SHOW_YN = 'Y'

			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.INSERT_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112)
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.INSERT_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1
			</if>

<!-- 			<if test='srchShowYn != null and srchShowYn != ""'> -->
<!-- 				AND A.SHOW_YN = #{srchShowYn} -->
<!-- 			</if> -->

			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "title"'>
					AND A.TITLE LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "cont"'>
					AND A.CONT LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "multi"'>
					AND (A.TITLE LIKE '%' + #{srchWord} + '%' OR A.CONT LIKE '%' + #{srchWord} + '%')
				</if>
			</if>
		</where>
	</sql>

	<!-- 공지사항 총갯수-->
	<select id="noticeCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_NOTICE A
		<include refid="noticeSrch" />
	</select>

	<!-- 공지사항 조회-->
	<select id="noticeList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY INSERT_DT DESC) AS RNUM
				</otherwise>
			</choose>
			, A.SEQ
			, A.TITLE
			, A.CONT
			, A.SHOW_YN
			, CASE A.SHOW_YN WHEN 'Y' THEN '표시' WHEN 'N' THEN '미표시' END AS SHOW_YN_NM
			, A.INSERT_DT
			, A.INSERT_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.INSERT_ID) AS INSERT_NM
			, '/*NO_LOG*/' AS NO_LOG
		FROM TB_NOTICE A
		<include refid="noticeSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 공지사항 PK조회-->
	<select id="noticeView" parameterType="map" resultType="box">
		SELECT /* 공지사항 */
			  A.SEQ
			, A.TITLE
			, A.CONT
			, A.SHOW_YN
			, CASE A.SHOW_YN WHEN 'Y' THEN '표시' WHEN 'N' THEN '미표시' END AS SHOW_YN_NM
			, A.INSERT_DT
			, A.INSERT_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.INSERT_ID) AS INSERT_NM
			, '/*NO_LOG*/' AS NO_LOG
		FROM TB_NOTICE A
		WHERE A.SEQ = #{seq}
	</select>

	<sql id="indexCenterSrch">
		<choose>
			<when test='sBox != null and sBox.mAuthCd != null and sBox.mAuthCd != ""'>
				<if test='sBox.mAuthCd == "3" or sBox.mAuthCd == "6"'>
					AND 1 = 2
				</if>
				<if test='sBox.mAuthCd == "5"'>
					AND A.CENTER_CD = #{sBox.centerCd}
				</if>
			</when>
			<otherwise>
				AND 1 = 2
			</otherwise>
		</choose>
	</sql>

	<select id="indexCenterView" parameterType="map" resultType="box">
		WITH T1 AS (
			SELECT COUNT(*) AS TOT_CAR_CNT
			FROM TB_CAR A WITH(NOLOCK)
			<where>
				AND A.USE_YN = 'Y'
				AND A.CENTER_CD IS NOT NULL
				AND A.CAR_TID LIKE '012%'
				<include refid="indexCenterSrch"/>
			</where>
		),
		T2 AS (
			SELECT COUNT(*) AS TOT_CARGO_CNT
			FROM TB_CARGO_DEV A WITH(NOLOCK)
			<where>
				AND A.USE_YN = 'Y'
				AND A.CENTER_CD IS NOT NULL
				<include refid="indexCenterSrch"/>
			</where>
		),
		T3 AS (
			SELECT COUNT(DISTINCT A.CAR_ID) AS DRV_CAR_CNT
			FROM TB_CAR A WITH(NOLOCK)
			INNER JOIN TB_CAR_ZONE_IO B WITH (NOLOCK)
				ON B.CAR_ID = A.CAR_ID
				AND B.ZONE_TYPE = '1'
				AND B.START_DT IS NOT NULL
				AND DATEDIFF(DAY, B.SHIP_REQ_DATE, GETDATE()) = 0
			INNER JOIN TB_CAR_ZONE_IO C WITH (NOLOCK)
				ON C.SHIP_NO = B.SHIP_NO
				AND C.CAR_ID = B.CAR_ID
				AND C.ZONE_TYPE = '3'
				AND C.ARR_DT IS NULL
			<where>
				AND A.USE_YN = 'Y'
				AND A.CENTER_CD IS NOT NULL
				AND A.CAR_TID LIKE '012%'
				<include refid="indexCenterSrch"/>
			</where>
		),
		T4 AS (
			SELECT COUNT(*) AS TEMP_VIO_CNT
			FROM TB_CAR A WITH(NOLOCK)
			INNER JOIN TB_CAR_HIST B WITH(NOLOCK)
				ON B.CAR_ID = A.CAR_ID
				AND B.LOG_DIV = 'D'
				AND DATEDIFF(DAY, B.DEV_DT, GETDATE()) = 0
			INNER JOIN TB_CAR_TEMP_VIO C WITH(NOLOCK)
				ON C.DEV_DT = B.DEV_DT
				AND C.EVT_FLAG = '1'
			<where>
				AND A.USE_YN = 'Y'
				AND A.CENTER_CD IS NOT NULL
				<include refid="indexCenterSrch"/>
			</where>
		),
		T5 AS (
			SELECT COUNT(*) AS CARGO_TMEP_VIO_CNT
			FROM TB_CARGO_DEV A WITH(NOLOCK)
			INNER JOIN TB_CARGO_TEMP_VIO C WITH(NOLOCK)
				ON C.DEV_ID = A.DEV_ID
				AND C.EVT_FLAG = '1'
				AND DATEDIFF(DAY, C.DEV_DT, GETDATE()) = 0
			<where>
				AND A.USE_YN = 'Y'
				AND A.CENTER_CD IS NOT NULL
				<include refid="indexCenterSrch"/>
			</where>
		)
		SELECT
			  T1.TOT_CAR_CNT
			, T2.TOT_CARGO_CNT
			, T3.DRV_CAR_CNT
			, T4.TEMP_VIO_CNT
			, T5.CARGO_TMEP_VIO_CNT
		FROM T1
		CROSS JOIN T2
		CROSS JOIN T3
		CROSS JOIN T4
		CROSS JOIN T5
	</select>


	<select id="indexAgentView" parameterType="map" resultType="box">
		WITH T1 AS (
			SELECT
				COUNT(*) AS TOT_CAR_CNT
			FROM TB_CAR A WITH(NOLOCK)
			WHERE A.AGENT_CD = #{sBox.agentCd}
			AND A.USE_YN = 'Y'
		),
		T2 AS (
			SELECT
				COUNT(*) AS TOT_CARGO_CNT
			FROM TB_CARGO_DEV A WITH(NOLOCK)
			WHERE A.CENTER_CD IS NULL
			AND A.AGENT_CD = #{sBox.agentCd}
			AND A.USE_YN = 'Y'
		)
		SELECT
			  T1.TOT_CAR_CNT
			, T2.TOT_CARGO_CNT
		FROM T1
		CROSS JOIN T2
	</select>


	<!-- 알림내역 검색조건 -->
	<sql id="alarmSrch">
		<where>
			AND A.RECV_ID = #{sBox.userId}
			AND A.SEND_FLAG ='200'
			AND A.RECV_FLAG = '200'

			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.SEND_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112)
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.SEND_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1
			</if>

			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "title"'>
					AND A.SEND_TITLE LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "cont"'>
					AND A.SEND_TXT LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "multi"'>
					AND (A.SEND_TITLE LIKE '%' + #{srchWord} + '%' OR A.SEND_TXT LIKE '%' + #{srchWord} + '%')
				</if>
			</if>
		</where>
	</sql>

	<!-- 알림내역 총갯수-->
	<select id="alarmCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_PUSH_HIST A
		<include refid="alarmSrch" />
	</select>

	<!-- 알림내역 조회-->
	<select id="alarmList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY SEND_DT DESC) AS RNUM
				</otherwise>
			</choose>
			, A.SEQ
			, A.SEND_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.SEND_ID) AS SEND_NM
			, A.SEND_TITLE
			, A.SEND_TXT
			, A.RECV_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.RECV_ID) AS RECV_NM
			, A.PUSH_TYPE
			, A.SEND_DT
			, A.SEND_FLAG
			, A.MSG_IDX
			, A.RECV_FLAG
			, A.RECV_TXT
		FROM TB_PUSH_HIST A
		<include refid="alarmSrch" />
		<include refid="cmn.pageEnd" />
	</select>
</mapper>
