<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="agent">
	
	<!--  -->
	<select id="agentCarTempList" parameterType="map" resultType="box">
		WITH T1 AS (
			SELECT 
				1 AS RN
				, CONCAT('DAY', 1) AS RN_NM
				, CAST(#{srchStrDt} AS DATE) AS DT
			UNION ALL 
			SELECT 
				RN + 1
				, CONCAT('DAY', RN + 1)
				, DATEADD(DAY, 1, DT) AS DT
			FROM T1
			WHERE DT &lt; CAST(#{srchEndDt} AS DATE)
		),
		T2 AS (
			SELECT
				  A.STD_DATE
				, A.CAR_ID
				, A.BIZ_CD
				, A.CENTER_CD
				, A.AGENT_CD
				, A.WEEKEND_YN AS WEEKEND_YN
				, A.TEMP_TOT_CNT AS TOT_CNT
			<choose>
				<when test='srchCarAnalDiv != null and srchCarAnalDiv != "" and srchCarAnalDiv == "HACCP"' >
					, A.TEMP_HACCP_NOR_CNT AS CNT
					, A.TEMP_HACCP_NOR_RT AS RT
				</when>
				<otherwise>
					, A.TEMP_NOR_CNT AS CNT
					, A.TEMP_NOR_RT AS RT
				</otherwise>
			</choose>
			FROM TB_CAR_STAT A
			<if test='srchCarNo != null and srchCarNo != ""'>
				INNER JOIN TB_CAR B WITH(NOLOCK)
					ON A.CAR_ID = B.CAR_ID
					AND B.CAR_NO LIKE '%' + #{srchCarNo} + '%'
			</if>
			WHERE A.STD_DATE BETWEEN #{srchStrDt} AND #{srchEndDt}
			AND A.BIZ_CD = #{srchBizCd}
			AND A.CENTER_CD IS NULL
		    AND A.REST_CD = 'N'
		),
		T3 AS (
			SELECT
				A.RN_NM
				, B.RT
				, B.CAR_ID
				, B.AGENT_CD
				, C.AGENT_NM
				, B.TOT_CNT
				, B.CNT
				, MAX(B.RT) OVER(PARTITION BY B.CAR_ID)                                                                      AS MAX_RT
				, MIN(B.RT) OVER(PARTITION BY B.CAR_ID)                                                                      AS MIN_RT
				, SUM(CASE WHEN B.WEEKEND_YN = 'Y' THEN IIF(B.CNT IS NULL, 0, B.CNT) ELSE 0 END) OVER(PARTITION BY B.CAR_ID) AS WEEKEND_CNT
				, SUM(CASE WHEN B.WEEKEND_YN = 'Y' THEN B.TOT_CNT ELSE 0 END) OVER(PARTITION BY B.CAR_ID)                    AS TOT_WEEKEND_CNT
				, SUM(CASE WHEN B.WEEKEND_YN = 'N' THEN IIF(B.CNT IS NULL, 0, B.CNT) ELSE 0 END) OVER(PARTITION BY B.CAR_ID) AS NOR_CNT
				, SUM(CASE WHEN B.WEEKEND_YN = 'N' THEN B.TOT_CNT ELSE 0 END) OVER(PARTITION BY B.CAR_ID)                    AS TOT_NOR_CNT
				, B.STD_DATE
			FROM T1 A
			LEFT OUTER JOIN T2 B
				ON B.STD_DATE = A.DT
			INNER JOIN TB_AGENT C
				ON C.AGENT_CD = B.AGENT_CD
		),
		T4 AS (
			SELECT *
			FROM T3
			PIVOT (
				MAX(RT)
				FOR RN_NM IN (
					DAY1, DAY2, DAY3, DAY4, DAY5, DAY6, DAY7, DAY8, DAY9, DAY10, 
					DAY11, DAY12, DAY13, DAY14, DAY15, DAY16, DAY17, DAY18, DAY19, DAY20, 
					DAY21, DAY22, DAY23, DAY24, DAY25, DAY26, DAY27, DAY28, DAY29, DAY30, 
					DAY31
				)
				 
			) X
		)
		SELECT
			ROW_NUMBER() OVER(ORDER BY A.AGENT_NM, B.CAR_NO) AS RNUM
			, A.*
			, B.COMPANY_CD
			, B.CAR_NO
			, B.DRV_NM
		FROM (
			SELECT
				  AGENT_CD
				, AGENT_NM
				, CAR_ID
				, CAST(SUM(CNT) * 100.0 / SUM(TOT_CNT) AS NUMERIC(5, 1)) AS TOT_RT
				, CAST(MAX(MAX_RT) AS NUMERIC(5, 1)) AS MAX_RT
				, CAST(MIN(MIN_RT) AS NUMERIC(5, 1)) AS MIN_RT
				, IIF(MAX(TOT_NOR_CNT) = 0, 0, CAST(MAX(NOR_CNT) * 100.0 / MAX(TOT_NOR_CNT) AS NUMERIC(5, 1))) AS NORMAL_RT
				, IIF(MAX(TOT_WEEKEND_CNT) = 0, 0, CAST(MAX(WEEKEND_CNT) * 100.0 / MAX(TOT_WEEKEND_CNT) AS NUMERIC(5, 1))) AS WEEKEND_RT
				, MAX(DAY1) AS DAY1
				, MAX(DAY2) AS DAY2
				, MAX(DAY3) AS DAY3
				, MAX(DAY4) AS DAY4
				, MAX(DAY5) AS DAY5
				, MAX(DAY6) AS DAY6
				, MAX(DAY7) AS DAY7
				, MAX(DAY8) AS DAY8
				, MAX(DAY9) AS DAY9
				, MAX(DAY10) AS DAY10
				, MAX(DAY11) AS DAY11
				, MAX(DAY12) AS DAY12
				, MAX(DAY13) AS DAY13
				, MAX(DAY14) AS DAY14
				, MAX(DAY15) AS DAY15
				, MAX(DAY16) AS DAY16
				, MAX(DAY17) AS DAY17
				, MAX(DAY18) AS DAY18
				, MAX(DAY19) AS DAY19
				, MAX(DAY20) AS DAY20
				, MAX(DAY21) AS DAY21
				, MAX(DAY22) AS DAY22
				, MAX(DAY23) AS DAY23
				, MAX(DAY24) AS DAY24
				, MAX(DAY25) AS DAY25
				, MAX(DAY26) AS DAY26
				, MAX(DAY27) AS DAY27
				, MAX(DAY28) AS DAY28
				, MAX(DAY29) AS DAY29
				, MAX(DAY30) AS DAY30
				, MAX(DAY31) AS DAY31
			FROM T4
			WHERE 1 = 1
			GROUP BY CAR_ID, AGENT_CD, AGENT_NM
		) A
		INNER JOIN TB_CAR B WITH(NOLOCK)
			ON B.CAR_ID = A.CAR_ID
	</select>
	
	<select id="agentCarTempDtlList" parameterType="map" resultType="box">
		SELECT
			  ROW_NUMBER() OVER(ORDER BY A.REST_DATE) AS RNUM
	  		, A.REST_DATE
			, F.CD_NM AS REST_NM
			, B.TEMP_TOT_CNT AS TEMP_TOT_CNT1
			, B.TEMP_NOR_CNT
			, CAST(B.TEMP_NOR_RT AS NUMERIC(4, 1)) AS TEMP_NOR_RT
			, B.TEMP_TOT_CNT AS TEMP_TOT_CNT2
			, B.TEMP_HACCP_NOR_CNT
			, CAST(B.TEMP_HACCP_NOR_RT AS NUMERIC(4, 1)) AS TEMP_HACCP_NOR_RT
			, B.STD_DATE
			, B.CAR_ID
			, D.CENTER_NM
			, E.CD_NM AS COMPANY_NM
			, C.CAR_NO
			, C.DRV_NM
			, C.DRV_TEL_NO
			, C.DRV_HP_NO
		FROM TB_CAR_STAT B
		INNER JOIN TB_CAR C WITH(NOLOCK)
			ON C.CAR_ID = B.CAR_ID
		INNER JOIN TB_CENTER D WITH(NOLOCK)
			ON D.CENTER_CD = C.CENTER_CD
		LEFT OUTER JOIN TB_CD E
			ON E.GRP_CD = 'COMPANY_CD'
			AND E.CD = C.COMPANY_CD
		<where>
			AND B.CAR_ID = #{carId}
			AND B.STD_DATE BETWEEN #{srchStrDt} AND #{srchEndDt}
			AND B.BIZ_CD = #{srchBizCd}
			AND B.REST_CD = 'N'
		</where>
	</select>
	
	<sql id="agentCargoTempSrch">
		<where>
			AND A.CENTER_CD IS NULL
			AND A.STD_DATE BETWEEN #{srchStrDt} AND #{srchEndDt}
			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "cargoNm"'>
					AND C.CARGO_NM LIKE '%' + #{srchWord} + '%'
				</if>
			</if>
			<choose>
				<when test='sBox != null and sBox.mAuthCd != null and sBox.mAuthCd != ""'>
					<if test='sBox.mAuthCd == "3" or sBox.mAuthCd == "5"'>
						AND 1 = 2
					</if>
					<if test='sBox.mAuthCd == "6"'>
						AND A.AGENT_CD = #{sBox.agentCd}
					</if>
				</when>
				<otherwise>
					AND 1 = 2
				</otherwise>
			</choose>
		</where>
	</sql>
	
	<!-- 창고 온도 총갯수 -->
	<select id="agentCargoTempCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_CARGO_STAT A
		INNER JOIN TB_AGENT B
			ON B.AGENT_CD = A.AGENT_CD
		INNER JOIN TB_CARGO_DEV C
			ON C.DEV_ID = A.DEV_ID
		<include refid="agentCargoTempSrch"/>
	</select>
	
	<!-- 창고 온도 내역 -->
	<select id="agentCargoTempList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			  ROW_NUMBER() OVER(ORDER BY A.STD_DATE, B.AGENT_NM) AS RNUM
			, A.STD_DATE
			, B.AGENT_NM
			, C.CARGO_NM
			, C.DEV_ID
			, A.TOT_CNT
			, A.VIO_CNT
			, A.VIO_LONG_CNT
			, CAST(A.NOR_RT AS NUMERIC(4, 1)) AS NOR_RT
			, C.CH_CNT
		FROM TB_CARGO_STAT A
		INNER JOIN TB_AGENT B
			ON B.AGENT_CD = A.AGENT_CD
		INNER JOIN TB_CARGO_DEV C
			ON C.DEV_ID = A.DEV_ID
		<include refid="agentCargoTempSrch"/>
		<include refid="cmn.pageEnd" />
	</select>
	
	<!-- 창고 온도 세부 내역 -->
	<select id="agentCargoTempDtlList" parameterType="map" resultType="box">
		SELECT
			  ROW_NUMBER() OVER(ORDER BY A.DEV_DT) AS RNUM
			, A.DEV_DT
			, IIF(B.CH_CNT &lt; 1, NULL, CAST(A.CH1 / 10.0 AS NUMERIC(4, 1))) AS CH1
			, IIF(B.CH_CNT &lt; 2, NULL, CAST(A.CH2 / 10.0 AS NUMERIC(4, 1))) AS CH2
			, IIF(B.CH_CNT &lt; 3, NULL, CAST(A.CH3 / 10.0 AS NUMERIC(4, 1))) AS CH3
			, IIF(B.CH_CNT &lt; 4, NULL, CAST(A.CH4 / 10.0 AS NUMERIC(4, 1))) AS CH4
			, IIF(B.CH_CNT &lt; 5, NULL, CAST(A.CH5 / 10.0 AS NUMERIC(4, 1))) AS CH5
			, IIF(B.CH_CNT &lt; 6, NULL, CAST(A.CH6 / 10.0 AS NUMERIC(4, 1))) AS CH6
		FROM TB_CARGO_HIST A
		INNER JOIN TB_CARGO_DEV B WITH(NOLOCK)
			ON B.DEV_ID = A.DEV_ID
		LEFT OUTER JOIN TB_CARGO_TEMP_VIO C1 WITH(NOLOCK)
			ON C1.DEV_ID = A.DEV_ID
			AND C1.DEV_DT = A.DEV_DT
			AND C1.EVT_FLAG = '1'
		LEFT OUTER JOIN TB_CARGO_TEMP_VIO C2 WITH(NOLOCK)
			ON C2.DEV_ID = A.DEV_ID
			AND C2.DEV_DT = A.DEV_DT
			AND C2.EVT_FLAG = '2'
		WHERE DATEDIFF(DAY, A.DEV_DT, CAST(#{stdDate} AS DATE)) = 0
		AND A.DEV_ID = #{devId}
	</select>
</mapper>