<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basis">

	<!-- 차량 검색조건 -->
	<sql id="carSrch">
		<where>
			<if test='agentYn == "Y"'><!-- 대리점차량 검색일경우 -->
				AND A.CENTER_CD IS NULL
				<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
					<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) > 0 OR " close=", (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) > 0)">
						CHARINDEX(#{item.key}
					</foreach>
				</if>
			</if>
			<if test='agentYn == null or agentYn == "" or agentYn != "Y"'><!-- 센터차량 검색일경우 -->
				AND A.CENTER_CD IS NOT NULL
				<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
					<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", A.CENTER_CD) > 0 OR " close=", A.CENTER_CD) > 0)">
						CHARINDEX(#{item.key}
					</foreach>
				</if>
			</if>

<!-- 			<if test='srchStrDt != null and srchStrDt != ""'> -->
<!-- 				AND A.INSERT_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112) -->
<!-- 			</if> -->
<!-- 			<if test='srchEndDt != null and srchEndDt != ""'> -->
<!-- 				AND A.INSERT_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1 -->
<!-- 			</if> -->

			<if test='srchAgentNm != null and srchAgentNm != ""'>
				AND A.AGENT_CD IN (SELECT AGENT_CD FROM TB_AGENT WHERE AGENT_NM LIKE '%' + #{srchAgentNm} + '%')
			</if>
			<if test='srchCompanyNm != null and srchCompanyNm != ""'>
				AND A.COMPANY_CD IN (SELECT CD FROM TB_CD WHERE CD_NM LIKE '%' + #{srchCompanyNm} + '%')
			</if>
			<if test='srchChCnt != null and srchChCnt != ""'>
				AND A.CH_CNT = #{srchChCnt}
			</if>
			<if test='srchWetCd != null and srchWetCd != ""'>
				AND A.WET_CD = #{srchWetCd}
			</if>
			<if test='srchRentYn != null and srchRentYn != ""'>
				AND A.RENT_YN = #{srchRentYn}
			</if>
			<if test='srchDtgYn != null and srchDtgYn != ""'>
				AND A.DTG_YN = #{srchDtgYn}
			</if>
			<if test='srchBizShowCd != null and srchBizShowCd != ""'>
				AND A.BIZ_SHOW_CD = #{srchBizShowCd}
			</if>
			<if test='srchUseYn != null and srchUseYn != ""'>
				AND A.USE_YN = #{srchUseYn}
			</if>

			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "carId"'>
					AND A.CAR_ID LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "carNo"'>
					AND A.CAR_NO LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "agentCd"'>
					AND A.AGENT_CD LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "agentNm"'>
					AND (SELECT AGENT_NM FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD) LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "carTid"'>
					AND A.CAR_TID LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "drvNm"'>
					AND A.DRV_NM LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "drvTelNo"'>
					AND A.DRV_TEL_NO LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "drvHpNo"'>
					AND A.DRV_HP_NO LIKE '%' + #{srchWord} + '%'
				</if>
			</if>
		</where>
	</sql>

	<!-- 차량 총갯수-->
	<select id="carCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_CAR A WITH (NOLOCK)
		<include refid="carSrch" />
	</select>

	<!-- 차량 조회-->
	<select id="carList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
				<choose>
					<when test='sortColumn != null and sortColumn != ""'>
						ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
					</when>
					<otherwise>
						ROW_NUMBER() OVER(ORDER BY A.CAR_ID ASC) AS RNUM
					</otherwise>
				</choose>
				, A.CAR_ID
				, A.CAR_NO
				, A.CAR_TID
				, A.USE_YN
				, CASE A.USE_YN WHEN 'Y' THEN '사용' WHEN 'N' THEN '미사용' END AS USE_YN_NM
				, A.DTG_YN
				, CASE A.DTG_YN WHEN 'Y' THEN '연동' WHEN 'N' THEN '미연동' END AS DTG_YN_NM
				, A.RENT_YN
				, CASE A.RENT_YN WHEN 'Y' THEN '용차' WHEN 'N' THEN '자차' END AS RENT_YN_NM
				, A.BIZ_SHOW_CD
				, CASE A.BIZ_SHOW_CD WHEN 'D' THEN '배송' WHEN 'T' THEN '수송' END AS BIZ_SHOW_NM
				<if test='agentYn == "Y"'><!-- 대리점차량 검색일경우 -->
					, (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD) AS CENTER_CD
					, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) AS CENTER_NM
				</if>
				<if test='agentYn == null or agentYn == "" or agentYn != "Y"'><!-- 센터차량 검색일경우 -->
					, A.CENTER_CD
					, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) AS CENTER_NM
				</if>
				, A.AGENT_CD
				, (SELECT AGENT_NM FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD) AS AGENT_NM
				, A.COMPANY_CD
				, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'COMPANY_CD' AND CD = A.COMPANY_CD) AS COMPANY_NM
				, A.WET_CD
				, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = '030' AND CD = A.WET_CD) AS WET_NM
				, A.CH_CNT
				, CASE WHEN A.CH_CNT >= 1 THEN CAST(ISNULL(A.CH1_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH1_MAX, '0') AS VARCHAR) ELSE '-' END AS CH1_DP
				, CASE WHEN A.CH_CNT >= 2 THEN CAST(ISNULL(A.CH2_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH2_MAX, '0') AS VARCHAR) ELSE '-' END AS CH2_DP
				, CASE WHEN A.CH_CNT >= 3 THEN CAST(ISNULL(A.CH3_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH3_MAX, '0') AS VARCHAR) ELSE '-' END AS CH3_DP
				, CASE WHEN A.CH_CNT >= 4 THEN CAST(ISNULL(A.CH4_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH4_MAX, '0') AS VARCHAR) ELSE '-' END AS CH4_DP
				, A.CH1_MIN
				, A.CH1_MAX
				, A.CH2_MIN
				, A.CH2_MAX
				, A.CH3_MIN
				, A.CH3_MAX
				, A.CH4_MIN
				, A.CH4_MAX
				, A.DRV_NM
				, A.DRV_TEL_NO
				, A.DRV_HP_NO
				, A.DRV_ZIP_NO
				, A.DRV_ADDR1
				, A.DRV_ADDR2
				, A.LAST_POS_DT
				, A.LAST_TEMP_DT
				, A.PUSH_YN
				, CASE A.PUSH_YN WHEN 'Y' THEN '수신' WHEN 'N' THEN '미수신' END AS PUSH_YN_NM
				, A.PUSH_IDS
				, A.PUSH_NMS
		FROM TB_CAR A WITH (NOLOCK)
		<include refid="carSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 차량 PK조회-->
<!-- 	<select id="carView" parameterType="map" resultType="box"> -->
<!-- 		SELECT -->
<!-- 				  A.CAR_ID -->
<!-- 				, A.CAR_NO -->
<!-- 				, A.CAR_TID -->
<!-- 				, A.USE_YN -->
<!-- 				, CASE A.USE_YN WHEN 'Y' THEN '사용' WHEN 'N' THEN '미사용' END AS USE_YN_NM -->
<!-- 				, A.DTG_YN -->
<!-- 				, CASE A.DTG_YN WHEN 'Y' THEN '연동' WHEN 'N' THEN '미연동' END AS DTG_YN_NM -->
<!-- 				, A.RENT_YN -->
<!-- 				, CASE A.RENT_YN WHEN 'Y' THEN '용차' WHEN 'N' THEN '자차' END AS RENT_YN_NM -->
<!-- 				, A.CENTER_CD -->
<!-- 				, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) AS CENTER_NM -->
<!-- 				, A.COMPANY_CD -->
<!-- 				, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'COMPANY_CD' AND CD = A.COMPANY_CD) AS COMPANY_NM -->
<!-- 				, A.WET_CD -->
<!-- 				, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = '030 AND CD = A.WET_CD) AS WET_NM -->
<!-- 				, A.CH_CNT -->
<!-- 				, CASE WHEN A.CH_CNT >= 1 THEN CAST(ISNULL(A.CH1_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH1_MAX, '0') AS VARCHAR) ELSE '-' END AS CH1_DP -->
<!-- 				, CASE WHEN A.CH_CNT >= 2 THEN CAST(ISNULL(A.CH2_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH2_MAX, '0') AS VARCHAR) ELSE '-' END AS CH2_DP -->
<!-- 				, CASE WHEN A.CH_CNT >= 3 THEN CAST(ISNULL(A.CH3_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH3_MAX, '0') AS VARCHAR) ELSE '-' END AS CH3_DP -->
<!-- 				, CASE WHEN A.CH_CNT >= 4 THEN CAST(ISNULL(A.CH4_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH4_MAX, '0') AS VARCHAR) ELSE '-' END AS CH4_DP -->
<!-- 				, A.CH1_MIN -->
<!-- 				, A.CH1_MAX -->
<!-- 				, A.CH2_MIN -->
<!-- 				, A.CH2_MAX -->
<!-- 				, A.CH3_MIN -->
<!-- 				, A.CH3_MAX -->
<!-- 				, A.CH4_MIN -->
<!-- 				, A.CH4_MAX -->
<!-- 				, A.DRV_NM -->
<!-- 				, A.DRV_TEL_NO -->
<!-- 				, A.DRV_HP_NO -->
<!-- 				, A.DRV_ZIP_NO -->
<!-- 				, A.DRV_ADDR1 -->
<!-- 				, A.DRV_ADDR2 -->
<!-- 				, A.LAST_POS_DT -->
<!-- 				, A.LAST_TEMP_DT -->
<!-- 				, A.PUSH_YN -->
<!-- 				, CASE A.PUSH_YN WHEN 'Y' THEN '수신' WHEN 'N' THEN '미수신' END AS PUSH_YN_NM -->
<!-- 				, A.PUSH_IDS -->
<!-- 				, A.PUSH_NMS -->
<!-- 		FROM TB_CAR A WITH (NOLOCK) -->
<!-- 		WHERE A.CAR_ID = #{carId} -->
<!-- 	</select> -->

	<!-- 센터차량 등록-->
<!-- 	<insert id="carInsert" parameterType="map"> -->
<!-- 	</insert> -->

	<!-- 센터차량 수정 -->
	<update id="carUpdate" parameterType="map">
		UPDATE TB_CAR SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
<!-- 			, CAR_NO = #{carNo} -->
			, CAR_TID = #{carTid}
			, USE_YN = #{useYn}
			, DTG_YN = #{dtgYn}
			, RENT_YN = #{rentYn}
			, BIZ_SHOW_CD = #{bizShowCd}
			<if test='rentIfStat != null and rentIfStat != ""'>
				, RENT_IF_STAT = #{rentIfStat}
			</if>
			, CH_CNT = #{chCnt}
			<if test='chCnt &gt;= 1'>
				, CH1_MIN = #{ch1Min}
				, CH1_MAX = #{ch1Max}
			</if>
			<if test='chCnt &gt;= 2'>
				, CH2_MIN = #{ch2Min}
				, CH2_MAX = #{ch2Max}
			</if>
			<if test='chCnt &gt;= 3'>
				, CH3_MIN = #{ch3Min}
				, CH3_MAX = #{ch3Max}
			</if>
			<if test='chCnt &gt;= 4'>
				, CH4_MIN = #{ch4Min}
				, CH4_MAX = #{ch4Max}
			</if>
			, PUSH_YN = #{pushYn}
			, PUSH_IDS = #{pushIds}
			, PUSH_NMS = #{pushNms}
		WHERE CAR_ID = #{carId}
	</update>

	<!-- 센터차량 삭제-->
<!-- 	<update id="carDelete" parameterType="map"> -->
<!-- 	</update> -->

	<!-- 대리점차량 등록-->
	<insert id="agentCarInsert" parameterType="map">
		INSERT INTO TB_CAR (
			  CAR_ID
			, INSERT_ID
			, CAR_NO
			, CAR_TID
			, USE_YN
			, DTG_YN
			, AGENT_CD
<!-- 			, COMPANY_CD -->
			, WET_CD
			, CH_CNT
			, CH1_MIN
			, CH1_MAX
			, CH2_MIN
			, CH2_MAX
			, CH3_MIN
			, CH3_MAX
			, CH4_MIN
			, CH4_MAX
			, DRV_NM
			, DRV_TEL_NO
			, DRV_HP_NO
<!-- 			, DRV_ZIP_NO -->
<!-- 			, DRV_ADDR1 -->
<!-- 			, DRV_ADDR2 -->
			, PUSH_YN
			, PUSH_IDS
			, PUSH_NMS
		) VALUES (
				(SELECT 'a' +
						CASE 4 - LEN(CAST((MAX(SUBSTRING(CAR_ID, 2, LEN(CAR_ID))) + 1) AS VARCHAR(4))) WHEN 3 THEN '000' WHEN 2 THEN '00' WHEN 1 THEN '0' ELSE '' END +
						ISNULL(CAST((MAX(SUBSTRING(CAR_ID, 2, LEN(CAR_ID))) + 1) AS VARCHAR(4)), '0001') FROM TB_CAR WITH (NOLOCK)
				 WHERE CENTER_CD IS NULL
				 AND CAR_ID LIKE 'a%'
				)
			, #{sBox.userId}
			, #{carNo}
			, #{carTid}
			, #{useYn}
			, #{dtgYn}
			, #{agentCd}
<!-- 			, #{companyCd} -->
			, #{wetCd}
			, #{chCnt}
			, #{ch1Min}
			, #{ch1Max}
			, #{ch2Min}
			, #{ch2Max}
			, #{ch3Min}
			, #{ch3Max}
			, #{ch4Min}
			, #{ch4Max}
			, #{drvNm}
			, #{drvTelNo}
			, #{drvHpNo}
<!-- 			, #{drvZipNo} -->
<!-- 			, #{drvAddr1} -->
<!-- 			, #{drvAddr2} -->
			, #{pushYn}
			, #{pushIds}
			, #{pushNms}
		)
	</insert>

	<!-- 대리점차량 수정 -->
	<update id="agentCarUpdate" parameterType="map">
		UPDATE TB_CAR SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, CAR_NO = #{carNo}
			, CAR_TID = #{carTid}
			, USE_YN = #{useYn}
			, DTG_YN = #{dtgYn}
<!-- 			, RENT_YN = #{rentYn} -->
<!-- 			<if test='rentIfStat != null and rentIfStat != ""'> -->
<!-- 				, RENT_IF_STAT = #{rentIfStat} -->
<!-- 			</if> -->
			, AGENT_CD = #{agentCd}
<!-- 			, COMPANY_CD = #{companyCd} -->
			, WET_CD = #{wetCd}
			, CH_CNT = #{chCnt}
			<if test='chCnt &gt;= 1'>
				, CH1_MIN = #{ch1Min}
				, CH1_MAX = #{ch1Max}
			</if>
			<if test='chCnt &gt;= 2'>
				, CH2_MIN = #{ch2Min}
				, CH2_MAX = #{ch2Max}
			</if>
			<if test='chCnt &gt;= 3'>
				, CH3_MIN = #{ch3Min}
				, CH3_MAX = #{ch3Max}
			</if>
			<if test='chCnt &gt;= 4'>
				, CH4_MIN = #{ch4Min}
				, CH4_MAX = #{ch4Max}
			</if>
			, DRV_NM = #{drvNm}
			, DRV_TEL_NO = #{drvTelNo}
			, DRV_HP_NO = #{drvHpNo}
			, PUSH_YN = #{pushYn}
			, PUSH_IDS = #{pushIds}
			, PUSH_NMS = #{pushNms}
		WHERE CAR_ID = #{carId}
	</update>

	<!-- 대리점차량 삭제-->
	<update id="agentCarDelete" parameterType="map">
		DELETE FROM TB_CAR
		WHERE CAR_ID = #{carId}
	</update>

	<!-- 차량번호 중복체크-->
	<select id="carNoCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_CAR A WITH (NOLOCK)
		WHERE A.CAR_NO = #{carNo}
	</select>

	<!-- 창고단말 검색조건 -->
	<sql id="cargoDevSrch">
		<where>
			<if test='agentYn == "Y"'><!-- 대리점창고단말 검색일경우 -->
				AND A.CENTER_CD IS NULL
				<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
					<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) > 0 OR " close=", (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) > 0)">
						CHARINDEX(#{item.key}
					</foreach>
				</if>
			</if>
			<if test='agentYn == null or agentYn == "" or agentYn != "Y"'><!-- 센터창고단말 검색일경우 -->
				AND A.CENTER_CD IS NOT NULL
				<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
					<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", A.CENTER_CD) > 0 OR " close=", A.CENTER_CD) > 0)">
						CHARINDEX(#{item.key}
					</foreach>
				</if>
			</if>

			<if test='srchAgentNm != null and srchAgentNm != ""'>
				AND A.AGENT_CD IN (SELECT AGENT_CD FROM TB_AGENT WHERE AGENT_NM LIKE '%' + #{srchAgentNm} + '%')
			</if>
			<if test='srchCargoNm != null and srchCargoNm != ""'>
				AND A.CARGO_NM LIKE '%' + #{srchCargoNm} + '%'
			</if>
			<if test='srchChCnt != null and srchChCnt != ""'>
				AND A.CH_CNT = #{srchChCnt}
			</if>
			<if test='srchUseYn != null and srchUseYn != ""'>
				AND A.USE_YN = #{srchUseYn}
			</if>
		</where>
	</sql>

	<!-- 창고단말 총갯수 -->
	<select id="cargoDevCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_CARGO_DEV A WITH (NOLOCK)
		<include refid="cargoDevSrch" />
	</select>

	<!--창고단말 조회 -->
	<select id="cargoDevList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY A.DEV_ID ASC) AS RNUM
				</otherwise>
			</choose>
			, A.CARGO_NM
			, A.DEV_ID
			, A.DEV_NM
			<if test='agentYn == "Y"'><!-- 대리점창고단말 검색일경우 -->
				, (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD) AS CENTER_CD
				, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) AS CENTER_NM
			</if>
			<if test='agentYn == null or agentYn == "" or agentYn != "Y"'><!-- 센터창고단말 검색일경우 -->
				, A.CENTER_CD
				, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) AS CENTER_NM
			</if>
			, A.AGENT_CD
			, (SELECT AGENT_NM FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD) AS AGENT_NM
			, A.USE_YN
			, CASE A.USE_YN WHEN 'Y' THEN '사용' WHEN 'N' THEN '미사용' END AS USE_YN_NM
			, A.CH_CNT
			, CASE WHEN A.CH_CNT >= 1 THEN CAST(ISNULL(A.CH1_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH1_MAX, '0') AS VARCHAR) ELSE '-' END AS CH1_DP
			, CASE WHEN A.CH_CNT >= 2 THEN CAST(ISNULL(A.CH2_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH2_MAX, '0') AS VARCHAR) ELSE '-' END AS CH2_DP
			, CASE WHEN A.CH_CNT >= 3 THEN CAST(ISNULL(A.CH3_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH3_MAX, '0') AS VARCHAR) ELSE '-' END AS CH3_DP
			, CASE WHEN A.CH_CNT >= 4 THEN CAST(ISNULL(A.CH4_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH4_MAX, '0') AS VARCHAR) ELSE '-' END AS CH4_DP
			, CASE WHEN A.CH_CNT >= 5 THEN CAST(ISNULL(A.CH5_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH5_MAX, '0') AS VARCHAR) ELSE '-' END AS CH5_DP
			, CASE WHEN A.CH_CNT >= 6 THEN CAST(ISNULL(A.CH6_MIN, '0') AS VARCHAR) + ' ~ ' + CAST(ISNULL(A.CH6_MAX, '0') AS VARCHAR) ELSE '-' END AS CH6_DP
			, A.CH1_NM
			, A.CH1_MIN
			, A.CH1_MAX
			, A.CH2_NM
			, A.CH2_MIN
			, A.CH2_MAX
			, A.CH3_NM
			, A.CH3_MIN
			, A.CH3_MAX
			, A.CH4_NM
			, A.CH4_MIN
			, A.CH4_MAX
			, A.CH5_NM
			, A.CH5_MIN
			, A.CH5_MAX
			, A.CH6_NM
			, A.CH6_MIN
			, A.CH6_MAX
			, A.LAST_DEV_DT
			, A.LAST_SVR_DT
			, A.CHARGE_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.CHARGE_ID) AS CHARGE_NM
			, (SELECT TEL_NO FROM TB_USER WHERE USER_ID = A.CHARGE_ID) AS CHARGE_TEL
			, (SELECT HP_NO FROM TB_USER WHERE USER_ID = A.CHARGE_ID) AS CHARGE_HP
			, A.PUSH_YN
			, CASE A.PUSH_YN WHEN 'Y' THEN '수신' WHEN 'N' THEN '미수신' END AS PUSH_YN_NM
			, A.PUSH_IDS
			, A.PUSH_NMS
		FROM TB_CARGO_DEV A WITH (NOLOCK)
		<include refid="cargoDevSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 창고단말 등록 -->
	<insert id="cargoDevInsert" parameterType="map">
		INSERT INTO TB_CARGO_DEV (
			  DEV_ID
			, INSERT_ID
			, CARGO_NM
			, DEV_ID
			, DEV_NM
			, USE_YN
			, AGENT_CD
			, CH_CNT
			, CH1_MIN
			, CH1_MAX
			, CH2_MIN
			, CH2_MAX
			, CH3_MIN
			, CH3_MAX
			, CH4_MIN
			, CH4_MAX
			, CH5_MIN
			, CH5_MAX
			, CH6_MIN
			, CH6_MAX
<!-- 			, LAST_DEV_DT -->
<!-- 			, LAST_SVR_DT -->
			, CHARGE_ID
			, PUSH_YN
			, PUSH_IDS
			, PUSH_NMS
		) VALUES (
			  #{devId}
			, #{sBox.userId}
			, #{cargoNm}
			, #{devId}
			, #{devNm}
			, #{useYn}
			, #{agentCd}
			, #{chCnt}
			, #{ch1Min}
			, #{ch1Max}
			, #{ch2Min}
			, #{ch2Max}
			, #{ch3Min}
			, #{ch3Max}
			, #{ch4Min}
			, #{ch4Max}
			, #{ch5Min}
			, #{ch5Max}
			, #{ch6Min}
			, #{ch6Max}
<!-- 			, #{lastDevDt} -->
<!-- 			, #{lastSvrDt} -->
			, #{chargeId}
			, #{pushYn}
			, #{pushIds}
			, #{pushNms}
		)
	</insert>

	<!-- 센터 창고단말 수정 -->
	<update id="cargoDevUpdate" parameterType="map">
		UPDATE TB_CARGO_DEV SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, CARGO_NM = #{cargoNm}
			, USE_YN = #{useYn}
			, CH_CNT = #{chCnt}
			<if test='chCnt &gt;= 1'>
				, CH1_MIN = #{ch1Min}
				, CH1_MAX = #{ch1Max}
			</if>
			<if test='chCnt &gt;= 2'>
				, CH2_MIN = #{ch2Min}
				, CH2_MAX = #{ch2Max}
			</if>
			<if test='chCnt &gt;= 3'>
				, CH3_MIN = #{ch3Min}
				, CH3_MAX = #{ch3Max}
			</if>
			<if test='chCnt &gt;= 4'>
				, CH4_MIN = #{ch4Min}
				, CH4_MAX = #{ch4Max}
			</if>
			<if test='chCnt &gt;= 5'>
				, CH5_MIN = #{ch5Min}
				, CH5_MAX = #{ch5Max}
			</if>
			<if test='chCnt &gt;= 6'>
				, CH6_MIN = #{ch6Min}
				, CH6_MAX = #{ch6Max}
			</if>
<!-- 			, LAST_DEV_DT = #{lastDevDt} -->
<!-- 			, LAST_SVR_DT = #{lastSvrDt} -->
			, CHARGE_ID = #{chargeId}
			, PUSH_YN = #{pushYn}
			, PUSH_IDS = #{pushIds}
			, PUSH_NMS = #{pushNms}
		WHERE DEV_ID = #{devId}
	</update>

	<!--창고단말 삭제-->
	<update id="cargoDevDelete" parameterType="map">
		DELETE FROM TB_CARGO_DEV
		<where>
			<if test='devIdArry == null or devIdArry == "" or devIdArry instanceof String'>
				AND DEV_ID = #{devId}
			</if>
			<if test='devIdArry != null and devIdArry != "" and !(devIdArry instanceof String)'>
				<foreach item="item" collection="devIdArry" open="AND DEV_ID IN (" separator=", " close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</update>

	<!-- 대리점 검색조건 -->
	<sql id="agentSrch">
		<where>
			<if test='srchUseYn != null and srchUseYn != ""'>
				AND A.USE_YN = #{srchUseYn}
			</if>
			<if test='dupleChk == "Y"'>
				AND A.CENTER_CD = #{centerCd} AND A.AGENT_CD = #{agentCd}
			</if>
			<if test='dupleChk != "Y"'>
				<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
					<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", A.CENTER_CD) > 0 OR " close=", A.CENTER_CD) > 0)">
						CHARINDEX(#{item.key}
					</foreach>
				</if>
				<if test='srchAgentNm != null and srchAgentNm != ""'>
					AND (A.AGENT_NM LIKE '%' + #{srchAgentNm} + '%' OR A.AGENT_CD LIKE '%' + #{srchAgentNm} + '%')
				</if>
				<if test='srchAreaCd != null and srchAreaCd != ""'>
					AND A.CVO_SI LIKE '%' + (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'AREA_CD' AND CD = #{srchAreaCd}) + '%'
				</if>
				<if test='srchWord != null and srchWord != ""'>
					<if test='srchMethod == "staffNm"'>
						AND A.STAFF_NM LIKE '%' + #{srchWord} + '%'
					</if>
					<if test='srchMethod == "soCd"'>
						AND A.SO_CD LIKE '%' + #{srchWord} + '%'
					</if>
					<if test='srchMethod == "chCd"'>
						AND A.CH_CD LIKE '%' + #{srchWord} + '%'
					</if>
					<if test='srchMethod == "empNo"'>
						AND A.EMP_NO LIKE '%' + #{srchWord} + '%'
					</if>
				</if>
				<if test='locYn == "Y"'>
					AND A.USE_YN = 'Y'
					AND A.CVO_ADDR IS NOT NULL
					AND A.XPOS IS NOT NULL
					AND A.XPOS != 0
					AND A.YPOS IS NOT NULL
					AND A.YPOS != 0
				</if>

			</if>
		</where>
	</sql>

	<!-- 대리점 총갯수 -->
	<select id="agentCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_AGENT A
		<include refid="agentSrch" />
	</select>

	<!-- 대리점 조회 -->
	<select id="agentList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
<!-- 					ROW_NUMBER() OVER(ORDER BY A.AGENT_NM ASC) AS RNUM -->
					ROW_NUMBER() OVER(ORDER BY A.SAP_UPDATE_DT DESC) AS RNUM
				</otherwise>
			</choose>
			, A.AGENT_CD
			, A.AGENT_NM
			, A.AGENT_NM + ' (' + A.AGENT_CD + ')' AS AGENT_CD_NM
			, A.USE_YN
			, CASE A.USE_YN WHEN 'Y' THEN '사용' WHEN 'N' THEN '미사용' END AS USE_YN_NM
			, A.CENTER_CD
			, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) AS CENTER_NM
			, A.EMP_NO
			, A.SI
			, A.GU
			, A.DONG
			, A.RI
			, A.S_BUNJI
			, A.E_BUNJI
			, A.STAFF_NM
			, A.STAFF_HP_NO
			, A.STAFF_TEL_NO
			, A.SAP_UPDATE_DT
			, A.CVO_ZIP
			, A.CVO_SI
			, A.CVO_ADDR
			, A.XPOS
			, A.YPOS
			, ISNULL(A.CVO_HP_NO, A.STAFF_HP_NO) AS CVO_HP_NO
			, ISNULL(A.CVO_TEL_NO, A.STAFF_TEL_NO) AS CVO_TEL_NO
			, A.SO_CD
			, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'SO_CD' AND CD = A.SO_CD) AS SO_NM
			, A.CH_CD
			, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'CH_CD' AND CD = A.CH_CD) AS CH_NM
			, A.NORMAL_FROM
			, A.NORMAL_TO
			, A.WEEKEND_FROM
			, A.WEEKEND_TO
			, (SELECT COUNT(*) FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD AND SAP_UPDATE_DT > GETDATE() - 7) AS SAP_WEEK_UPDATE
		FROM TB_AGENT A
		<include refid="agentSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 대리점 등록-->
	<insert id="agentInsert" parameterType="map">
		INSERT INTO TB_AGENT (
			  INSERT_ID
			, AGENT_CD
			, AGENT_NM
			, USE_YN
			, CENTER_CD
			, EMP_NO
			, SI
			, GU
			, DONG
			, RI
			, S_BUNJI
			, E_BUNJI
			, STAFF_NM
			, STAFF_HP_NO
			, STAFF_TEL_NO
			, SO_CD
			, CH_CD
			, NORMAL_FROM
			, NORMAL_TO
			, WEEKEND_FROM
			, WEEKEND_TO
		) VALUES (
			  #{sBox.userId}
			, #{agentCd}
			, #{agentNm}
			, #{useYn}
			, #{centerCd}
			, #{empNo}
			, #{si}
			, #{gu}
			, #{dong}
			, #{ri}
			, #{sBunji}
			, #{eBunji}
			, #{staffNm}
			, #{staffHpNo}
			, #{staffTelNo}
			, #{soCd}
			, #{chCd}
			, #{normalFrom}
			, #{normalTo}
			, #{weekendFrom}
			, #{weekendTo}
		)
	</insert>

	<!-- 대리점 수정-->
	<update id="agentUpdate" parameterType="map">
		UPDATE TB_AGENT SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, CVO_ZIP = #{cvoZip}
			, CVO_SI = #{cvoSi}
			, CVO_ADDR = #{cvoAddr}
			, XPOS = #{xpos}
			, YPOS = #{ypos}
<!-- 			, SO_CD = #{soCd} -->
<!-- 			, CH_CD = #{chCd} -->
			, CVO_HP_NO = #{cvoHpNo}
			, CVO_TEL_NO = #{cvoTelNo}
			, USE_YN = #{useYn}
			, NORMAL_FROM = #{normalFrom}
			, NORMAL_TO = #{normalTo}
			, WEEKEND_FROM = #{weekendFrom}
			, WEEKEND_TO = #{weekendTo}
		WHERE AGENT_CD = #{agentCd}
	</update>

	<!-- 대리점 삭제-->
	<update id="agentDelete" parameterType="map">
		DELETE FROM TB_AGENT
		WHERE AGENT_CD = #{agentCd}
	</update>

	<!-- 대리점출도착 최종업데이트 조회-->
	<select id="agentLastUpdateView" parameterType="map" resultType="box">
		SELECT
			  AA.WORK_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = AA.WORK_ID) AS WORK_NM
			, AA.INSERT_DT AS LAST_UPDATE_DT
		FROM  TB_AGENT_IO_LOG AA
		WHERE AA.SEQ = (SELECT MAX(A.SEQ) FROM (SELECT * FROM TB_AGENT_IO_LOG WHERE WORK_DIV = 'U') A)
	</select>

	<!-- 대리점출도착 수정-->
	<update id="agentIoUpdate" parameterType="map">
		UPDATE TB_AGENT SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{userId}
			, NORMAL_FROM = #{normalFrom}
			, NORMAL_TO = #{normalTo}
			, WEEKEND_FROM = #{weekendFrom}
			, WEEKEND_TO = #{weekendTo}
		WHERE AGENT_CD = #{agentCd}
	</update>

	<!-- 대리점출도착 일괄처리로그 등록-->
	<insert id="agentLogInsert" parameterType="map">
		INSERT INTO TB_AGENT_IO_LOG (
			  INSERT_ID
			, WORK_ID
			, WORK_DIV
		) VALUES (
			  #{sBox.userId}
			, #{sBox.userId}
			, 'U'
		)
	</insert>

	<!-- 사용자 검색조건 -->
	<sql id="userSrch">
		<where>

			<if test='pushIdArry instanceof String'>
				AND A.USER_ID = #{pushIds}
			</if>
			<if test='pushIdArry != null and pushIdArry != "" and !(pushIdArry instanceof String)'>
				<foreach item="item" collection="pushIdArry" open="AND A.USER_ID NOT IN (" separator=", " close=")">
					#{item}
				</foreach>
			</if>

			<if test='srchAcDiv != null and srchAcDiv != ""'>
				<if test='srchAcDiv == "C"'><!-- 센터사용자 검색일경우 -->
					AND A.AGENT_CD IS NULL
					<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
		<!-- 				<foreach item="item" collection="srchCenterCdList" open="AND A.CENTER_CD IN (" separator="," close=")"> -->
		<!-- 					#{item.key} -->
		<!-- 				</foreach> -->
						<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", A.CENTER_CD) > 0 OR " close=", A.CENTER_CD) > 0)">
							CHARINDEX(#{item.key}
						</foreach>
					</if>
				</if>
				<if test='srchAcDiv == "A"'><!-- 대리점사용자 검색일경우 -->
					AND A.AGENT_CD IS NOT NULL
					<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
						<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) > 0 OR " close=", (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) > 0)">
							CHARINDEX(#{item.key}
						</foreach>
					</if>
				</if>
			</if>
			<if test='srchAcDiv == null or srchAcDiv == ""'>
				AND
				(A.AGENT_CD IS NULL
				<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
					<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", A.CENTER_CD) > 0 OR " close=", A.CENTER_CD) > 0)">
						CHARINDEX(#{item.key}
					</foreach>
				</if>
				OR A.AGENT_CD IS NOT NULL
				<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
					<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) > 0 OR " close=", (SELECT CENTER_CD FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)) > 0)">
						CHARINDEX(#{item.key}
					</foreach>
				</if>
				)
			</if>

			<if test='srchUserId != null and srchUserId != ""'>
				AND A.USER_ID LIKE '%' + #{srchUserId} + '%'
			</if>
			<if test='srchAgentNm != null and srchAgentNm != ""'>
				AND A.AGENT_CD IN (SELECT AGENT_CD FROM TB_AGENT WHERE AGENT_NM LIKE '%' + #{srchAgentNm} + '%')
			</if>
			<if test='srchAgentCd != null and srchAgentCd != ""'>
				AND A.AGENT_CD = #{srchAgentCd}
			</if>
			<if test='srchAuthCd != null and srchAuthCd != ""'>
				AND A.AUTH_CD = #{srchAuthCd}
			</if>

			<if test='srchPushYn != null and srchPushYn != ""'>
				AND A.PUSH_YN = #{srchPushYn}
			</if>
			<if test='srchUseYn != null and srchUseYn != ""'>
				AND A.USE_YN = #{srchUseYn}
			</if>
			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "userId"'>
					AND A.USER_ID LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "userNm"'>
					AND A.USER_NM LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "telNo"'>
					AND A.TEL_NO LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "hpNo"'>
					AND A.HP_NO LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "faxNo"'>
					AND A.FAX_NO LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "email"'>
					AND A.EMAIL LIKE '%' + #{srchWord} + '%'
				</if>
			</if>
		</where>
	</sql>

	<!-- 사용자 총갯수-->
	<select id="userCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_USER A
		<include refid="userSrch" />
	</select>

	<!-- 사용자 조회-->
	<select id="userList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY USER_ID ASC) AS RNUM
				</otherwise>
			</choose>
			, A.USER_ID
			, A.USE_YN
			, CASE A.USE_YN	WHEN 'Y' THEN '사용' WHEN 'N' THEN '사용정지' END AS USE_YN_NM
			, A.USER_NM
			, A.AUTH_CD
<!-- 			, CASE WHEN A.AUTH_CD = '100' THEN '최고관리자' -->
<!-- 				   WHEN A.AUTH_CD = '104' THEN '웹관리자' -->
<!-- 				   WHEN A.AUTH_CD = '300' THEN '배송기사' -->
<!-- 				   WHEN A.AUTH_CD = '500' THEN '현장관리자' -->
<!-- 			  END AS AUTH_NM -->
			, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'AUTH_CD' AND CD = A.AUTH_CD) AS AUTH_NM
			, A.CENTER_CD
<!-- 			, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) AS CENTER_NM -->
			, A.AUTH_CENTER_CD
<!-- 			, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.AUTH_CENTER_CD) AS AUTH_CENTER_NM -->
<!-- 			, (SELECT DBO.GROUP_CONCAT(AUTH_CENTER_CD) FROM TB_USER_CENTER WHERE USER_ID = A.USER_ID) AS CENTER_CD -->
			, A.TEL_NO
			, A.HP_NO
			, A.FAX_NO
			, A.EMAIL
<!-- 			, CONVERT(varchar(20), A.LAST_CON_DT, 120) AS LAST_CON_DT -->
			, A.INSERT_DT
			, A.LAST_CON_DT
			, A.AGENT_CD
			, A.PUSH_YN
			, CASE A.PUSH_YN WHEN 'Y' THEN '수신' WHEN 'N' THEN '미수신' END AS PUSH_YN_NM
			, CASE WHEN A.AGENT_CD IS NOT NULL THEN 'A' ELSE 'C' END AS AC_DIV
			, CASE WHEN A.AGENT_CD IS NOT NULL THEN '대리점' ELSE '센터' END AS AC_DIV_NM
			, CASE WHEN A.AGENT_CD IS NOT NULL
				THEN (SELECT AGENT_NM FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)
				ELSE (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) END AS AC_NM
		FROM TB_USER A
		<include refid="userSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 사용자 PK조회-->
	<select id="userView" parameterType="map" resultType="box">
		SELECT
			  A.USER_ID
			, A.USE_YN
			, CASE A.USE_YN	WHEN 'Y' THEN '사용' WHEN 'N' THEN '사용안함' END AS USE_YN_NM
			, A.USER_NM
			, A.AUTH_CD
			, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'AUTH_CD' AND CD = A.AUTH_CD) AS AUTH_NM
			, A.CENTER_CD
			, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) AS CENTER_NM
			, A.AUTH_CENTER_CD
			, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.AUTH_CENTER_CD) AS AUTH_CENTER_NM
			, A.TEL_NO
			, A.HP_NO
			, A.FAX_NO
			, A.EMAIL
			, A.INSERT_DT
			, A.LAST_CON_DT
			, A.AGENT_CD
			, A.PUSH_YN
			, CASE WHEN A.AGENT_CD IS NOT NULL THEN 'A' ELSE 'C' END AS AC_DIV
			, CASE WHEN A.AGENT_CD IS NOT NULL THEN '대리점' ELSE '센터' END AS AC_DIV_NM
			, CASE WHEN A.AGENT_CD IS NOT NULL
							THEN (SELECT AGENT_NM FROM TB_AGENT WHERE AGENT_CD = A.AGENT_CD)
							ELSE (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD) END AS AC_NM
		FROM TB_USER A
		WHERE A.USER_ID = #{sBox.userId}
	</select>

	<!-- 사용자 등록-->
	<insert id="userInsert" parameterType="map">
		INSERT INTO TB_USER (
			  USER_ID
			, INSERT_ID
			, USE_YN
			, USER_NM
			, USER_PWD
			, AUTH_CD
			, TEL_NO
			, HP_NO
			, FAX_NO
			, EMAIL
			, CENTER_CD
			, AUTH_CENTER_CD
			, AGENT_CD
			, PUSH_YN
<!-- 			, LAST_CON_DT -->
		) VALUES (
			  #{userId}
			, #{sBox.userId}
			, #{useYn}
			, #{userNm}
<!-- 			, SUBSTRING(MASTER.DBO.FN_VARBINTOHEXSTR(HASHBYTES('MD5', CONVERT(VARCHAR(MAX), #{userPwd}))), 3, 32) -->
			, SUBSTRING(MASTER.DBO.FN_VARBINTOHEXSTR(HASHBYTES('MD5', CONVERT(VARCHAR(MAX), '000000'))), 3, 32)
			, #{authCd}
			, #{telNo}
			, #{hpNo}
			, #{faxNo}
			, #{email}
			<if test='acDiv == "C"'>
				, #{centerCd}
				, #{authCenterCd}
				, NULL
			</if>
			<if test='acDiv == "A"'>
				, NULL
				, NULL
				, #{agentCd}
			</if>
			, #{pushYn}
<!-- 			, GATDATE() -->
		)
	</insert>

	<!-- 사용자 수정-->
	<update id="userUpdate" parameterType="map">
		UPDATE TB_USER SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, USE_YN = #{useYn}
			, USER_NM = #{userNm}
<!-- 			<if test='userPwd != null and userPwd != ""'> -->
<!-- 				, USER_PWD = SUBSTRING(MASTER.DBO.FN_VARBINTOHEXSTR(HASHBYTES('MD5', CONVERT(VARCHAR(MAX), #{userPwd}))), 3, 32) -->
<!-- 			</if> -->
			, AUTH_CD = #{authCd}
			, TEL_NO = #{telNo}
			, HP_NO = #{hpNo}
			, FAX_NO = #{faxNo}
			, EMAIL = #{email}
			<if test='acDiv == "C"'>
				, CENTER_CD = #{centerCd}
				, AUTH_CENTER_CD = #{authCenterCd}
				, AGENT_CD = NULL
			</if>
			<if test='acDiv == "A"'>
				, CENTER_CD = NULL
				, AUTH_CENTER_CD = NULL
				, AGENT_CD = #{agentCd}
			</if>
			, PUSH_YN = #{pushYn}
<!-- 			, LAST_CON_DT = GETDATE() -->
		WHERE USER_ID = #{userId}
	</update>

	<!-- 사용자 사용여부 수정-->
	<update id="userUseYnUpdate" parameterType="map">
		UPDATE TB_USER SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, USE_YN = #{useYn}
		WHERE USER_ID = 'a' + REPLACE(LTRIM(REPLACE(#{agentCd}, '0', ' ')), ' ', '0')
	</update>

	<!-- 사용자 패스워드 초기화-->
	<update id="userPwdResetUpdate" parameterType="map">
		UPDATE TB_USER SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, USER_PWD = SUBSTRING(MASTER.DBO.FN_VARBINTOHEXSTR(HASHBYTES('MD5', CONVERT(VARCHAR(MAX), '000000'))), 3, 32)
		WHERE USER_ID = #{userId}
	</update>

	<!-- 사용자 패스워드 변경-->
	<update id="userPwdUpdate" parameterType="map">
		UPDATE TB_USER SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, USER_PWD = SUBSTRING(MASTER.DBO.FN_VARBINTOHEXSTR(HASHBYTES('MD5', CONVERT(VARCHAR(MAX), #{userPwd}))), 3, 32)
		WHERE USER_ID = #{sBox.userId}
	</update>

	<!-- 사용자 삭제-->
	<update id="userDelete" parameterType="map">
		DELETE FROM TB_USER
		WHERE USER_ID = #{userId}
<!-- 		UPDATE TB_USER SET -->
<!-- 			USE_YN = 'N' -->
<!-- 		WHERE USER_ID = #{userId} -->
	</update>

	<!-- 권한 검색조건 -->
	<sql id="authSrch">
<!-- 		<if test='srchUseYn != null and srchUseYn != ""'> -->
<!-- 			AND A.USE_YN = #{srchUseYn} -->
<!-- 		</if> -->
		<if test='srchWord != null and srchWord != ""'>
			AND A.CD_NM LIKE '%' + #{srchWord} + '%'
		</if>
	</sql>

	<!-- 권한 조회-->
	<select id="authList" parameterType="map" resultType="box">
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY A.CD ASC) AS RNUM
				</otherwise>
			</choose>
			, A.CD
			, A.CD_NM
			, A.CD_DESC
			, A.USE_YN
			, CASE A.USE_YN WHEN 'Y' THEN '사용' WHEN 'N' THEN '미사용' END AS USE_YN_NM
			, (SELECT COUNT(*) FROM TB_USER WHERE AUTH_CD = A.CD) AS AUTH_USER_CNT
		FROM TB_CD A
		WHERE A.GRP_CD = 'AUTH_CD'
		<include refid="authSrch" />
	</select>

	<!-- 권한 사용자 조회-->
	<select id="authUserList" parameterType="map" resultType="box">
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY A.USER_ID ASC) AS RNUM
				</otherwise>
			</choose>
			, A.USER_ID
			, A.USE_YN
			, CASE A.USE_YN	WHEN 'Y' THEN '사용' WHEN 'N' THEN '사용안함' END AS USE_YN_NM
			, A.USER_NM
			, A.AUTH_CD
			, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'AUTH_CD' AND CD = A.AUTH_CD) AS AUTH_NM
			, A.CENTER_CD
			, A.TEL_NO
		FROM TB_USER A
		WHERE A.AUTH_CD = #{authCd}
	</select>

	<!-- 메뉴별권한 조회-->
	<select id="menuAuthList" parameterType="map" resultType="box">
		SELECT
<!-- 			<choose> -->
<!-- 				<when test='sortColumn != null and sortColumn != ""'> -->
<!-- 					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM -->
<!-- 				</when> -->
<!-- 				<otherwise> -->
<!-- 					ROW_NUMBER() OVER(ORDER BY B.CD_DESC ASC, B.SEQ ASC) AS RNUM -->
<!-- 				</otherwise> -->
<!-- 			</choose> -->
			  #{authCd} AS AUTH_CD
			, B.CD AS MENU_CD
			, B.CD_NM AS MENU_NM
			, B.CD_DESC AS L_MENU
			, CASE B.CD_DESC WHEN '1' THEN '환경설정' WHEN '2' THEN '기준정보' WHEN '3' THEN '크레이트관리' WHEN '4' THEN '센터관리' WHEN '5' THEN '대리점관리' END AS L_MENU_NM
			, B.SEQ
			, B.ETC1 AS L_URL
			, ISNULL(A.USE_YN, 'Y') AS USE_YN
			, CASE ISNULL(A.USE_YN, 'Y') WHEN 'Y' THEN '사용' WHEN 'N' THEN '사용안함' END AS USE_YN_NM
			, ISNULL(A.SELECT_YN, 'N') AS SELECT_YN
			, ISNULL(A.INSERT_YN, 'N') AS INSERT_YN
			, ISNULL(A.UPDATE_YN, 'N') AS UPDATE_YN
			, ISNULL(A.DELETE_YN, 'N') AS DELETE_YN
			, ISNULL(A.EXCEL_YN, 'N') AS EXCEL_YN
		FROM (SELECT * FROM TB_AUTH WHERE AUTH_CD = #{authCd}) A
			  RIGHT OUTER JOIN (SELECT * FROM TB_CD WHERE GRP_CD = 'MENU_CD' AND USE_YN = 'Y') B
			  ON A.MENU_CD = B.CD
		ORDER BY B.CD_DESC ASC, B.SEQ ASC
	</select>

	<!-- 권한 등록-->
	<insert id="authInsert" parameterType="map">
		INSERT INTO TB_CD (
			  GRP_CD
			, CD
			, INSERT_ID
			, USE_YN
			, CD_NM
			, CD_DESC
			, SEQ
<!-- 			, ETC1 -->
		) VALUES (
			  'AUTH_CD'
			, #{cd}
			, #{sBox.userId}
			, #{useYn}
			, #{cdNm}
			, #{cdDesc}
			, (SELECT ISNULL(MAX(SEQ), 0) + 1  FROM TB_CD WHERE GRP_CD = 'AUTH_CD')
<!-- 			, #{etc1} -->
		)
	</insert>

	<!-- 권한 수정-->
	<update id="authUpdate" parameterType="map">
		UPDATE TB_CD SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, USE_YN = #{useYn}
			, CD_NM = #{cdNm}
			, CD_DESC = #{cdDesc}
		WHERE GRP_CD = 'AUTH_CD'
		AND CD = #{cd}
	</update>

	<!-- 권한 삭제-->
	<update id="authDelete" parameterType="map">
		DELETE FROM TB_CD
		WHERE GRP_CD = 'AUTH_CD'
		AND CD = #{cd}
	</update>

	<!-- 메뉴권한 삭제-->
	<update id="menuAuthDelete" parameterType="map">
		DELETE FROM TB_AUTH
		WHERE AUTH_CD = #{authCd}
	</update>

	<!-- 메뉴권한 등록-->
	<insert id="menuAuthInsert" parameterType="map">
		INSERT INTO TB_AUTH (
			  AUTH_CD
			, MENU_CD
			, INSERT_ID
			, USE_YN
			, SELECT_YN
			, INSERT_YN
			, UPDATE_YN
			, DELETE_YN
			, EXCEL_YN
		) VALUES
<!-- 		<if test='gridList == null or gridList == "" or gridList instanceof String'> -->
<!-- 		</if> -->
		<if test='gridList != null and gridList != "" and !(gridList instanceof String)'>
			<foreach item="item" collection="gridList" open="(" separator="), (" close=")">
				  #{authCd}
				, #{item.menuCd}
				, #{sBox.userId}
				, 'Y'
				, #{item.selectYn}
				, #{item.insertYn}
				, #{item.updateYn}
				, #{item.deleteYn}
				, #{item.excelYn}
			</foreach>
		</if>

	</insert>

	<!-- 차량휴무일 검색조건 -->
	<sql id="restSrch">
		<where>
	<!-- 		AND A.STD_YM = #{srchStdYm} -->
	<!-- 		AND B.USE_YN = 'Y' -->
	<!-- 		AND B.AGENT_CD IS NULL -->

			<if test='srchCenterCdList != null and !srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
				<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", B.CENTER_CD) > 0 OR " close=", B.CENTER_CD) > 0)">
					CHARINDEX(#{item.key}
				</foreach>
			</if>
	<!-- 		<if test='srchUseYn != null and srchUseYn != ""'> -->
	<!-- 			AND A.USE_YN = #{srchUseYn} -->
	<!-- 		</if> -->

			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "carId"'>
					AND B.CAR_ID LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "carNo"'>
					AND B.CAR_NO LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "drvNm"'>
					AND B.DRV_NM LIKE '%' + #{srchWord} + '%'
				</if>
			</if>
		</where>
	</sql>

	<!-- 차량휴무일 조회-->
	<select id="restList" parameterType="map" resultType="box">
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY B.CENTER_CD ASC, B.CAR_NO ASC) AS RNUM
				</otherwise>
			</choose>
			, B.CAR_ID
			, (SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = B.CENTER_CD) AS CENTER_NM
			, B.CAR_NO
			, B.DRV_NM
			, ISNULL(A.REST_CNT, '0') AS REST_CNT
			, ISNULL(A.STD_YM, #{srchStdYm}) AS STD_YM
			, ISNULL(A.DAY1, 'N') AS DAY1
			, ISNULL(A.DAY2, 'N') AS DAY2
			, ISNULL(A.DAY3, 'N') AS DAY3
			, ISNULL(A.DAY4, 'N') AS DAY4
			, ISNULL(A.DAY5, 'N') AS DAY5
			, ISNULL(A.DAY6, 'N') AS DAY6
			, ISNULL(A.DAY7, 'N') AS DAY7
			, ISNULL(A.DAY8, 'N') AS DAY8
			, ISNULL(A.DAY9, 'N') AS DAY9
			, ISNULL(A.DAY10, 'N') AS DAY10
			, ISNULL(A.DAY11, 'N') AS DAY11
			, ISNULL(A.DAY12, 'N') AS DAY12
			, ISNULL(A.DAY13, 'N') AS DAY13
			, ISNULL(A.DAY14, 'N') AS DAY14
			, ISNULL(A.DAY15, 'N') AS DAY15
			, ISNULL(A.DAY16, 'N') AS DAY16
			, ISNULL(A.DAY17, 'N') AS DAY17
			, ISNULL(A.DAY18, 'N') AS DAY18
			, ISNULL(A.DAY19, 'N') AS DAY19
			, ISNULL(A.DAY20, 'N') AS DAY20
			, ISNULL(A.DAY21, 'N') AS DAY21
			, ISNULL(A.DAY22, 'N') AS DAY22
			, ISNULL(A.DAY23, 'N') AS DAY23
			, ISNULL(A.DAY24, 'N') AS DAY24
			, ISNULL(A.DAY25, 'N') AS DAY25
			, ISNULL(A.DAY26, 'N') AS DAY26
			, ISNULL(A.DAY27, 'N') AS DAY27
			, ISNULL(A.DAY28, 'N') AS DAY28
			, ISNULL(A.DAY29, 'N') AS DAY29
			, ISNULL(A.DAY30, 'N') AS DAY30
			, ISNULL(A.DAY31, 'N') AS DAY31
		FROM (SELECT * FROM TB_CAR_REST WHERE STD_YM = #{srchStdYm}) A
			  RIGHT OUTER JOIN (SELECT * FROM TB_CAR WITH (NOLOCK)
								WHERE USE_YN = 'Y'
								AND AGENT_CD IS NULL
								AND CAR_NO IS NOT NULL
								AND CAR_NO != '') B
			  ON A.CAR_ID = B.CAR_ID
		<include refid="restSrch" />
	</select>

	<!-- 차량휴무 등록-->
	<insert id="restInsert" parameterType="map">
		INSERT INTO TB_CAR_REST ( /* 차량휴무일 */
			  INSERT_ID
			, CAR_ID
			, STD_YM
			, REST_CNT
			, DAY1
			, DAY2
			, DAY3
			, DAY4
			, DAY5
			, DAY6
			, DAY7
			, DAY8
			, DAY9
			, DAY10
			, DAY11
			, DAY12
			, DAY13
			, DAY14
			, DAY15
			, DAY16
			, DAY17
			, DAY18
			, DAY19
			, DAY20
			, DAY21
			, DAY22
			, DAY23
			, DAY24
			, DAY25
			, DAY26
			, DAY27
			, DAY28
			, DAY29
			, DAY30
			, DAY31
		) VALUES (
			  #{userId}
			, #{carId}
			, #{stdYm}
			, #{restCnt}
			, #{day1}
			, #{day2}
			, #{day3}
			, #{day4}
			, #{day5}
			, #{day6}
			, #{day7}
			, #{day8}
			, #{day9}
			, #{day10}
			, #{day11}
			, #{day12}
			, #{day13}
			, #{day14}
			, #{day15}
			, #{day16}
			, #{day17}
			, #{day18}
			, #{day19}
			, #{day20}
			, #{day21}
			, #{day22}
			, #{day23}
			, #{day24}
			, #{day25}
			, #{day26}
			, #{day27}
			, #{day28}
			, #{day29}
			, #{day30}
			, #{day31}
		)
	</insert>

	<!-- 차량휴무 일괄등록-->
	<insert id="restBatchInsert" parameterType="map">
		INSERT INTO TB_CAR_REST ( /* 차량휴무일 */
			  INSERT_ID
			, CAR_ID
			, STD_YM
			, REST_CNT
			, DAY1
			, DAY2
			, DAY3
			, DAY4
			, DAY5
			, DAY6
			, DAY7
			, DAY8
			, DAY9
			, DAY10
			, DAY11
			, DAY12
			, DAY13
			, DAY14
			, DAY15
			, DAY16
			, DAY17
			, DAY18
			, DAY19
			, DAY20
			, DAY21
			, DAY22
			, DAY23
			, DAY24
			, DAY25
			, DAY26
			, DAY27
			, DAY28
			, DAY29
			, DAY30
			, DAY31
		) VALUES
<!-- 		<if test='gridList == null or gridList == "" or gridList instanceof String'> -->
<!-- 		</if> -->
		<if test='restList != null and restList != "" and !(restList instanceof String)'>
			<foreach item="item" collection="restList" open="(" separator="), (" close=")">
				  #{sBox.userId}
				, #{item.carId}
				, #{stdYm}
				, #{item.restCnt}
				, #{item.day1}
				, #{item.day2}
				, #{item.day3}
				, #{item.day4}
				, #{item.day5}
				, #{item.day6}
				, #{item.day7}
				, #{item.day8}
				, #{item.day9}
				, #{item.day10}
				, #{item.day11}
				, #{item.day12}
				, #{item.day13}
				, #{item.day14}
				, #{item.day15}
				, #{item.day16}
				, #{item.day17}
				, #{item.day18}
				, #{item.day19}
				, #{item.day20}
				, #{item.day21}
				, #{item.day22}
				, #{item.day23}
				, #{item.day24}
				, #{item.day25}
				, #{item.day26}
				, #{item.day27}
				, #{item.day28}
				, #{item.day29}
				, #{item.day30}
				, #{item.day31}
			</foreach>
		</if>
	</insert>


	<!-- 차량휴무 삭제-->
	<update id="restDelete" parameterType="map">
		DELETE FROM TB_CAR_REST
		WHERE STD_YM = #{stdYm}
	</update>

	<!-- 차량휴무 최종업데이트 조회-->
	<select id="restLastUpdateView" parameterType="map" resultType="box">
		SELECT
			  AA.WORK_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = AA.WORK_ID) AS WORK_NM
			, AA.INSERT_DT AS LAST_UPDATE_DT
		FROM  TB_CAR_REST_LOG AA
		WHERE AA.SEQ = (SELECT MAX(A.SEQ) FROM (SELECT * FROM TB_CAR_REST_LOG WHERE WORK_DIV = 'U' AND STD_YM = #{srchStdYm}) A)
	</select>

	<!-- 차량휴무 일괄처리로그 등록-->
	<insert id="restLogInsert" parameterType="map">
		INSERT INTO TB_CAR_REST_LOG (
			  INSERT_ID
			, STD_YM
			, WORK_ID
			, WORK_DIV
		) VALUES (
			  #{sBox.userId}
			, #{stdYm}
			, #{sBox.userId}
			, 'U'
		)
	</insert>

</mapper>
