<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dash">

	<sql id="carRestCte">
		WITH REST1 AS (
			SELECT
				 A.CAR_ID
				,CAST(GETDATE() AS DATE) AS REST_DATE
				,CASE DATEPART(DAY, GETDATE())
					WHEN 1 THEN DAY1
					WHEN 2 THEN DAY2
					WHEN 3 THEN DAY3
					WHEN 4 THEN DAY4
					WHEN 5 THEN DAY5
					WHEN 6 THEN DAY6
					WHEN 7 THEN DAY7
					WHEN 8 THEN DAY8
					WHEN 9 THEN DAY9
					WHEN 10 THEN DAY10
					WHEN 11 THEN DAY11
					WHEN 12 THEN DAY12
					WHEN 13 THEN DAY13
					WHEN 14 THEN DAY14
					WHEN 15 THEN DAY15
					WHEN 16 THEN DAY16
					WHEN 17 THEN DAY17
					WHEN 18 THEN DAY18
					WHEN 19 THEN DAY19
					WHEN 20 THEN DAY20
					WHEN 21 THEN DAY21
					WHEN 22 THEN DAY22
					WHEN 23 THEN DAY23
					WHEN 24 THEN DAY24
					WHEN 25 THEN DAY25
					WHEN 26 THEN DAY26
					WHEN 27 THEN DAY27
					WHEN 28 THEN DAY28
					WHEN 29 THEN DAY29
					WHEN 30 THEN DAY30
					WHEN 31 THEN DAY31
				END AS REST_CD
			FROM TB_CAR_REST A WITH(NOLOCK)
			WHERE A.STD_YM = CONVERT(VARCHAR(6), GETDATE(), 112)
		)
	</sql>

	<!-- 센터대시보드 -->
	<select id="dashCenterCntRt" parameterType="map" resultType="box">
		<include refid="carRestCte"/>
		,C1 AS (  <!-- 차량수, DTG미장착, 용차 -->
			SELECT
				  COUNT(*) AS TOT_CAR_CNT
				, SUM(IIF(A.RENT_YN = 'Y', 1, 0)) AS RENT_CNT
			FROM TB_CAR A WITH (NOLOCK)
			WHERE A.USE_YN = 'Y'
			AND A.CENTER_CD IS NOT NULL
			AND A.CAR_TID LIKE '012%'
		)
		,C2 AS ( <!-- 운행차량수 -->
			SELECT COUNT(DISTINCT A.CAR_ID) AS DRV_CAR_CNT
			FROM TB_CAR A WITH(NOLOCK)
			WHERE 1 = 1
			AND A.USE_YN = 'Y'
			AND A.CENTER_CD IS NOT NULL
			AND A.CAR_TID LIKE '012%'
		    AND DATEDIFF(DAY, A.LAST_TEMP_DT, GETDATE()) = 0
		)
		,C3 AS (
			SELECT
				 ISNULL(IIF(SUM(A.TEMP_TOT_CNT) = 0, 0, CAST(SUM(A.TEMP_NOR_CNT) * 100.0 / SUM(A.TEMP_TOT_CNT) AS NUMERIC(4, 1))), 0) AS CAR_TEMP_NOR_RT
			FROM TB_CAR_STAT A WITH(NOLOCK)
			WHERE A.STD_DATE &gt;= CAST(GETDATE() - 1 AS DATE)
			AND A.STD_DATE &lt; CAST(GETDATE() AS DATE)
			AND A.CENTER_CD IS NOT NULL
		    AND A.REST_CD = 'N'
		)
		,C4 AS ( <!-- 휴식차량 -->
			SELECT
				  SUM(IIF(A.REST_CD = '1', 1, 0)) AS REST_CNT
				, SUM(IIF(A.REST_CD = '2', 1, 0)) AS DEV_BKN_CNT
				, SUM(IIF(A.REST_CD = '3', 1, 0)) AS REPAIR_CNT
			FROM REST1 A
		)
		,W1 AS ( <!-- 창고수 -->
			SELECT COUNT(*) AS TOT_CARGO_CNT
			FROM TB_CARGO_DEV A WITH (NOLOCK)
			WHERE A.USE_YN = 'Y'
			AND A.CENTER_CD IS NOT NULL
		)
		,W2 AS (
			SELECT
				ISNULL(IIF(SUM(A.TOT_CNT) = 0, 0, CAST(SUM(A.NOR_CNT) * 100.0 / SUM(A.TOT_CNT) AS NUMERIC(4, 1))), 0) AS CARGO_TEMP_NOR_RT
			FROM TB_CARGO_STAT A WITH(NOLOCK)
			WHERE A.STD_DATE &gt;= CAST(GETDATE() - 1 AS DATE)
			AND A.STD_DATE &lt; CAST(GETDATE() AS DATE)
			AND A.CENTER_CD IS NOT NULL
		)
		,D1 AS (
			SELECT
				  ISNULL(SUM(A.DELI_PLAN_CNT), 0) AS DELI_PLAN_CNT
				, ISNULL(SUM(A.DELI_COMP_CNT), 0) AS DELI_COMP_CNT
				, ISNULL(SUM(A.DELI_PLAN_CNT), 0) - ISNULL(SUM(A.DELI_COMP_CNT), 0) AS DELI_INCOMP_CNT
			FROM TB_CAR_STAT A WITH(NOLOCK)
			WHERE A.STD_DATE &gt;= CAST(GETDATE() - 1 AS DATE)
			AND A.STD_DATE &lt; CAST(GETDATE() AS DATE)
			AND A.CENTER_CD IS NOT NULL
		    AND A.REST_CD = 'N'
		)
		,A1 AS (
			SELECT
				ISNULL(IIF(SUM(A.ARR_TOT_CNT) = 0, 0, CAST(SUM(A.ARR_AGENT_NOR_CNT) * 100.0 / SUM(A.ARR_TOT_CNT) AS NUMERIC(4, 1))), 0) AS YESTERDAY_ARR_NOR_RT
			FROM TB_CAR_STAT A WITH(NOLOCK)
			WHERE A.STD_DATE &gt;= CAST(GETDATE() - 1 AS DATE)
			AND A.STD_DATE &lt; CAST(GETDATE() AS DATE)
			AND A.CENTER_CD IS NOT NULL
		    AND A.REST_CD = 'N'
		)
		,A2 AS (
			SELECT
				IIF(ARR_TOT_CNT = 0, 0, CAST(ARR_NOR_CNT * 100.0 / ARR_TOT_CNT AS NUMERIC(4, 1))) AS TODAY_ARR_NOR_RT
			FROM (
				SELECT
					  COUNT(*) AS ARR_TOT_CNT
					, SUM(IIF(C.AGENT_DELAY_YN = 'N', 1, 0)) AS ARR_NOR_CNT
				FROM TB_DELI_DTL B WITH (NOLOCK)
				INNER JOIN TB_CAR_ZONE_IO C WITH (NOLOCK)
					ON C.SHIP_NO = B.SHIP_NO
					AND C.AGENT_CD = B.AGENT_CD
					AND C.DELI_NO = B.DELI_NO
				LEFT OUTER JOIN REST1 D
					ON D.CAR_ID = C.CAR_ID
					AND DATEDIFF(DAY, D.REST_DATE, C.ARR_DT) = 0
				WHERE DATEDIFF(DAY, GETDATE(), C.ARR_DT) = 0
				AND B.BIZ_CD = 'D'
				AND ISNULL(D.REST_CD, 'N') = 'N'
			) X
		)
		SELECT
			  C1.TOT_CAR_CNT
			, W1.TOT_CARGO_CNT
			, C2.DRV_CAR_CNT
			, C4.REST_CNT
			, C1.RENT_CNT
			, IIF(C1.TOT_CAR_CNT &lt; C2.DRV_CAR_CNT, 0, C1.TOT_CAR_CNT - C2.DRV_CAR_CNT) AS ETC_CAR_CNT
			, C4.DEV_BKN_CNT
			, C3.CAR_TEMP_NOR_RT
			, W2.CARGO_TEMP_NOR_RT
			, D1.DELI_PLAN_CNT
			, D1.DELI_COMP_CNT
			, D1.DELI_INCOMP_CNT
			, A1.YESTERDAY_ARR_NOR_RT
			, A2.TODAY_ARR_NOR_RT
		FROM C1
		CROSS JOIN C2
		CROSS JOIN C3
		CROSS JOIN C4
		CROSS JOIN W1
		CROSS JOIN W2
		CROSS JOIN D1
		CROSS JOIN A1
		CROSS JOIN A2
	</select>

	<select id="dayCarTempList" parameterType="map" resultType="box">
		WITH T1 AS (
			SELECT
				CAST(GETDATE() - 7 AS DATE) AS STD_DATE
			UNION ALL
			SELECT
				DATEADD(DAY, 1, STD_DATE)
			FROM T1
			WHERE STD_DATE &lt; CAST(GETDATE() - 1 AS DATE)
		),
		T2 AS (
			SELECT
				   A.STD_DATE
				 , IIF(SUM(A.TEMP_TOT_CNT) = 0, 0, CAST(SUM(A.TEMP_NOR_CNT) * 100.0 / SUM(A.TEMP_TOT_CNT) AS NUMERIC(4, 1))) AS TEMP_NOR_RT
			FROM TB_CAR_STAT A WITH(NOLOCK)
			WHERE A.STD_DATE BETWEEN CAST(GETDATE() - 7 AS DATE) AND CAST(GETDATE() - 1 AS DATE)
			AND A.CENTER_CD IS NOT NULL
			AND A.REST_CD = 'N'
			GROUP BY A.STD_DATE
		)
		SELECT
			  CAST(T1.STD_DATE AS DATETIME) AS STD_DT
			, ISNULL(T2.TEMP_NOR_RT, 0) AS TEMP_NOR_RT
		FROM T1
		LEFT OUTER JOIN T2
			ON T2.STD_DATE = T1.STD_DATE
		ORDER BY T1.STD_DATE
	</select>

	<select id="dayCenterTempList" parameterType="map" resultType="box">
		WITH T1 AS (
			SELECT
				CAST(GETDATE() - 7 AS DATE) AS STD_DATE
			UNION ALL
			SELECT
				DATEADD(DAY, 1, STD_DATE)
			FROM T1
			WHERE STD_DATE &lt; CAST(GETDATE() - 1 AS DATE)
		),
		T2 AS (
			SELECT
				  A.STD_DATE
				, B.CENTER_CD
				, B.CENTER_NM
			FROM T1 A
			CROSS JOIN (
				SELECT CENTER_CD, CENTER_NM
				FROM TB_CENTER WITH(NOLOCK)
				WHERE USE_YN = 'Y'
				AND CENTER_CD IN ('1200', '1300', '1400', '1500', '2100', '2300', '2700', '3600', '9999')
		   ) B
		),
		T3 AS (
			SELECT
				  A.STD_DATE
				, A.CENTER_CD
				, IIF(SUM(A.TEMP_TOT_CNT) = 0, 0, CAST(SUM(A.TEMP_NOR_CNT) * 100.0 / SUM(A.TEMP_TOT_CNT) AS NUMERIC(4, 1))) AS TEMP_NOR_RT
			FROM TB_CAR_STAT A WITH(NOLOCK)
			WHERE A.STD_DATE &gt;= CAST(GETDATE() - 7 AS DATE)
			AND A.STD_DATE &lt; CAST(GETDATE() AS DATE)
			AND A.CENTER_CD IN ('1200', '1300', '1400', '1500', '2100', '2300', '2700', '3600', '9999')
			AND A.REST_CD = 'N'
			GROUP BY A.STD_DATE, A.CENTER_CD
		)
		SELECT
			  CAST(T2.STD_DATE AS DATETIME) AS STD_DT
			, DATEDIFF(DAY, T2.STD_DATE, GETDATE()) AS DAYS_AGO
			, T2.CENTER_CD
			, T2.CENTER_NM
			,ISNULL(T3.TEMP_NOR_RT, 0) AS TEMP_NOR_RT
		FROM T2
		LEFT OUTER JOIN T3
			ON T3.CENTER_CD = T2.CENTER_CD
			AND T3.STD_DATE = T2.STD_DATE
		ORDER BY T2.CENTER_CD, T2.STD_DATE
	</select>

	<!-- 센터별 차량 온도 준수율 -->
	<select id="centerCarTempList" parameterType="map" resultType="box">
		SELECT
			  A.CENTER_CD
			, A.CENTER_NM
			, ISNULL(B.CAR_TEMP_NOR_RT, 0) AS CAR_TEMP_NOR_RT
		FROM TB_CENTER A WITH(NOLOCK)
		INNER JOIN (
			SELECT
				  AA.CENTER_CD
				, ISNULL(IIF(SUM(AA.TEMP_TOT_CNT) = 0, 0, CAST(SUM(AA.TEMP_NOR_CNT) * 100.0 / SUM(AA.TEMP_TOT_CNT) AS NUMERIC(4, 1))), 0) AS CAR_TEMP_NOR_RT
			FROM TB_CAR_STAT AA WITH(NOLOCK)
			WHERE AA.STD_DATE = CAST(GETDATE() - 1 AS DATE)
			AND AA.BIZ_CD = 'D'
			AND AA.TEMP_TOT_CNT IS NOT NULL
			AND AA.CENTER_CD IS NOT NULL
			AND AA.REST_CD = 'N'
			GROUP BY AA.CENTER_CD
		) B
			ON B.CENTER_CD = A.CENTER_CD
		WHERE A.USE_YN = 'Y'
		AND A.CENTER_CD IS NOT NULL
	</select>

	<!-- 센터별 창고 온도 준수율 -->
	<select id="centerCargoTempList" parameterType="map" resultType="box">
		SELECT
			  A.CENTER_CD
			, A.CENTER_NM
			, ISNULL(B.CARGO_TEMP_NOR_RT, 0) AS CARGO_TEMP_NOR_RT
		FROM TB_CENTER A WITH(NOLOCK)
		INNER JOIN (
			SELECT
				  AA.CENTER_CD
				, ISNULL(IIF(SUM(AA.TOT_CNT) = 0, 0, CAST(SUM(AA.NOR_CNT) * 100.0 / SUM(AA.TOT_CNT) AS NUMERIC(4, 1))), 0) AS CARGO_TEMP_NOR_RT
			FROM TB_CARGO_STAT AA WITH(NOLOCK)
			WHERE AA.STD_DATE = CAST(GETDATE() - 1 AS DATE)
			AND AA.TOT_CNT IS NOT NULL
			AND AA.CENTER_CD IS NOT NULL
			GROUP BY AA.CENTER_CD
		) B
			ON B.CENTER_CD = A.CENTER_CD
		WHERE A.USE_YN = 'Y'
		AND A.CENTER_CD IS NOT NULL
	</select>

	<select id="cargoTempList" parameterType="map" resultType="box">
		SELECT
			  A.CENTER_CD
			, A.CENTER_NM
			, A.DAYS_AGO
			, A.DAYS_AGO_NM
			, IIF(SUM(B.TOT_CNT) = 0, 0, CAST(SUM(B.NOR_CNT) * 100.0 / SUM(B.TOT_CNT) AS NUMERIC(4, 1))) AS RT
		FROM (
			SELECT
				  BB.STD_DATE
				, BB.DAYS_AGO_NM
				, DATEDIFF(DAY, BB.STD_DATE, GETDATE()) AS DAYS_AGO
				, AA.CENTER_CD
				, AA.CENTER_NM
			FROM TB_CENTER AA WITH(NOLOCK)
			CROSS JOIN (
				SELECT CAST(GETDATE() - 1 AS DATE) AS STD_DATE, '당일건수' AS DAYS_AGO_NM
				UNION ALL
				SELECT CAST(GETDATE() - 2 AS DATE) AS STD_DATE, '전일건수' AS DAYS_AGO_NM
				UNION ALL
				SELECT CAST(GETDATE() - 7 AS DATE) AS STD_DATE, '최근일주일' AS DAYS_AGO_NM
			) BB
			WHERE AA.USE_YN = 'Y'
		) A
		INNER JOIN TB_CARGO_STAT B WITH(NOLOCK)
			ON B.CENTER_CD = A.CENTER_CD
			AND B.STD_DATE = A.STD_DATE
			AND B.CENTER_CD IS NOT NULL
		GROUP BY A.DAYS_AGO, A.DAYS_AGO_NM, A.CENTER_CD, A.CENTER_NM
		ORDER BY DAYS_AGO, A.CENTER_CD
	</select>

	<select id="deliTranList" parameterType="map" resultType="box">
		<include refid="carRestCte"/>
		,T1 AS (
			SELECT
				CAST(GETDATE() - 6 AS DATE) AS STD_DATE
			UNION ALL
			SELECT
				DATEADD(DAY, 1, STD_DATE)
			FROM T1
			WHERE STD_DATE &lt; CAST(GETDATE() - 1 AS DATE)
		)
		,T2 AS (
			SELECT
				  A.STD_DATE
				, B.BIZ_CD
			FROM T1 A
			CROSS JOIN (SELECT CD AS BIZ_CD FROM TB_CD WHERE USE_YN = 'Y' AND GRP_CD = '020') B
		)
		,T3 AS (
			SELECT
				   A.STD_DATE
				 , A.BIZ_CD
				 , SUM(A.DELI_COMP_CNT) AS DELI_COMP_CNT
				 , SUM(A.DELI_PLAN_CNT) AS DELI_PLAN_CNT
			FROM TB_CAR_STAT A WITH(NOLOCK)
			WHERE A.STD_DATE &gt;= CAST(GETDATE() - 6 AS DATE)
			AND A.STD_DATE &lt; CAST(GETDATE() AS DATE)
			AND A.CENTER_CD IS NOT NULL
		    AND A.REST_CD = 'N'
			GROUP BY A.STD_DATE, A.BIZ_CD
		)
		,T4 AS (
			SELECT
				 X.STD_DATE
				,X.BIZ_CD
				,ISNULL(Y.DELI_PLAN_CNT, 0) AS DELI_PLAN_CNT
				,ISNULL(Y.DELI_COMP_CNT, 0) AS DELI_COMP_CNT
			FROM (
				SELECT
					  A.STD_DATE
					, B.BIZ_CD
				FROM (SELECT CAST(GETDATE() AS DATE) AS STD_DATE) A
				CROSS JOIN (SELECT CD AS BIZ_CD FROM TB_CD WHERE USE_YN = 'Y' AND GRP_CD = '020') B
			) X
			LEFT OUTER JOIN (
				SELECT
					  C.SHIP_REQ_DATE AS STD_DATE
					, B.BIZ_CD AS BIZ_CD
					, COUNT(*) AS DELI_PLAN_CNT
					, E.DELI_COMP_CNT
				FROM TB_DELI A WITH(NOLOCK)
				INNER JOIN TB_DELI_DTL B WITH(NOLOCK)
					ON B.SHIP_NO = A.SHIP_NO
				INNER JOIN TB_CAR_ZONE_IO C WITH(NOLOCK)
					ON C.SHIP_NO = B.SHIP_NO
					AND C.AGENT_CD = B.AGENT_CD
					AND C.DELI_NO = B.DELI_NO
				LEFT OUTER JOIN REST1 D
					ON D.REST_DATE = A.SHIP_REQ_DATE
					AND D.CAR_ID = A.CAR_ID
				CROSS APPLY (
					SELECT COUNT(*) AS DELI_COMP_CNT
					FROM TB_CAR_ZONE_IO AA WITH(NOLOCK)
					INNER JOIN TB_DELI_DTL BB WITH(NOLOCK)
						ON BB.SHIP_NO = AA.SHIP_NO
						AND BB.AGENT_CD = AA.AGENT_CD
						AND BB.DELI_NO = AA.DELI_NO
					LEFT OUTER JOIN REST1 CC
						ON DATEDIFF(DAY, CC.REST_DATE, AA.ARR_DT) = 0
						AND CC.CAR_ID = AA.CAR_ID
					WHERE ISNULL(CC.REST_CD, 'N') = 'N'
					AND DATEDIFF(DAY, GETDATE(), AA.ARR_DT) = 0
					AND BB.BIZ_CD = B.BIZ_CD
				) E
				WHERE DATEDIFF(DAY, GETDATE(), C.SHIP_REQ_DATE) = 0
				AND ISNULL(D.REST_CD, 'N') = 'N'
				GROUP BY C.SHIP_REQ_DATE, B.BIZ_CD, E.DELI_COMP_CNT
			) Y
				ON Y.STD_DATE = X.STD_DATE
				AND Y.BIZ_CD = X.BIZ_CD
		)
		SELECT
			  CAST(T2.STD_DATE AS DATETIME) AS STD_DT
			, T2.BIZ_CD
			, ISNULL(T3.DELI_COMP_CNT, 0) AS DELI_COMP_CNT
			, ISNULL(T3.DELI_PLAN_CNT, 0) AS DELI_PLAN_CNT
			, IIF(ISNULL(T3.DELI_PLAN_CNT, 0) &lt; ISNULL(T3.DELI_COMP_CNT, 0), 0 ,ISNULL(T3.DELI_PLAN_CNT, 0) - ISNULL(T3.DELI_COMP_CNT, 0)) AS DELI_INCOMP_CNT
		FROM T2
		LEFT OUTER JOIN T3
			ON T3.STD_DATE = T2.STD_DATE
			AND T3.BIZ_CD = T2.BIZ_CD
		UNION ALL
		SELECT
			  CAST(T4.STD_DATE AS DATETIME) AS STD_DT
			, T4.BIZ_CD
			, T4.DELI_COMP_CNT
			, T4.DELI_PLAN_CNT
			, T4.DELI_PLAN_CNT - T4.DELI_COMP_CNT AS DELI_INCOMP_CNT
		FROM T4
		ORDER BY T2.BIZ_CD, CAST(T2.STD_DATE AS DATETIME)
	</select>

	<select id="arrNorRtList" parameterType="map" resultType="box">
		<include refid="carRestCte"/>
		,T1 AS (
			SELECT CAST(GETDATE() - 2 AS DATE) AS STD_DATE
			UNION ALL
			SELECT DATEADD(DAY, 1, STD_DATE)
			FROM T1
			WHERE STD_DATE &lt; CAST(GETDATE() - 1 AS DATE)
		),
		T2 AS (
			SELECT
				  A.STD_DATE
				, B.BIZ_CD
				, C.CENTER_CD
				, C.CENTER_NM
			FROM T1 A
			CROSS JOIN (SELECT CD AS BIZ_CD FROM TB_CD WHERE USE_YN ='Y' AND GRP_CD = '020') B
			CROSS JOIN (SELECT CENTER_CD, CENTER_NM FROM TB_CENTER WHERE USE_YN = 'Y' AND CENTER_CD IN ('1200', '1300', '1400', '2300', '2700', '3600')) C
		),
		T3 AS (
			SELECT
				  A.STD_DATE
				, A.BIZ_CD
				, A.CENTER_CD
				, IIF(SUM(A.ARR_TOT_CNT) = 0, 0, CAST(SUM(A.ARR_AGENT_NOR_CNT) * 100.0 / SUM(A.ARR_TOT_CNT) AS NUMERIC(4, 1))) AS ARR_NOR_RT
			FROM TB_CAR_STAT A WITH(NOLOCK)
			WHERE A.STD_DATE &gt;= CAST(GETDATE() - 2 AS DATE)
			AND A.STD_DATE &lt; CAST(GETDATE() AS DATE)
			AND A.CENTER_CD IS NOT NULL
		    AND A.REST_CD = 'N'
			GROUP BY A.STD_DATE, A.BIZ_CD, A.CENTER_CD
		),
		T4 AS (
			SELECT
				  X.STD_DATE
				, X.BIZ_CD
				, X.CENTER_CD
				, X.CENTER_NM
				, ISNULL(Y.ARR_NOR_RT, 0) AS ARR_NOR_RT
			FROM (
				SELECT
					  A.STD_DATE
					, B.BIZ_CD
					, C.CENTER_CD
					, C.CENTER_NM
				FROM (SELECT CAST(GETDATE() AS DATE) AS STD_DATE) A
				CROSS JOIN (SELECT CD AS BIZ_CD FROM TB_CD WHERE USE_YN = 'Y' AND GRP_CD = '020') B
				CROSS JOIN (SELECT CENTER_CD, CENTER_NM FROM TB_CENTER WHERE USE_YN = 'Y' AND CENTER_CD IN ('1200', '1300', '1400', '2300', '2700', '3600')) C
			) X
			LEFT OUTER JOIN (
				SELECT
					  CAST(D.ARR_DT AS DATE) AS STD_DATE
					, B.BIZ_CD
					, F.CENTER_CD
					, IIF(
						COUNT(*) = 0,
						0,
						CAST(SUM(IIF(D.AGENT_DELAY_YN = 'N', 1, 0)) * 100.0 / COUNT(*) AS NUMERIC(4, 1))
					) AS ARR_NOR_RT
				FROM TB_DELI_DTL B WITH (NOLOCK)
				INNER JOIN TB_AGENT C WITH(NOLOCK)
					ON C.AGENT_CD = B.AGENT_CD
				INNER JOIN TB_CAR_ZONE_IO D WITH(NOLOCK)
					ON D.SHIP_NO = B.SHIP_NO
					AND D.AGENT_CD = B.AGENT_CD
					AND D.DELI_NO = B.DELI_NO
				LEFT OUTER JOIN REST1 E
					ON E.REST_DATE = D.ARR_DT
					AND E.CAR_ID = D.CAR_ID
				INNER JOIN TB_CAR F WITH(NOLOCK)
					ON F.CAR_ID = D.CAR_ID
					AND F.USE_YN = 'Y'
					AND F.CENTER_CD IS NOT NULL
				WHERE DATEDIFF(DAY, GETDATE(), D.ARR_DT) = 0
				AND B.BIZ_CD IS NOT NULL
				AND ISNULL(E.REST_CD, 'N') = 'N'
				GROUP BY CAST(D.ARR_DT AS DATE), B.BIZ_CD, F.CENTER_CD
			) Y
				ON Y.STD_DATE = X.STD_DATE
				AND Y.BIZ_CD = X.BIZ_CD
				AND Y.CENTER_CD = X.CENTER_CD
		)
		SELECT
			  T2.STD_DATE
			, T2.BIZ_CD
			, T2.CENTER_CD
			, T2.CENTER_NM
			, ISNULL(T3.ARR_NOR_RT, 0) AS ARR_NOR_RT
		FROM T2
		LEFT OUTER JOIN T3
			ON T3.STD_DATE = T2.STD_DATE
			AND T3.BIZ_CD = T2.BIZ_CD
			AND T3.CENTER_CD = T2.CENTER_CD

		UNION ALL
		SELECT
			  T4.STD_DATE
			, T4.BIZ_CD
			, T4.CENTER_CD
			, T4.CENTER_NM
			, T4.ARR_NOR_RT
		FROM T4
		ORDER BY T2.BIZ_CD, T2.STD_DATE, T2.CENTER_CD
	</select>

</mapper>
