<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="set">

	<!-- 그룹코드 검색조건 -->
	<sql id="grpCdSrch">
		<where>
			<if test='srchUseYn != null and srchUseYn != ""'>
				AND A.USE_YN = #{srchUseYn}
			</if>
			<if test='dupleChk == "Y"'>
				AND A.GRP_CD = #{grpCd}
			</if>
			<if test='dupleChk != "Y"'>
				<if test='srchGrpCd != null and srchGrpCd != ""'>
					AND A.GRP_CD LIKE '%' + #{srchGrpCd} + '%'
				</if>
				<if test='srchGrpNm != null and srchGrpNm != ""'>
					AND A.GRP_NM LIKE '%' + #{srchGrpNm} + '%'
				</if>
			</if>
		</where>
	</sql>

	<!-- 그룹코드 총갯수 -->
	<select id="grpCdCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_GRP_CD A
		<include refid="grpCdSrch" />
	</select>

	<!-- 그룹코드 조회 -->
	<select id="grpCdList" parameterType="map" resultType="box">
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY A.GRP_CD ASC) AS RNUM
				</otherwise>
			</choose>
			, A.GRP_CD
			, A.GRP_NM
			, A.APL_STR_DD
			, A.APL_END_DD
			, A.GRP_DESC
			, A.USE_YN AS GRP_USE_YN
			, CASE A.USE_YN WHEN 'Y' THEN '사용' WHEN 'N' THEN '미사용' END AS USE_YN_NM
		FROM TB_GRP_CD A
		<include refid="grpCdSrch" />
	</select>

	<!-- 그룹코드 등록-->
	<insert id="grpCdInsert" parameterType="map">
		INSERT INTO TB_GRP_CD (
			  GRP_CD
			, INSERT_ID
			, GRP_NM
			, APL_STR_DD
			, APL_END_DD
			, GRP_DESC
			, USE_YN
		) VALUES (
			  #{grpCd}
			, #{sBox.userId}
			, #{grpNm}
			, #{aplStrDd}
			, #{aplEndDd}
			, #{grpDesc}
			, #{grpUseYn}
		)
	</insert>

	<!-- 그룹코드 수정-->
	<update id="grpCdUpdate" parameterType="map">
		UPDATE TB_GRP_CD SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, GRP_NM = #{grpNm}
			, APL_STR_DD = #{aplStrDd}
			, APL_END_DD = #{aplEndDd}
			, GRP_DESC = #{grpDesc}
			, USE_YN = #{grpUseYn}
		WHERE GRP_CD = #{grpCd}
	</update>

	<!-- 그룹코드 삭제-->
	<update id="grpCdDelete" parameterType="map">
		DELETE FROM TB_GRP_CD
		WHERE GRP_CD = #{grpCd}
	</update>

	<!-- 코드 검색조건 -->
	<sql id="cdSrch">
		<where>
<!-- 		<if test='grpCd != null and grpCd != ""'> -->
			AND A.GRP_CD = #{grpCd}
<!-- 		</if> -->
		</where>
	</sql>

	<!-- 코드 총갯수 -->
	<select id="cdCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_CD A
		<include refid="cdSrch" />
	</select>

	<!--코드 조회 -->
	<select id="cdList" parameterType="map" resultType="box">
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY A.SEQ ASC, A.CD ASC) AS RNUM
				</otherwise>
			</choose>
			, A.GRP_CD
			, (SELECT GRP_NM FROM TB_GRP_CD WHERE GRP_CD = A.GRP_CD) AS GRP_NM
			, A.CD
			, A.CD_NM
			, A.USE_YN
			, CASE A.USE_YN WHEN 'Y' THEN '사용' WHEN 'N' THEN '미사용' END AS USE_YN_NM
			, A.APL_STR_DD
			, A.APL_END_DD
			, A.CD_DESC
			, A.ETC1
			, A.ETC2
			, A.ETC3
			, A.SEQ
		FROM TB_CD A
		<include refid="cdSrch" />
	</select>

	<!-- 코드 등록-->
	<insert id="cdInsert" parameterType="map">
		INSERT INTO TB_CD (
			  GRP_CD
			, CD
			, INSERT_ID
			, USE_YN
			, CD_NM
			, APL_STR_DD
			, APL_END_DD
			, CD_DESC
			, ETC1
			, ETC2
			, ETC3
			, SEQ
		) VALUES (
			  #{grpCd}
			, #{cd}
			, #{sBox.userId}
			, #{useYn}
			, #{cdNm}
			, #{aplStrDd}
			, #{aplEndDd}
			, #{cdDesc}
			, #{etc1}
			, #{etc2}
			, #{etc3}
			, (SELECT ISNULL(MAX(SEQ), 0) + 1  FROM TB_CD WHERE GRP_CD = #{grpCd})
		)
	</insert>

	<!-- 코드 수정-->
	<update id="cdUpdate" parameterType="map">
		UPDATE TB_CD SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			<if test='oldCd != null and oldCd != ""'>
				, CD = #{cd}
			</if>
			, USE_YN = #{useYn}
			, CD_NM = #{cdNm}
			, APL_STR_DD = #{aplStrDd}
			, APL_END_DD = #{aplEndDd}
			, CD_DESC = #{cdDesc}
			, ETC1 = #{etc1}
			, ETC2 = #{etc2}
			, ETC3 = #{etc3}
			, SEQ = #{seq}
		WHERE GRP_CD = #{grpCd}
		<choose>
			<when test='oldCd != null and oldCd != ""'>
				AND CD = #{oldCd}
			</when>
			<otherwise>
				AND CD = #{cd}
			</otherwise>
		</choose>
	</update>

	<!-- 코드 삭제-->
	<update id="cdDelete" parameterType="map">
		DELETE FROM TB_CD
		WHERE GRP_CD = #{grpCd}
		<if test='cdArry == null or cdArry == "" or cdArry instanceof String'>
			AND CD = #{cd}
		</if>
		<if test='cdArry != null and cdArry != "" and !(cdArry instanceof String)'>
			<foreach item="item" collection="cdArry" open="AND CD IN (" separator=", " close=")">
				#{item}
			</foreach>
		</if>
	</update>

	<!-- 메시지 검색조건 -->
	<sql id="msgSrch">
		<where>
			<if test='srchMsgId != null and srchMsgId != ""'>
				AND A.MSG_ID LIKE '%' + #{srchMsgId} + '%'
			</if>
			<if test='srchWord != null and srchWord != ""'>
				AND A.MSG_NM LIKE '%' + #{srchWord} + '%'
			</if>
			<if test='srchMsgType != null and srchMsgType != ""'>
				AND A.MSG_TYPE = #{srchMsgType}
			</if>
		</where>
	</sql>

	<!-- 메시지 총갯수-->
	<select id="msgCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_MSG A
		<include refid="msgSrch" />
	</select>

	<!-- 메시지 조회-->
	<select id="msgList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
				<choose>
					<when test='sortColumn != null and sortColumn != ""'>
						ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
					</when>
					<otherwise>
						ROW_NUMBER() OVER(ORDER BY MSG_ID ASC) AS RNUM
					</otherwise>
				</choose>
				, A.MSG_ID
				, A.MSG_TYPE
				, CASE A.MSG_TYPE WHEN 'I' THEN '정보' WHEN 'W' THEN '경고' WHEN 'E' THEN '업무오류' WHEN 'F' THEN '시스템에러' WHEN 'S' THEN '성공' END + CONCAT('(', A.MSG_TYPE, ')') AS MSG_TYPE_NM
<!-- 				, CASE WHEN A.MSG_TYPE = 'I' THEN '정보' -->
<!-- 					   WHEN A.MSG_TYPE = 'W' THEN '경고' -->
<!-- 					   WHEN A.MSG_TYPE = 'E' THEN '업무오류' -->
<!-- 					   WHEN A.MSG_TYPE = 'F' THEN '시스템에러' -->
<!-- 					   WHEN A.MSG_TYPE = 'S' THEN '성공' -->
<!-- 				  END + CONCAT('(', A.MSG_TYPE, ')') AS MSG_TYPE_NM -->
<!-- 				, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'MSG_TYPE' AND CD = A.MSG_TYPE) AS MSG_TYPE_NM -->
				, A.MSG_NM
				, A.MSG_DESC
		FROM TB_MSG A
		<include refid="msgSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 메시지 PK조회-->
	<select id="msgView" parameterType="map" resultType="box">
		SELECT
				  A.MSG_ID
				, A.MSG_TYPE
				, CASE A.MSG_TYPE WHEN 'I' THEN '정보' WHEN 'W' THEN '경고' WHEN 'E' THEN '업무오류' WHEN 'F' THEN '시스템에러' WHEN 'S' THEN '성공' END + CONCAT('(', A.MSG_TYPE, ')') AS MSG_TYPE_NM
<!-- 				, (SELECT CD_NM FROM TB_CD WHERE GRP_CD = 'MSG_TYPE' AND CD = A.MSG_TYPE) AS MSG_TYPE_NM -->
				, A.MSG_NM
				, A.MSG_DESC
		FROM TB_MSG A
		WHERE A.MSG_ID = #{msgId}
	</select>

	<!-- 메시지 등록-->
	<insert id="msgInsert" parameterType="map">
		INSERT INTO TB_MSG (
			  MSG_ID
			, INSERT_ID
			, MSG_TYPE
			, MSG_NM
			, MSG_DESC
		) VALUES (
			  #{msgId}
			, #{sBox.userId}
			, #{msgType}
			, #{msgNm}
			, #{msgDesc}
		)
	</insert>

	<!-- 메시지 수정-->
	<update id="msgUpdate" parameterType="map">
		UPDATE TB_MSG SET
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, MSG_TYPE = #{msgType}
			, MSG_NM = #{msgNm}
			, MSG_DESC = #{msgDesc}
		WHERE MSG_ID = #{msgId}
	</update>

	<!-- 메시지 삭제-->
	<update id="msgDelete" parameterType="map">
		DELETE FROM TB_MSG
		WHERE MSG_ID = #{msgId}
	</update>

	<!-- 사용자접속로그 검색조건 -->
	<sql id="userHistSrch">
		<where>
			<if test='srchLoginGb != null and srchLoginGb != ""'>
				AND A.LOGIN_GB = #{srchLoginGb}
			</if>
			<if test='srchWebMobGb != null and srchWebMobGb != ""'>
				AND A.WEB_MOB_GB = #{srchWebMobGb}
			</if>
			<if test='srchUserId != null and srchUserId != ""'>
				AND A.USER_ID LIKE '%' + #{srchUserId} + '%'
			</if>
			<if test='srchUserNm != null and srchUserNm != ""'>
				AND (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.USER_ID) LIKE #{srchUserNm} + '%'
			</if>
			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.INSERT_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112)
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.INSERT_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1
			</if>
		</where>
	</sql>

	<!-- 사용자접속로그 총갯수-->
	<select id="userHistCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_USER_HIST A
		<include refid="userHistSrch" />
	</select>

	<!-- 사용자접속로그 조회-->
	<select id="userHistList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
				<choose>
					<when test='sortColumn != null and sortColumn != ""'>
						ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
					</when>
					<otherwise>
						ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
					</otherwise>
				</choose>
				, A.SEQ
				, A.INSERT_DT
				, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.USER_ID) AS USER_NM
				, A.USER_ID
				, A.IP_ADDR
				, A.LOGIN_GB
				, CASE A.LOGIN_GB WHEN '1' THEN '로그인' WHEN '2' THEN '로그아웃' END AS LOGIN_GB_NM
				, A.WEB_MOB_GB
				, CASE A.WEB_MOB_GB WHEN 'M' THEN '모바일' WHEN 'W' THEN '웹' END AS WEB_MOB_GB_NM
		FROM TB_USER_HIST A
		<include refid="userHistSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 공지사항 검색조건 -->
	<sql id="noticeSrch">
		<where>
			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.INSERT_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112)
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.INSERT_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1
			</if>

			<if test='srchShowYn != null and srchShowYn != ""'>
				AND A.SHOW_YN = #{srchShowYn}
			</if>

			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "title"'>
					AND A.TITLE LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "cont"'>
					AND A.CONT LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "multi"'>
					AND (A.TITLE LIKE '%' + #{srchWord} + '%' OR A.CONT LIKE '%' + #{srchWord} + '%')
				</if>
			</if>
		</where>
	</sql>

	<!-- 공지사항 총갯수-->
	<select id="noticeCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_NOTICE A
		<include refid="noticeSrch" />
	</select>

	<!-- 공지사항 조회-->
	<select id="noticeList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY INSERT_DT DESC) AS RNUM
				</otherwise>
			</choose>
			, A.SEQ
			, A.TITLE
<!-- 			, A.CONT -->
			, A.SHOW_YN
			, CASE A.SHOW_YN WHEN 'Y' THEN '표시' WHEN 'N' THEN '미표시' END AS SHOW_YN_NM
			, A.INSERT_DT
			, A.INSERT_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.INSERT_ID) AS INSERT_NM
		FROM TB_NOTICE A
		<include refid="noticeSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 공지사항 PK조회-->
	<select id="noticeView" parameterType="map" resultType="box">
		SELECT /* 공지사항 */
			  A.SEQ
			, A.TITLE
			, A.CONT
			, A.SHOW_YN
			, CASE A.SHOW_YN WHEN 'Y' THEN '표시' WHEN 'N' THEN '미표시' END AS SHOW_YN_NM
			, A.INSERT_DT
			, A.INSERT_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.INSERT_ID) AS INSERT_NM
			, '/*NO_LOG*/' AS NO_LOG
		FROM TB_NOTICE A
		WHERE A.SEQ = #{seq}
	</select>

	<!-- 공지사항 등록-->
	<insert id="noticeInsert" parameterType="map">
		INSERT INTO TB_NOTICE ( /* 공지사항 */
			  SEQ
			, INSERT_ID
			, TITLE
			, CONT
			, SHOW_YN
		) VALUES (
			  #{seq}
			, #{sBox.userId}
			, #{title}
			, #{cont}
			, #{showYn}
		)
	</insert>

	<!-- 공지사항 수정-->
	<update id="noticeUpdate" parameterType="map">
		UPDATE TB_NOTICE SET /* 공지사항 */
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, TITLE = #{title}
			, CONT = #{cont}
			, SHOW_YN = #{showYn}
		WHERE SEQ = #{seq}
	</update>

	<!-- 공지사항 삭제-->
	<update id="noticeDelete" parameterType="map">
		DELETE FROM TB_NOTICE /* 공지사항 */
		WHERE SEQ = #{seq}
	</update>

	<!-- 1대1문의 검색조건 -->
	<sql id="qnaSrch">
		<where>

			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.QUE_MOD_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112)
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.QUE_MOD_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1
			</if>

			<if test='srchShowYn != null and srchShowYn != ""'>
				AND A.SHOW_YN = #{srchShowYn}
			</if>
			<if test='srchAnsYn != null and srchAnsYn != ""'>
				AND A.ANS_YN = #{srchAnsYn}
			</if>
			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "title"'>
					AND (A.QUE_TITLE LIKE '%' + #{srchWord} + '%' OR A.ANS_TITLE LIKE '%' + #{srchWord} + '%')
				</if>
				<if test='srchMethod == "cont"'>
					AND (A.QUE_CONT LIKE '%' + #{srchWord} + '%' OR A.ANS_CONT LIKE '%' + #{srchWord} + '%')
				</if>
				<if test='srchMethod == "multi"'>
					AND (A.QUE_TITLE LIKE '%' + #{srchWord} + '%' OR A.QUE_CONT LIKE '%' + #{srchWord} + '%'
						 OR A.ANS_TITLE LIKE '%' + #{srchWord} + '%' OR A.ANS_CONT LIKE '%' + #{srchWord} + '%')
				</if>
			</if>
		</where>
	</sql>

	<!-- 1대1문의 총갯수-->
	<select id="qnaCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_QNA A
		<include refid="qnaSrch" />
	</select>

	<!-- 1대1문의 조회-->
	<select id="qnaList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY INSERT_DT DESC) AS RNUM
				</otherwise>
			</choose>
			, A.SEQ
			, A.QUE_TITLE
<!-- 			, A.QUE_CONT -->
			, A.QUE_ID
			, A.QUE_MOD_DT
			, A.ANS_TITLE
<!-- 			, A.ANS_CONT -->
			, A.ANS_ID
			, A.ANS_MOD_DT
			, A.ANS_YN
			, CASE A.ANS_YN WHEN 'Y' THEN '답변완료' WHEN 'N' THEN '답변대기' END AS ANS_YN_NM
<!-- 			, A.SHOW_YN -->
<!-- 			, CASE A.SHOW_YN WHEN 'Y' THEN '표시' WHEN 'N' THEN '미표시' END AS SHOW_YN_NM -->
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.QUE_ID) AS QUE_NM
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.ANS_ID) AS ANS_NM
		FROM TB_QNA A
		<include refid="qnaSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 1대1문의 PK조회-->
	<select id="qnaView" parameterType="map" resultType="box">
		SELECT /* 1대1문의 */
			  A.SEQ
			, A.QUE_TITLE
			, A.QUE_CONT
			, A.QUE_ID
			, A.QUE_MOD_DT
			, A.ANS_TITLE
			, A.ANS_CONT
			, A.ANS_ID
			, A.ANS_MOD_DT
			, A.ANS_YN
			, CASE A.ANS_YN WHEN 'Y' THEN '답변완료' WHEN 'N' THEN '답변대기' END AS ANS_YN_NM
<!-- 			, A.SHOW_YN -->
<!-- 			, CASE A.SHOW_YN WHEN 'Y' THEN '표시' WHEN 'N' THEN '미표시' END AS SHOW_YN_NM -->
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.QUE_ID) AS QUE_NM
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.ANS_ID) AS ANS_NM
			, '/*NO_LOG*/' AS NO_LOG
		FROM TB_QNA A
		WHERE A.SEQ = #{seq}
	</select>

	<!-- 1대1문의질문 등록-->
	<insert id="qnaInsert" parameterType="map">
		INSERT INTO TB_QNA ( /* 1대1문의 */
			  SEQ
			, INSERT_ID
			, QUE_TITLE
			, QUE_CONT
			, QUE_ID
			, QUE_MOD_DT
			, ANS_YN
<!-- 			, SHOW_YN -->
		) VALUES (
			  #{seq}
			, #{sBox.userId}
			, #{queTitle}
			, #{queCont}
			, #{sBox.userId}
			, GETDATE()
			, 'N'
<!-- 			, #{showYn} -->
		)
	</insert>

	<!-- 1대1문의질문 수정-->
	<update id="qnaUpdate" parameterType="map">
		UPDATE TB_QNA SET /* 1대1문의 */
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, QUE_TITLE = #{queTitle}
			, QUE_CONT = #{queCont}
			, QUE_ID = #{sBox.userId}
			, QUE_MOD_DT = GETDATE()
		WHERE SEQ = #{seq}
	</update>

	<!-- 1대1문의질문 삭제-->
	<update id="qnaDelete" parameterType="map">
		DELETE FROM TB_QNA /* 1대1문의 */
		WHERE SEQ = #{seq}
	</update>

	<!-- 1대1문의답변 등록및 수정 -->
	<update id="qnaAnsUpdate" parameterType="map">
		UPDATE TB_QNA SET /* 1대1문의 */
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, ANS_TITLE = #{ansTitle}
			, ANS_CONT = #{ansCont}
			, ANS_ID = #{sBox.userId}
			, ANS_MOD_DT = GETDATE()
			, ANS_YN = 'Y'
<!-- 			, SHOW_YN = #{showYn} -->
		WHERE SEQ = #{seq}
	</update>

	<!-- 1대1문의답변 삭제-->
	<update id="qnaAnsDelete" parameterType="map">
		UPDATE TB_QNA SET /* 1대1문의 */
			  UPDATE_DT = GETDATE()
			, UPDATE_ID = #{sBox.userId}
			, ANS_TITLE = NULL
			, ANS_CONT = NULL
			, ANS_ID = NULL
			, ANS_MOD_DT = NULL
			, ANS_YN = 'N'
<!-- 			, SHOW_YN = #{showYn} -->
		WHERE SEQ = #{seq}
	</update>

	<!-- 알림내역이력 검색조건 -->
	<sql id="alarmHistSrch">
		<where>
			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.SEND_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112)
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.SEND_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1
			</if>

			<if test='srchPushType != null and srchPushType != ""'>
				AND A.PUSH_TYPE = #{srchPushType}
			</if>
			<if test='srchSendFlag != null and srchSendFlag != ""'>
				<if test='srchSendFlag == "200"'>
					AND A.SEND_FLAG = #{srchSendFlag}
				</if>
				<if test='srchSendFlag == "NOT"'>
					AND A.SEND_FLAG IS NULL
				</if>
				<if test='srchSendFlag == "ETC"'>
					AND A.SEND_FLAG != '200'
				</if>
			</if>
			<if test='srchRecvFlag != null and srchRecvFlag != ""'>
				<if test='srchRecvFlag == "200"'>
					AND A.RECV_FLAG = #{srchRecvFlag}
				</if>
				<if test='srchRecvFlag == "NOT"'>
					AND A.RECV_FLAG IS NULL
				</if>
				<if test='srchRecvFlag == "ETC"'>
					AND A.RECV_FLAG != '200'
				</if>
			</if>

			<if test='srchWord != null and srchWord != ""'>
				<if test='srchMethod == "sendId"'>
					AND A.SEND_ID LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "sendNm"'>
					AND (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.SEND_ID) LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "recvId"'>
					AND A.RECV_ID LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "recvNm"'>
					AND (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.RECV_ID) LIKE '%' + #{srchWord} + '%'
				</if>
				<if test='srchMethod == "sendTitle"'>
					AND A.SEND_TITLE LIKE '%' + #{srchWord} + '%'
				</if>
			</if>
		</where>
	</sql>

	<!-- 알림내역이력 총갯수-->
	<select id="alarmHistCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_PUSH_HIST A
		<include refid="alarmHistSrch" />
	</select>

	<!-- 알림내역이력 조회-->
	<select id="alarmHistList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY SEND_NO DESC, SEND_DT DESC) AS RNUM
				</otherwise>
			</choose>
			, A.SEQ
			, A.SEND_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.SEND_ID) + ' (' + A.SEND_ID + ')' AS SEND_NM
			, A.SEND_TITLE
			, A.SEND_TXT
			, A.RECV_ID
			, (SELECT USER_NM FROM TB_USER WHERE USER_ID = A.RECV_ID) + ' (' + A.RECV_ID + ')' AS RECV_NM
			, A.PUSH_TYPE
			, CASE A.PUSH_TYPE WHEN '01' THEN '공장출발' WHEN '02' THEN '차량온도이탈' WHEN '03' THEN '창고온도이탈' WHEN '04' THEN '기타전송' END AS PUSH_TYPE_NM
			, A.SEND_DT
			, ISNULL(CAST(A.SEND_FLAG AS VARCHAR(20)), '전송전') AS SEND_FLAG
			, A.MSG_IDX
			, ISNULL(CAST(A.RECV_FLAG AS VARCHAR(20)), '수신전') AS RECV_FLAG
			, A.RECV_TXT
			, A.SEND_NO
		FROM TB_PUSH_HIST A
		<include refid="alarmHistSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 알림전송 발송번호 발급 -->
	<select id="sendNoView" parameterType="map" resultType="int">
		SELECT ISNULL(MAX(SEND_NO), 0) + 1 AS SEND_NO FROM TB_PUSH_HIST
	</select>

	<!-- 알림내역 등록-->
	<insert id="alarmInsert" parameterType="map">
		INSERT INTO TB_PUSH_HIST (
			  INSERT_ID
			, SEND_NO
			, SEND_ID
			, SEND_TITLE
			, SEND_TXT
			, RECV_ID
			, PUSH_TYPE
			, SEND_DT
		) VALUES (
			  #{sBox.userId}
			, #{sendNo}
			, #{sBox.userId}
			, #{sendTitle}
			, #{sendTxt}
			, #{recvId}
			, '04'
			, GETDATE()
		)
	</insert>

	<!-- 미등록단말기내역 검색조건 -->
	<sql id="noregDevSrch">
		<where>
			<if test='srchCarNo != null and srchCarNo != ""'>
				AND A.CAR_NO LIKE '%' + #{srchCarNo} + '%'
			</if>
			<if test='srchCarTid != null and srchCarTid != ""'>
				AND A.CAR_TID LIKE '%' + #{srchCarTid} + '%'
			</if>
			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.INSERT_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112)
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.INSERT_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1
			</if>
		</where>
	</sql>

	<!-- 미등록단말기내역 총갯수-->
	<select id="noregDevCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_CAR_NOREG_HIST A WITH (NOLOCK)
		<include refid="noregDevSrch" />
	</select>

	<!-- 미등록단말기내역 조회-->
	<select id="noregDevList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
				<choose>
					<when test='sortColumn != null and sortColumn != ""'>
						ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
					</when>
					<otherwise>
						ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
					</otherwise>
				</choose>
				, A.SEQ
				, A.INSERT_DT
				, A.INSERT_ID
				, A.CAR_NO
				, A.CAR_TID
				, A.USE_YN
				, A.LOG_DIV
				, A.XPOS
				, A.YPOS
				, A.DAY_TOT_DIS
				, A.TURN_YN
				, CASE A.TURN_YN WHEN 'Y' THEN 'ON' WHEN 'N' THEN 'OFF' END AS TURN_YN_NM
				, A.SPD
				, CASE WHEN A.CH1 IS NULL THEN NULL ELSE CONVERT(FLOAT, A.CH1) / 10 END AS CH1
				, CASE WHEN A.CH2 IS NULL THEN NULL ELSE CONVERT(FLOAT, A.CH2) / 10 END AS CH2
				, CASE WHEN A.CH3 IS NULL THEN NULL ELSE CONVERT(FLOAT, A.CH3) / 10 END AS CH3
				, CASE WHEN A.CH4 IS NULL THEN NULL ELSE CONVERT(FLOAT, A.CH4) / 10 END AS CH4
				, A.DEV_DT
				, A.JIBUN_ADDR
				, A.ROAD_ADDR
				, A.TEMP_YN
				, CASE A.TEMP_YN WHEN 'Y' THEN 'ON' WHEN 'N' THEN 'OFF' END AS TEMP_YN_NM
		FROM TB_CAR_NOREG_HIST A WITH (NOLOCK)
		<include refid="noregDevSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 미등록단말기차량목록 조회-->
	<select id="noregCarList" parameterType="map" resultType="box">
		SELECT
			<choose>
				<when test='sortColumn != null and sortColumn != ""'>
					ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
				</when>
				<otherwise>
					ROW_NUMBER() OVER(ORDER BY B.CAR_NO ASC) AS RNUM
				</otherwise>
			</choose>
			, B.SEQ
			, B.INSERT_DT
			, B.CAR_NO
			, B.CAR_TID
			, B.DEV_DT
			, B.XPOS
			, B.YPOS
			, B.DAY_TOT_DIS
		FROM
			(SELECT A.CAR_TID, MAX(A.SEQ) AS SEQ
			 FROM TB_CAR_NOREG_HIST A WITH (NOLOCK)
			 <include refid="noregDevSrch" />
			 GROUP BY A.CAR_TID) AA
			, TB_CAR_NOREG_HIST B WITH (NOLOCK)
		WHERE AA.SEQ = B.SEQ
	</select>

	<!-- 미등록대리점 검색조건 -->
	<sql id="noregAgentSrch">
		<where>
			<if test='srchAgentCd != null and srchAgentCd != ""'>
				AND A.AGENT_CD LIKE '%' + #{srchAgentCd} + '%'
			</if>
			<if test='srchDeliNo != null and srchDeliNo != ""'>
				AND A.DELI_NO LIKE '%' + #{srchDeliNo} + '%'
			</if>
			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.INSERT_DT &gt;= CONVERT(DATETIME, #{srchStrDt}, 112)
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.INSERT_DT &lt; CONVERT(DATETIME, #{srchEndDt}, 112) + 1
			</if>
		</where>
	</sql>

	<!-- 미등록대리점 총갯수-->
	<select id="noregAgentCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_AGENT_NOREG_HIST A WITH (NOLOCK)
		<include refid="noregAgentSrch" />
	</select>

	<!-- 미등록대리점 조회-->
	<select id="noregAgentList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
				<choose>
					<when test='sortColumn != null and sortColumn != ""'>
						ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
					</when>
					<otherwise>
						ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS RNUM
					</otherwise>
				</choose>
				, A.SEQ
				, A.INSERT_DT
				, A.INSERT_ID
				, A.CENTER_CD
				, A.AGENT_CD
				, A.DELI_NO
				, A.DELI_DT
				, A.TID1
				, A.TID2
		FROM TB_AGENT_NOREG_HIST A WITH (NOLOCK)
		<include refid="noregAgentSrch" />
		<include refid="cmn.pageEnd" />
	</select>

	<!-- 대용량엑셀 다운로드 검색조건 -->
	<sql id="csvSrch">
		<where>
			<if test='!srchCenterCdList.isEmpty and srchCenterCdList.size != 0'>
				<foreach item="item" collection="srchCenterCdList" open="AND (" separator=", A.CENTER_CD) > 0 OR " close=", A.CENTER_CD) > 0 OR A.CENTER_CD IS NULL)">
					CHARINDEX(#{item.key}
				</foreach>
			</if>
			<if test='srchDiv != null and srchDiv != ""'>
				AND A.DIV = #{srchDiv}
			</if>

			<if test='srchStrDt != null and srchStrDt != ""'>
				AND A.STR_DATE &gt;= #{srchStrDt}
			</if>
			<if test='srchEndDt != null and srchEndDt != ""'>
				AND A.STR_DATE &lt;= #{srchEndDt}
			</if>
		</where>
	</sql>

	<!-- 대용량엑셀 다운로드 총갯수-->
	<select id="csvCnt" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TB_CSV_FILE A
		<include refid="csvSrch" />
	</select>

	<!-- 대용량엑셀 다운로드 조회-->
	<select id="csvList" parameterType="map" resultType="box">
		<include refid="cmn.pageStr" />
		SELECT
				<choose>
					<when test='sortColumn != null and sortColumn != ""'>
						ROW_NUMBER() OVER(ORDER BY ${sortColumn} ${sortOrder}) AS RNUM
					</when>
					<otherwise>
						ROW_NUMBER() OVER(ORDER BY STR_DATE DESC, CENTER_CD ASC) AS RNUM
					</otherwise>
				</choose>
				, A.CSV_SEQ
				, A.INSERT_DT
				, A.STR_DATE
				, A.END_DATE
				, A.CENTER_CD
				, ISNULL((SELECT CENTER_NM FROM TB_CENTER WHERE CENTER_CD = A.CENTER_CD), '전체센터') AS CENTER_NM
				, A.FILE_NM
				, A.FILE_SIZE
				, A.CNT
				, A.DIV
				, CASE WHEN A.DIV = 'CAR' THEN '차량운행현황' WHEN A.DIV = 'CARGO' THEN '창고온도현황' END AS DIV_NM
<!-- 				, A.SAVE_FILE_NM -->
<!-- 				, A.SAVE_FILE_PATH -->
		FROM TB_CSV_FILE A
		<include refid="csvSrch" />
		<include refid="cmn.pageEnd" />
	</select>
</mapper>

